{% extends "base.html" %}
{% block title %}E-Dergi -  {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/ezine.css');</style>
{% endblock %}
{% block content %}
<div class="page_title">Pardus e-dergi yayında!</div>
<div class="page_content">
{% ifnotequal ezines.count 1 %}
    <p><a href="http://www.ozgurlukicin.com/">Pardus</a> topluluğu tarafından hazırlanan "<strong>Pardus e-dergi</strong>"nin {{ ezines.0.issue }}. sayısı yayımlandı. Yola çıktığı günden bugüne koskocaman bir yayına dönüşen e-dergimiz bu ay tam <strong>{{ ezines.0.page_count }} sayfa</strong> olarak sitemizde yerini aldı.</p>
    <p>E-derginin içeriği ise şöyle:</p>
{% endifnotequal %}
{% for ezine in ezines %}
{% if forloop.first %}
    <p><img src="{{ ezine.image.file.url }}" alt="{{ ezine.title }}" align="left" /> <span style="font-size: x-large;">{{ ezine.title|safe }}</span></p>
    <p><strong> Editör:</strong> {{ ezine.editor }}</p>
    <p>&nbsp;</p>
    <h3>İndir:</h3>
    <p><a href="{{ ezine.download_300dpi }}"><img src="/media/upload/image/pdf.png" style="vertical-align:middle" alt="indir" /> 300 dpi ({{ ezine.size_300dpi|filesizeformat }})</a> <a href="{{ ezine.download_96dpi }}"><img src="/media/upload/image/pdf.png" style="vertical-align:middle" alt="indir" /> 96 dpi ({{ ezine.size_96dpi|filesizeformat }})</a></p>
    <div class="first_ezine_content" style="clear:left;">{{ ezine.description|safe }}</div>
{% ifnotequal ezines.count 1 %}
    <hr />
    <p style="margin-top:20px">Pardus topluluğu tarafından hazırlanan "Pardus e-dergi"nin ve "Özgürlükİçin e-dergi"nin eski sayılarına aşağıdan ulaşabilirsiniz. Tüm dergilerin içerikleri göstermek için <a onclick="$('.ezine_content').show()" style="cursor:pointer">buraya</a> tıklayın.</p>
{% endifnotequal %}
{% else %}
    <p style="margin-top:30px"><img src="{{ ezine.image.file.url }}" alt="{{ ezine.title }}" align="left" style="width:250px"/> <span style="font-size: large;">{{ ezine.title|safe }}</span></p>
    <p><strong> Editör:</strong> {{ ezine.editor }}</p>
    <h3>İndir:</h3>
    <p><a href="{{ ezine.download_300dpi }}"><img src="/media/upload/image/pdf.png" style="vertical-align:middle" alt="indir" /> 300 dpi ({{ ezine.size_300dpi|filesizeformat }})</a> <a href="{{ ezine.download_96dpi }}"><img src="/media/upload/image/pdf.png" style="vertical-align:middle" alt="indir" /> 96 dpi ({{ ezine.size_96dpi|filesizeformat }})</a></p>
    <div class="ezine_toggle" onclick="$(this).next().toggle()"><span>Dergi içeriğini göster/gizle</span><img src="/media/img/new/button_toggle.png" alt="[Gizle/Göster]" /></div>
    <div class="ezine_content">{{ ezine.description|safe }}</div>
{% endif %}
{% endfor %}
</div>
{% endblock %}
{% block ezine %}{% endblock %}
