{% extends "base.html" %}
{% load library %}
{% load i18n %}
{% block title %}{{ howto.title }} - {% trans "Howto" %} - {% endblock %}
{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/new/article.css');</style>
    <style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% if user.is_authenticated %}
    <script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
    <script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="page_title">{{ howto.title }}</div>
<div class="page_content">
{{ howto.text|safe }}
</div>
<div style="float:right; margin-right:10px"><a href="{{ howto.topic.get_latest_post_url }}">{% blocktrans count howto.topic.posts|add:"-1" as number_of_comments %}{{ number_of_comments }} comment{% plural %}{{ number_of_comments }} comments{% endblocktrans %}</a> <a href="{{ howto.topic.get_latest_post_url }}"><img src="/media/dijital/img/forum/msg_sim.gif" /></a></div>
<p>
{% if user.is_authenticated %}
    {% if form %}
        <form method="post" action="{{ howto.topic.get_reply_url }}">
            {{ form }}
            <br />
            <input type="submit" value="{% trans "Submit" %}" />
        </form>
    {% endif %}
{% endif %}
</p>
<div class="page_printable"><a href="{{ howto.get_printable_url }}"><img src="/media/img/print.png" alt="{% trans "print" %}" title="{% trans "printer friendly view" %}" /></a></div>
<div class="page_last_update">{% trans "Last update:" %} {{ howto.update|timedelta }}</div>

{% endblock %}

{% block leftcolumn %}
<div class="sidebarcolumn leftcolumn">
    <div class="leftcolumn_content">
        <h2>{% trans "Tags" %}</h2>
        <p><img src="/media/img/new/tag.png" style="vertical-align: middle;" /> {% for tag in howto.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if forloop.last %}{% else %},{% endif %} {% endfor %}
        </p>
    </div>
    {% if howto.wiki.all %}
    <div class="leftcolumn_content">
        <h2>{% trans "Related wiki pages" %}</h2>
        <ul class="sidebar_firststeps">
            {% for wiki in howto.wiki.all %}<li><a href="{{ wiki.get_absolute_url }}">{{ wiki.name }}</a></li>{% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if howto.videos.all %}
    <div class="leftcolumn_content">
        <h2>{% trans "Related videos" %}</h2>
        <p>
        {% for video in howto.videos.all %}
            {% include "video.html" %}
        {% endfor %}
        </p>
    </div>
    {% endif %}
    <div class="leftcolumn_content">
        <h2>{% trans "Author" %}</h2>
        <p>{{ howto.author }}</p>
    </div>

    <div class="leftcolumn_content">
        <h2>{% trans "Contribute" %}</h2>
        <p>{% blocktrans %}If you want to contribute to howto section, click <a href="/katki/nasil/">here</a> to visit the contribution guide.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
