{% load library %}
{% extends "base.html" %}

{% block title %}Nasıl - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}howto{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}
<br/>

{% block content %}
{% for howto in howto_list %}
<div id="howto-{{ howto.id }}" class="howtos">
    <div class="howtos_title transparent_link"><a href="{{ howto.get_absolute_url }}">{{ howto.title }}</a></div>
    <div class="howtos_content grey">{{ howto.sum }}
        <p class="howtos_tags" style="padding-top: 4px;"><img src="/media/img/tag_red.png" style="vertical-align: middle;" /> {% for tag in howto.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</p>
    </div>
</div>
{% endfor %}

{% if is_paginated %}<div class="paginator_block"><div class"paginator_pages">{% paginator %}</div><div class="paginator_description">{{ pages }} sayfada toplam {{ hits }} nasıl yazısı bulunmaktadır.</div></div>{% endif %}
{% endblock %}

{% block sidebartop %}{% endblock %}

{% block sidebar %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Katkıda bulunun</h2>
        <p>Nasıl bölümüne katkıda bulunmak istiyorsanız <a
            href="/katki/nasil/">buraya</a> tıklayarak size kılavuzluk edecek
        sayfaya gidebilirsiniz.</p>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
{% if firststep %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>İlk Adımlar</h2>
        <ul class="sidebar_firststeps">
        {% for fs in firststep %}
            <li><a href="{{ fs.get_absolute_url }}">{{ fs.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
{% endif %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Özgürlükİçin OOXML'e Karşı</h2>
        <a href="/ooxml/"><img src="/media/ooxml/ooxmlekarsi.png" /></a>
        <p><a href="/ooxml/">"Özgürlükİçin OOXML'e Hayır!"</a> diyoruz. <a href="/ooxml_banner/">Banner ve düğmelerimizi</a> kullanarak kampanyamıza katkıda bulunabilir ve manifestomuzu destekleyerek siz de OOXML'e hayır diyebilirsiniz.</p>
        <div id="ooxmlbar" style="width:210px;height:20px;border:1px #6992A6 solid;"><div id="ooxmlbar_completed" style="background-color:#51798E;height:100%;float:left;width:{{ petitionpercent }}%;">&nbsp;</div></div>
        <p style="font-weight:bold;">Destekleyenler: {{ numberofpetitioners }} / 3000</p>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Ara</h2>
        <form method="post" action="/arama/">
            <input type="text" name="term" size="20"><br />
            <input type="submit" value="Bul">
        </form>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Özgürlükiçin'i destekleyin</h2>
        <a href="/banner/"><img
            src="/media/img/pardus_ozgurluk.png"></a><p>Pardus'un tanıtımına
        katkıda bulunmak isteyenler için Özgürlükiçin düğmeleri yayınlandı.
        Sitenizde, blogunuzda yayınlamak için siz de <a href="/banner/">hazır
            kodlarımızdan</a> yararlanabilirsiniz.</p>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
{% endblock %}
