/*The colors here */

.blue{
	color:#51798E;
}

/*The colors end here */

/* header */
#header {
    background:url(/media/dijital/img/forum/header.png); 
}

#page {
    margin: 0px auto;
    width: 900px;

}

#content {
    padding: 0px 0px 20px 0px;
    float: left;
    width: 100%;
    background-color:#FFFFFF;	
}

.page_title {
    font-size: 18px;
    border-bottom: 1px dashed #c0c0c0;
    padding-bottom: 6px;
    padding-left: 2px;
    margin-right: 10px;
    color: #339966;
}


.page_content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.transparent_link {
    color: #000000;
}

.transparent_link a, .transparent_link a:visited {
    color: #000000;
    text-decoration: none;
}

.transparent_link a:hover {
    background-color: transparent;
}
 

.paginator {
    padding-top: 12px;
    clear: both;
    text-align: center;
    font-size: 12px;
}

.paginate-current {
    font-weight: bold;
}


.forum_title {
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 10px;
    margin-left: 2px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    /*background: url('/media/img/planet_title.png') no-repeat;*/
}

.forum_content {
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

body {
    font: 75%/150% "Trebuchet MS", Tahoma, Arial;
    color: #333333;
    margin: 0px;
    padding: 0px 0px 20px 0px;
    background-color:#FFFFFF;
    background-image:url(/media/dijital/img/bg.jpg);
    background-repeat:repeat-x;
margin:0px;
    
    }


/** PAGINATOR **/
.paginator { padding:.5em .75em; float:left; font:normal .8em arial; }

.paginator a {
    text-decoration: none;
}

.paginator .prev-na,
.paginator .next-na {
	padding:.3em;
	font:bold .875em arial;
}
 
.paginator .prev-na,
.paginator .next-na {
	border:1px solid #ccc;
	background-color:#f9f9f9;
	color:#aaa;
	font-weight:normal;
}
 
.paginator .prev a, .paginator .prev a:visited,
.paginator .next a, .paginator .next a:visited {
	border:1px solid #c2ee62;
	background-color:#edfdd0;
	color:#234f32;
	padding:.3em;
	font:bold .875em arial;
}

.paginator .page a, .paginator .page a:visited, .paginator .curr {
	padding:.25em;
	font:normal .875em verdana;
	border:1px solid #C2EE62;
	background-color:#EDFDD0;
	color:#006000;
}
 
.paginator .curr { 
	background-color:#234f32;
	color:#fff;
	border:1px solid #234f32;
	font-weight:bold;
	font-size:1.2em;
}
 
.paginator .page a:hover,
.paginator .curr a:hover,
.paginator .prev a:hover,
.paginator .next a:hover {
	color:#fff;
	background-color:#234f32;
	border:1px solid #234f32;
}


/*That part is for forum list*/
#forum_main_header_space { height:20px; }
#forum_main_header {
    background:url(/media/dijital/img/forum/mavi_bar.gif);
    height:32px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}
#forum_icon { width: 5%; vertical-align: middle; }
#forum_name { width: 30%; vertical-align: middle; }
#forum_lastpost { width: 45%; vertical-align: middle; }
#forum_topics { width: 10%; vertical-align: middle; text-align: center; }
#forum_posts { width: 10%; vertical-align: middle; text-align: center; }
#category { float: left; clear: left; width: 100%; }
#category_title {
    background: url(/media/dijital/img/forum/forum_bar.gif);
    height: 32px;
    display: table-cell;
    vertical-align: middle;
    width: 900px;
    padding-left: 46px;
    font-weight: bold;
}
#category_forums_item { clear: left; }
#category_forums_item_icon { width: 5%; float: left; }
#category_forums_item_title { width: 30%; float: left; }
#category_forums_item_lastpost { width: 45%; float: left; }
#category_forums_item_topics { width: 10%; float: left; text-align: center; }
#category_forums_item_posts { width: 10%; float: left; text-align: center; }
/*Ends here (yes i was a ...)*/

/*The topic list part is here */

#forum_topic { width: 100%; vertical-align: middle; }
#forum_header { background:url(/media/dijital/img/forum/forum_bar_ciz.gif); height:32px; width:100%; }
#topic_icon { width: 5%; vertical-align: middle; }
#topic_title {  width: 30%; vertical-align: middle; }
#topic_lastpost { width: 45%; vertical-align: middle; }
#topic_posts { width: 10%; vertical-align: middle; text-align: center; }
#topic_views { width: 10%; vertical-align: middle; text-align: center; }
#topics_item { width: 100%; }
#topics_item_icon { width: 5%; vertical-align: middle; }
#topics_item_title { width: 30%; vertical-align: middle; }
#topics_item_lastpost { width: 45%; vertical-align: middle; }
#topics_item_posts { width: 10%; text-align: center; }
#topics_item_views { width: 10%; text-align: center; }

/*Also ends here*/

/* Topic page part is here*/
#forum_editor { background:url(/media/dijital/img/forum/forum_bar.gif); height:26px; padding-top: 8px; padding-left: 10px; }
#forum_adres {
    background: url(/media/dijital/img/forum/forum_bar.gif);
    height: 32px;
    width: 100%;
}
#current_topic { padding-left: 10px; padding-top: 8px; float:left; }
#new_topic { padding-top: 3px; padding-right: 3px; float:right; }
/* Ends here */

/* taken from django trac and modified */
input, textarea, select { margin: 2px }

input[type=button], input[type=submit], input[type=reset] {
background-color: #EEEEEE;
color: #222222;
border: 1px outset #CCCCCC;
padding: .1em .5em;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
background-color: #6992AE;
color: #FFFFFF;
}

input[type=text], input[type=password], textarea {
padding: 2px;
border: 1px solid #D7D7D7
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
padding: 2px;
border: 1px solid #45586F;
}
