/* colors */
.purple {
    color: #9218A4;
}

.purple h1, .purple h2, .purple h3, .purple h4, .purple h5, .purple h6 {
    color: #7C1889;
}

.green {
    color: #69A200;
}

.green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
    color: #537D00;
}

.blue {
    color: #10A8C1;
}

.blue h1, .blue h2, .blue h3, .blue h4, .blue h5, .blue h6 {
    color: #339966;
}

.darkblue {
    color: #33718B;
}

.darkblue h1, .darkblue h2, .darkblue h3, .darkblue h4, .darkblue h5, .darkblue h6 {
    color: #306981;
}

.orange {
    color: #DB5F00;
}

.orange h1, .orange h2, .
h3, .orange h4, .orange h5, .orange h6 {
    color: #CE5900;
}

.yellow {
    color: #827300;
}

.yellow h1, .yellow h2, .yellow h3, .yellow h4, .yellow h5, .yellow h6 {
    color: #339966;
}

.grey {
    color: #000000;
}

.yellow h1, .yellow h2, .yellow h3, .yellow h4, .yellow h5, .yellow h6 {
    color: #323436;
}

.gri{
	color:#707070;
}

/*sorry the name is not meaningful*/
.sari{
	color:#51798E;
}

.siyah{
	color: #000000;
}

/* header */
#header {
    height: 140px;
    border-bottom: 3px solid #59780a;
}

/*burası uçacak*/
.home_header {
    background: url('/media/img/home_header_bg.png') repeat-x;
}

.news_header {
    background: url('/media/img/news_header_bg.png') repeat-x;
}

.forum_header {
    background: url('/media/img/forum_header_bg.png') repeat-x;
}

.fs_header {
    background: url('/media/img/fs_header_bg.png') repeat-x;
}

.howto_header {
    background: url('/media/img/howto_header_bg.png') repeat-x;
}

.package_header {
    background: url('/media/img/package_header_bg.png') repeat-x;
}

.game_header {
    background: url('/media/img/game_header_bg.png') repeat-x;
}

.planet_header {
    background: url('/media/img/planet_header_bg.png') repeat-x;
}
/*burası uçacak soon*/

#logo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo a {
    background-color: transparent;
}

#section_logo {
    padding-left: 755px;
    margin-top: -90px;
}

/* page */
#page {
    margin: 0px auto;
    width: 900px;
    /*border-bottom: 5px solid #7C7C7C;
    border-left: 5px solid #7C7C7C;
    border-right: 5px solid #7C7C7C;*/
    background:url(/media/dijital/img/ara_bg.jpg);
	background-repeat:no-repeat;
	background-color: #CFD7D7;
}

#page-single {
    margin: 0px auto;
    width: 900px;
    border-bottom: 5px solid #d5e6eb;
    border-left: 5px solid #d5e6eb;
    border-right: 5px solid #d5e6eb;
    background: #FFFFFF url('/media/img/content_bg_single.png') repeat-y;
}

#content {
    padding: 10px 0px 20px 10px;
    float: left;
    width: 68%;
	
}

.page_title {
    font-size: 18px;
    border-bottom: 1px dashed #c0c0c0;
    padding-bottom: 6px;
    padding-left: 2px;
    margin-right: 10px;
    color: #339966;
}

.page_content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.page_last_update {
    margin-top: 30px;
    padding-right: 10px;
    float: right;
    opacity: 0.4;
}

.page_properties {
    margin-top: 20px;
    float: left;
}


/* footer */


#footer {
    clear: both;
    /* Disable edelim yeni tasarım için    background: #048DB4 url('/media/img/footer_bg.png') no-repeat; */
    color: #ACD7EE;
    font-size: 95%;
    line-height: 130%;
    padding-bottom: 10px;
}


#credits {
    margin: 0px auto;
    width: 900px;
    color: #7a9299;
    font-size: 85%;
    line-height: 120%;
}

#credits a, #credit a:visited {
    color: #048db4;
}

#credits a:hover {
    background-color: transparent;
}

.footer_about {
    background: url('/media/img/footer_about.png') no-repeat left center;
    padding-left: 18px;
    padding-bottom: 2px;
    margin-left: 8px;
}

.footer_rss {
    background: url('/media/img/footer_rss.png') no-repeat left center;
    padding-left: 18px;
    padding-bottom: 2px;
    margin-left: 8px;
}

.footer_bug {
    background: url('/media/img/footer_bug.png') no-repeat left center;
    padding-left: 18px;
    padding-bottom: 2px;
    margin-left: 8px;
}

/* misc */
.clear {
    clear:both;
}

.rating_bar {
    text-align: center;
}

.game_average_point {
    background: url('/media/dijital/img/game_average_point.jpg') left top no-repeat;
    margin-left: 75px;
    height: 80px;
    width: 80px;
    font-size: 36px;
    text-align: center;
    padding-top: 32px;
    margin-bottom: -30px;
	color: #000000;
}


.transparent_link {
    color: #000000;
}

.transparent_link a, .transparent_link a:visited {
    color: #000000;
    text-decoration: none;
}

.transparent_link a:hover {
    background-color: transparent;
}

/* alignments */
.center {
    text-align: center;
}

img.center, img[align="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    clear: left;
    float: left;
}

img.alignleft, img[align="left"] {
    float: left;
    margin: 2px 10px 5px 0px;
}

.alignright {
    clear: right;
    float: right;
}

img.alignright, img[align="right"] {
    float:right;
    margin: 2px 0px 5px 10px;
}

/* pop */
#pop {
    position: fixed;
    visibility: hidden;
    top: -300px;
    left: 0px;
    z-index: 10000;
    padding: 0px;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
}

.pop_red {
    background-color: #FFB1B1;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #965454;
    border-right: 3px solid #C87979;
    border-top: 3px solid #FFDEDE;
    border-left: 3px solid #FFDEDE;
    -moz-border-radius: 10px;
}

.pop_green {
    background-color: #8CFFA2;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #65CD79;
    border-right: 3px solid #65CD79;
    border-top: 3px solid #c9ffd3;
    border-left: 3px solid #c9ffd3;
    -moz-border-radius: 10px;
}

/* notes */
.note_std, .note_attention, .note_warning, .note_tip, .note_question {
    color: #333;
    padding: 1em 0em 1em 4em;
    margin: 1em auto;
    width: 80% !important;
    background-position: 10px 2ex;
    background-repeat: no-repeat;
    min-height: 24px;
}

.note_std {
    color: inherit;
    background-color: #FFFFE0;
    border: 1px solid #FFFF85;
    background-image: url('/media/img/note.png');
}

.note_warning {
    color: inherit;
    background-color: #FFE0E1;
    border: 1px solid #FF8589;
    background-image: url('/media/img/cross.png');
}

.note_attention {
    color: inherit;
    background-color: #FEE8BD;
    border: 1px solid #FCD483;
    background-image: url('/media/img/error.png');
}

.note_question {
    color: inherit;
    background-color: #EFF5FF;
    border: 1px solid #85B4FF;
    background-image: url('/media/img/question.png');
}

.note_tip {
    color: inherit;
    background-color: #DBFFB9;
    border: 1px solid #789940;
    background-image: url('/media/img/tip.png');
}

/* pagination */
.paginator {
    padding-top: 12px;
    clear: both;
    text-align: center;
    font-size: 12px;
}

/*.paginate-pages {
    padding: 2px 3px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-decoration: underline;
}

.paginate-first, .paginate-last {
    padding: 2px 6px;
    border: 1px solid #ddd;
    font-weight: bold;
}

.paginate-previous, .paginate-next {
    padding: 2px 3px;
    border: 1px solid #ddd;
}

.paginate-link {
    padding: 2px 4px;
    border: 1px solid #ddd;
}

.paginate-current {
    padding: 2px 4px;
    border: 1px solid #ddd;
    font-weight: bold;
    background:#417690;
    color:#f4f379;
}*/

.paginate-current {
    font-weight: bold;
}

/* forms */
input#id_username {
    padding: 0px;
    padding-left: 18px;
    background: #ffffff url('/media/img/input_username.png') no-repeat;
    vertical-align: middle;
}

input#id_password {
    padding: 0px;
    padding-left: 18px;
    background: #ffffff url('/media/img/input_password.png') no-repeat;
    vertical-align: middle;
}

input#form_submit {
    vertical-align: middle;
}

/* planet */
.planet_date {
    margin-top: 20px;
    margin-left: 4px;
    height: 20px;
    width: 120px;
    padding-top: 4px;
    font-size: 18px;
    color: #51798E;
    /*background: url('/media/img/planet_date_bg.png') no-repeat;*/
    text-align: center;
	/*background-color: #FFCA06;;*/
}

.planet_title {
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 10px;
    margin-left: 2px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    /*background: url('/media/img/planet_title.png') no-repeat;*/
}

.planet_content {
    padding-left: 12px;
    padding-right: 20px;
    min-height: 120px;
}

.planet_link a {
color: #51798E;
}

.planet_author {
    min-width: 90px;
    min-height: 90px;
   /* background-color: #7C7C7C;*/
    padding: 5px;
    border: 1px;
	border-style: solid;
        border-color: #7C7C7C;
    float: right;
    text-align: center;
    clear: left;
   
}

/* kwicks */
#menu_container {
    height: 60px;
    width: 724px;
    position: absolute;
    margin-top: 16px;
}

#menu {
    margin: 0px;
    padding: 0px;
    position: relative;
}

#menu .menu {
    float: left;
    display: block;
    width: 120px;
    height: 30px;
    overflow: hidden;
}

/*Daha emin değilim ? gerek var mı*/
ortak_title{
	font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
}

ortak_title_mini{
	font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
    width: 280px;

}

/* content */
.news_title_mini {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
    width: 280px;
}

.news_title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
}

.news_content_mini {
    width: 280px;
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.news_content {
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.packages_title_mini {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
    width: 280px;
}

.packages_title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
}

.packages_content_mini {
    width: 280px;
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.packages_content {
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.games_title_mini {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
    width: 280px;
}

.games_title {
	color:#000000;
    font-size: 22px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
}

.games_content_mini {
    width: 280px;
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.games_content {
	color:#202020;
	font-family:"Liberation Sans","Liberation Serif",Arial;
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.fs_title_mini {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
    width: 280px;
}

.fs_title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
}

.fs_content_mini {
    width: 280px;
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.fs_content {
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.howtos_title_mini {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
    width: 280px;
}

.howtos_title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    margin-top: 10px;
}

.howtos_content_mini {
    width: 280px;
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

.howtos_content {
    padding-left: 10px;
    padding-right: 16px;
    overflow: auto;
}

/* sidebar */
#sidebar {
    float: right;
    position: relative;
	
	
}

.sidebar {
	position: relative;
    width: 228px;
    padding-left: 4px;
    padding-right: 3px;
	background-color: #F7F7F7;
	color:#FFCA06;
}

.sidebar ul {
    margin-top: 0px;
    padding-left: 16px;
	background-color: #000000;
	color:#FFCA06;
}

.sidebar_purple_title {
    margin-top: 10px;
    padding-top: 4px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-repeat: no-repeat;
    background-image: url('/media/img/sidebar_purple.png');
}

.sidebar_top_img{
	margin-top: 10px;
	/*background-repeat: no-repeat;*/
	background-image: url('/media/dijital/img/d_tblust.jpg');
        height: 10px;
}
.sidebar_alt_img{
	background-image: url('/media/dijital/img/d_tblalt.jpg');
	/*background-position: top center;*/
        height: 10px;
}

.sidebar_darkblue_con {
    margin-top: 0px;
    padding-top: 4px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    color:#FFCA06;
    background-repeat: no-repeat;
    /*background-image: url('/media/img/sidebar_darkblue.png');*/
	background-color: #000000;
}

.sidebar_green_title {
    padding-left: 8px;
    margin-top: 10px;
    padding-top: 4px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-repeat: no-repeat;
    background-image: url('/media/img/sidebar_green.png');
}

/* buradan itibaren başlık ve iç diye iki tane sınıf yarattım başlık Etiketler, Ayrıntılar gibi yerleri göstermek için iç ise bunlarda yer alan bilgileri görmek için fakat içle ilgili biraz font oynaması yapmak lazım */


.sidebar_baslik {
margin-right: 20px;
margin-top: 0px;
padding-top: 4px;
height: 25px;
font-size: 14px;
font-weight: bold;
color: #51798E;
/*background-repeat: no-repeat;*/
background-image: url('/media/dijital/img/d_tblbg.jpg');
}

.sidebar_ic {
margin-top: 0px;
margin-right: 20px;
padding-top: 4px;
/*padding-right: 4px;*/
/*height: 50px;*/
font-size: 12px;
color: #696569;
/*background-repeat: no-repeat;*/
background-image: url('/media/dijital/img/d_tblbg.jpg');
}


.sidebar_yellow_title {
    margin-top: 10px;
    padding-top: 4px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #827300;
    background-repeat: no-repeat;
    background-image: url('/media/img/sidebar_yellow.png');
}

.sidebar_red_title {
    margin-top: 10px;
    padding-top: 4px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-repeat: no-repeat;
    background-image: url('/media/img/sidebar_red.png');
}

/* base */
body {
    font: 75%/150% "Trebuchet MS", Tahoma, Arial;
    color: #333333;
    background: #FFFFFF url('/media/img/bg.png');
    margin: 0px;
    padding: 0px 0px 30px;
}

img {
    border: none;
}

p {
    padding: 0px 0px 15px;
    margin: 0px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

/** PAGINATOR **/
.paginator { padding:.5em .75em; float:left; font:normal .8em arial; }

.paginator a {
    text-decoration: none;
}

.paginator .prev-na,
.paginator .next-na {
	padding:.3em;
	font:bold .875em arial;
}
 
.paginator .prev-na,
.paginator .next-na {
	border:1px solid #ccc;
	background-color:#f9f9f9;
	color:#aaa;
	font-weight:normal;
}
 
.paginator .prev a, .paginator .prev a:visited,
.paginator .next a, .paginator .next a:visited {
	border:1px solid #c2ee62;
	background-color:#edfdd0;
	color:#234f32;
	padding:.3em;
	font:bold .875em arial;
}

.paginator .page a, .paginator .page a:visited, .paginator .curr {
	padding:.25em;
	font:normal .875em verdana;
	border:1px solid #C2EE62;
	background-color:#EDFDD0;
	color:#006000;
}
 
.paginator .curr { 
	background-color:#234f32;
	color:#fff;
	border:1px solid #234f32;
	font-weight:bold;
	font-size:1.2em;
}
 
.paginator .page a:hover,
.paginator .curr a:hover,
.paginator .prev a:hover,
.paginator .next a:hover {
	color:#fff;
	background-color:#234f32;
	border:1px solid #234f32;
}