* {
    margin: 0px;
    padding: 0px;
}
img {
    border: 0px;
}
h2 {
    color: #009FE0;
}
body {
    background-color: #EAEAEA;
}
div#header {
    height: 72px;
}
div#page {
    margin-left: auto;
    margin-right: auto;
    width: 983px;
    background-color: white;
    overflow: hidden;
}
div#menu {
    width: 963px;
    position: relative;
    top: 10px;
    left: 10px;
}
div#content {
    width: 639px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 4px;
    float: left;
}
div#sidebar {
    width: 320px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}
div#sidebar div { overflow: hidden; }
div.sidebarcolumn {
    float: left;
    border-left: 1px #EAEAEA solid;
    width: 157px;
}
div.leftcolumn {
}
div.rightcolumn {
    margin-left: 4px;
}
div.leftcolumn_content { margin-left: 4px; }
div.rightcolumn_content { margin-left: 4px; }
div#sidebar_bottom {
    clear: both;
    margin-left: 4px;
}
div#footer {
    width: 963px;
    height: 87px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
}
