* {
    margin: 0px;
    padding: 0px;
}
img {
    border: 0px;
}
h2 {
    color: #009FE0;
}
body {
    background-color: #EAEAEA;
}
div#header {
    height: 72px;
}
div#page {
    margin-left: auto;
    margin-right: auto;
    width: 983px;
    background-color: white;
    overflow: hidden;
}
div#menu {
    width: 963px;
    position: relative;
    top: 10px;
    left: 10px;
}
div#content {
    width: 639px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 4px;
    float: left;
}
div#sidebar {
    width: 320px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}
div#sidebar div { overflow: hidden; }
div.sidebarcolumn {
    float: left;
    border-left: 1px #EAEAEA solid;
    width: 157px;
}
div.leftcolumn {
}
div.rightcolumn {
    margin-left: 4px;
}
div.leftcolumn_content {
    width: 152px;
    margin-left: 4px;
    padding-bottom: 10px;
    border-bottom: 1px #F2F2F2 solid;
    margin-bottom: 15px;
}
div.leftcolumn_content p {
    font-size: 11px;
    color: #C9C9C9;
}
div.leftcolumn_content p.title {
    color: #009FE0;
}
div.rightcolumn_content {
    width: 152px;
    margin-left: 4px;
    padding-bottom: 10px;
    border-bottom: 1px #F2F2F2 solid;
    margin-bottom: 15px;
}
div.rightcolumn_content h2 {
    font-family: "Georgia", serif;
    font-size: 12px;
    color: #999999;
}
div.rightcolumn_content input[type="text"], div.rightcolumn_content input[type="password"] {
    padding-top: 6px;
    padding-left: 8px;
    font-size: 11px;
    color: #CCCCCC;
    width: 142px;
    height: 16px;
    border: 1px #F2F2F2 solid;
    margin-top: 5px;
    background-image: url(/media/img/new/textinput_bg.png);
}
div#sidebar_bottom {
    clear: both;
    margin-left: 4px;
}
div#footer {
    width: 963px;
    height: 87px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
}
