div#content {
    width: 804px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 4px;
    border-right: 1px #EAEAEA solid;
    float: left;
}
div#sidebar {
    width: 153px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}
div.sidebar_content {
    margin-left: 4px;
    padding-bottom: 10px;
    border-bottom: 1px #EAEAEA solid;
    margin-bottom: 15px;
    overflow: hidden;
}
div.sidebar_content h2 {
    font-family: "Georgia", serif;
    font-size: 12px;
    margin-bottom: 10px;
}
div.sidebar_content input[type="text"], div.sidebar_content input[type="password"] {
    padding-top: 6px;
    padding-left: 8px;
    font-size: 11px;
    color: #CCCCCC;
    width: 142px;
    height: 16px;
    border: 1px #F2F2F2 solid;
    margin-bottom: 5px;
    background-image: url(/media/img/new/textinput_bg.png);
}
div.sidebar_content input[type="image"] { float: left; }
div.sidebar_content span.loginlinks {
    float: right;
}
div.sidebar_content span.loginlinks a {
    font-size: 9px;
}
div.category div.titlebar {
    height: 39px;
    width: 801px;
    background: url(/media/img/new/forum_category_bg.png) repeat-x;
}
div.category h2 {
    font-size: 12px;
    font-style: "Arial";
    font-weight: bold;
    margin-top: 17px;
    margin-left: 9px;
    float: left;
}
div.topbar {
    width: 801px;
    font-size: 11px;
    overflow: hidden;
}
div.topbar a {
    color: #666666;
    text-decoration: none;
}
div.topbar a.bold {
    font-weight: bold;
}
div.topbar div.navigation {
    float: left;
}
div.topbar div.notice {
    float: right;
}
