div.headerbar {
    width: 801px;
    height: 43px;
    margin-top: 13px;
    font-size: 11px;
    overflow: hidden;
    background: url(/media/img/new/forum_headerbar_bg.png) repeat-x;
}
div.headerbar div {
    float: left;
    height: 42px;
    line-height: 42px;
    font-family: "Arial";
    color: white;
}
.headerbar .icon { width: 54px; }
.headerbar .title, .forum_list .item .title { width: 477px; }
.headerbar .topics { width: 45px; }
.headerbar .posts { width: 45px; }
.headerbar .lastpost, .forum_list .item .lastpost { width: 153px; }
.headerbar .spacer {
    width: 9px;
    background: url(/media/img/new/forum_headerbar_spacer.png) no-repeat center center;
}
.forum_list .spacer {
    width: 9px;
    background: url(/media/img/new/forum_list_spacer.png) no-repeat bottom center;
}
div.forum_list {
    color: #999999;
    width: 801px;
    margin-top: 1px;
    border-top: 1px #F2F2F2 solid;
    font-size: 11px;
}
div.forum_list div.item {
    border-bottom: 1px #F2F2F2 solid;
    width: 100%;
    height: 60px;
    overflow: hidden;
}
div.forum_list div.item div {
    float: left;
    height: 100%;
}
.forum_list .item .icon {
    margin-top: 10px;
    margin-left: 10px;
    width: 35px;
}
.forum_list .item .title, .forum_list .item .lastpost {
    margin-top: 12px;
    line-height: 15px;
}
.forum_list .item .topics, .forum_list .item .posts {
    margin-left: 5px;
    line-height: 60px;
    width: 40px;
}
.forum_list a {
    color: #666666;
    font-weight: bold;
    text-decoration: none;
}
