div#content {
    width: 804px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 4px;
    border-right: 1px #EAEAEA solid;
    float: left;
}
div#sidebar {
    width: 153px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}
div.sidebar_content {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px #F2F2F2 solid;
    margin-bottom: 15px;
    overflow: hidden;
}
div.sidebar_content h2 {
    font-family: "Georgia", serif;
    font-size: 12px;
    color: #666666;
    margin-bottom: 10px;
}
div.sidebar_content input[type="text"], div.sidebar_content input[type="password"] {
    padding-top: 6px;
    padding-left: 8px;
    font-size: 11px;
    color: #CCCCCC;
    width: 142px;
    height: 16px;
    border: 1px #F2F2F2 solid;
    margin-bottom: 5px;
    background-image: url(/media/img/new/textinput_bg.png);
}
div.sidebar_content input[type="image"] { float: left; }
div.sidebar_content span.loginlinks {
    float: right;
}
div.sidebar_content span.loginlinks a {
    text-decoration: none;
    font-size: 9px;
}
div.sidebar_content p {
    color: #999999;
}
div.sidebar_content p a {
    color: #009FE0;
    text-decoration: none;
}
