div.summary_container {
    width: 640px;
    font-size: 11px;
    overflow: hidden;
    clear: both;
}
div.summary_container div.column {
    width: 153px;
    height: 200px;
    overflow: hidden;
    float: left;
}
div.summary_container div.first {
    margin-right: 9px;
    display: inline;
}
div.summary_container div.column img {
    width: 150px;
}
div.summary_container div.column div.title { margin-bottom: 5px; }
div.summary_container div.column div.title a {
    font-size: 17px;
    color: #009FE9;
    text-decoration: none;
}
div.summary_container div.columnspacer {
    width: 4px;
    height: 200px;
    border-left: 1px #EAEAEA solid;
    float: left;
    margin-left: 4px;
}
.column .info {
    text-align: left;
    width: 180px;
    float: left;
}
.column .info, .column .info a, .column .info span {
    font-size: 11px;
}
.column .info a {
    text-decoration: none;
    color: #666666;
}
div.news_container {
    margin-bottom: 5px;
    width: 639px;
    font-size: 11px;
    overflow: hidden;
    clear: both;
}
div.news_container img {
    float: left;
    margin-right: 15px;
    display: inline;
}
div.news_container div.column {
    float: left;
    width: 640px;
}
div.news_container div.column div.title {
    margin-bottom: 25px;
}
div.news_container div.column div.title a {
    font-size: 20px;
    color: #009FE9;
    text-decoration: none;
}
div.news_container div.column div.left_column {
    margin: 0 auto;
    height:200px;
    vertical-align:middle;
    float: left;
    width: 310px;
}
div.news_container div.column div.right_column {
    float: left;
    height:200px;
    width: 320px;
    margin-left:10px;
}
#button_news_changer {
    float: left;
    position: relative;
    top: -15px;
    margin-left: 170px;
}
#news_count {
    font-weight: bold;
}

#counter {
    float: left;
    width: 61px;
    height: 29px;
    text-align: center;
    line-height:25px;
    margin-bottom: 5px;
    background: url('/media/img/new/news_progress_bg.png') no-repeat;
}
#news_count img {
    margin: 1px;
    margin-right: 2px;
    margin-top: 9px;
    cursor: pointer;
}

.hidden {
    display:none;
}
