div.paginator_block {
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
}
div.paginator {
    float: left;
}
div.paginator_description {
    float: right;
    width: 153px;
    border-bottom: 3px #219CDE solid;
    font-size: 10px;
    margin-right: 4px;
    padding-bottom: 3px;
}
div.paginator div {
    width: 17px;
    height: 19px;
    margin-right: 2px;
    padding-top: 7px;
    font-size: 11px;
    background-image: url(/media/img/new/paginator_button.png);
    text-align: center;
    float: left;
}
div.paginator div a,
div.paginator div a:visited {
    color: #666666;
    text-decoration: none;
}
div.paginator div.curr {
    width: 25px;
    color: white;
    font-weight: bold;
    background-image: url(/media/img/new/paginator_current.png);
}
