.post {
    width: 640px;
    margin-bottom: 32px;
    overflow: hidden;
    clear: left;
}
.post .title { margin-bottom: 5px; }
.post .title a {
    color: #009FE0;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}
.post .tags { margin-bottom: 10px; }
.post .tags a {
    color: #666666;
    font-size: 11px;
    font-family: "Arial";
}
.post .date {
    float: right;
    width: 45px;
    height: 45px;
    background-color: #009FE0;
    text-align: center;
    font-weight: bold;
}
.date .day {
    color: white;
    font-size: 23px;
}

.date .month {
    color: #AAD1EE;
    font-size: 15px;
}
.post .content {
    font-size: 11px;
}
.post .content p {
    display: block;
    margin-bottom: 16px;
}
.content .author {
    float: left;
    width: 80px;
    margin: 10px;
}
.author .name a {
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.feedjack ul {
    list-style-type: circle;
}
