#shop_intro {
    width: 640px;
    height: 270px;
    background: url(/media/img/new/pardus_tshirts.png) no-repeat top center;
}
#shop_intro div {
    width: 273px;
    margin-left: 15px;
}
#shop_intro .title {
    font-weight: bold;
    padding-top: 130px;
    padding-bottom: 10px;
}
.leftcolumn {
    padding-top: 12px;
    background-color: #EDEDED;
}
.leftcolumn div {
    margin-left: 8px;
}
.leftcolumn_content .shop_category {
    font-weight: bold;
    margin-bottom: 20px;
}
.leftcolumn_content a {
    text-decoration: none;
    color: #666666;
}
#buy {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    background-color: gray;
    opacity: 0.7;
    display: none;
}
#buymessage {
    position: absolute;
    width: 305px;
    height: 125px;
    background-color: #2b8ed4;
    z-index: 10;
    display: none;
}
#buymessage p {
    color:white;
    margin:10px;
}
#product_list .product {
    float: left;
}
#product_list .rightborder {
    border-right: 1px #EAEAEA solid;
}
.product_info {
    height: 271px;
    margin: 4px;
    padding: 4px;
}
.product_info .price {
    float: left;
    width: 153px;
    height: 60px;
    overflow: hidden;
    border-bottom: 1px #EAEAEA solid;
}
.product_info .description {
    width: 170px;
    height: 300px;
    float: right;
}
.product_big_image {
    float: left;
    margin: 4px;
    padding: 4px;
    border: 1px #EAEAEA solid;
}
.product_big_image img {
    width: 260px;
    height: 271px;
}
.product_little_images {
    float: left;
    overflow: hidden;
    margin-top: 138px;
}
.product_little_image {
    float: left;
    margin: 4px;
    border: 1px #EAEAEA solid;
}
.product_little_image img {
    width: 42px;
    max-height: 42px;
}
.product_info .buttons {
    width: 153px;
    height: 30px;
    float: left;
}
.product_info .button {
    float: left;
    margin: 3px;
    height: 22px;
    border: 1px #EAEAEA solid;
    font-size: 10px;
    line-height: 22px;
    padding-left: 4px;
    padding-right: 4px;
    background-image: url(/media/img/new/forum_category_bg.png);
}
.product_info .button a {
    color: #999;
}
