{% load library %}
{% extends "base.html" %}

{% block title %}{{ package.title }} - Paketler - {% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/slimbox_ex.js"></script>
<style type="text/css" media="screen">@import url('/media/css/slimbox_ex.css');</style>
{% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}package{% endblock %}
{% block section_logo %}<img src="/media/img/package_header_logo.png">{% endblock %}

{% block content %}
<div class="packages_title transparent_link">{{ package.title }}</div>
<div class="page_content grey">
{{ package.text }}
</div>
<div class="page_properties"><a href="{{ package.get_printable_url }}"><img src="/media/img/print.png" /></a></div>
<div class="page_last_update">Son güncelleme: {{ package.update|timedelta }}</div>
{% endblock %}

{% block sidebartop %}{% endblock %}

{% block sidebar %}
<div class="sidebar sidebar_orange_title">Ayrıntılar</div>
<div class="sidebar grey">
    <strong>Lisans:</strong> {% for license in licenses %}<a href="{{ license.url }}">{{ license.name }}</a> {% endfor %}<br />
    <strong>Paket boyutu:</strong> {{ package.download_size|filesizeformat }}<br />
    <strong>Kurulu boyutu:</strong> {{ package.installed_size|filesizeformat }}<br />
    <strong>Web sitesi:</strong> <a href="{{ package.url }}">{{ package.url }}</a><br />
</div>

<div class="sidebar sidebar_orange_title">Editör notu</div>
<div class="sidebar grey"><div class="rating_bar"><img src="/media/img/rating_{{ package.point }}.png" border="0" height="39px" width="200px" /></div></div>

<div class="sidebar sidebar_orange_title">Menüdeki yeri</div>
<div class="sidebar grey">{{ package.path }}</div>

<div class="sidebar sidebar_orange_title">Etiketler</div>
<div class="sidebar grey">{% for tag in tags %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</div>

{% if package.wiki.all %}
<div class="sidebar sidebar_green_title">İlgili wiki sayfaları</div>
<div class="sidebar grey">{% for wiki in package.wiki.all %}<a href="{{ wiki.get_absolute_url }}">{{ wiki.name }}</a><br />{% endfor %}</div>
{% endif %}

{% if videos %}
<div class="sidebar sidebar_orange_title">İlgili Videolar</div>
<div class="sidebar grey">{% for video in videos %}<a href="/video/{{ video.name }}" rel="lightbox[video_{{ package.title }}]" title="{{ video.desc }}"><img src="{{ video.get_thumbnail_url }}" /></a>{% endfor %}</a></div>
{% endif %}

{% if sss %}
<div class="sidebar sidebar_orange_title">Ekran görüntüleri</div>
<div class="sidebar grey">{% for ss in sss %}<a href="/media/{{ ss.file }}" rel="lightbox[ss_{{ package.title }}]" title="{{ ss.desc }}"><img src="{{ ss.file|thumbnail:"235x235" }}" /></a>{% endfor %}</a></div>
{% endif %}

<div class="sidebar sidebar_orange_title">Yazar</div>
<div class="sidebar grey">{{ package.author }}</div>
{% endblock %}
