{% load library %}
{% extends "base.html" %}

{% block title %}{{ package.title }} - Paketler - {% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/slimbox_ex.js"></script>
<style type="text/css" media="screen">@import url('/media/css/slimbox_ex.css');</style>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
{% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}package{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}
<br/>

{% block content %}
<div class="packages_title transparent_link">{{ package.title }}</div>
<div class="page_content grey">
{{ package.text }}
</div>

{% if auth %}
    {% if form %}
        <form method="post" action="/paket/yorum/{{package.slug}}/">
            {{form}}
            <br/>
            <span style="float:right;margin-right:10px"><a href="{{comment_url}}">Yorumlar ({{ comment_count }})</a> <a href="{{comment_url}}"><img src="/media/dijital/img/forum/msg_sim.gif" /></a></span>
            <input type="submit" value="Gönder">
        </form>
    {% endif %}
{% endif %}
<div class="page_properties"><a href="{{ package.get_printable_url }}"><img src="/media/img/print.png" /></a></div>
<div class="page_last_update">Son güncelleme: {{ package.update|timedelta }}</div>


{% endblock %}

{% block sidebartop %}{% endblock %}

{% block sidebar %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle" style="text-align:left;">
        <h2>Ayrıntılar</h2>
        <strong><span>Lisans:</span></strong> {% for license in package.license.all %}<a href="{{ license.url }}">{{ license.name }}</a> {% endfor %}<br />
        <strong><span>Paket boyutu:</span></strong> {{ package.download_size|filesizeformat }}<br />
        <strong><span>Kurulu boyutu:</span></strong> {{ package.installed_size|filesizeformat }}<br />
        <a href="{{ package.url }}"><strong><span>Web sitesi</span></strong></a>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>

<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Editör notu</h2>
        <div class="rating_bar"><img src="/media/img/rating_{{ package.point }}.png" border="0" height="39px" width="200px" /></div>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>

<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Menüdeki yeri</h2>
        {{ package.path }}
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>

<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Etiketler</h2>
        <img src="/media/img/tag.png" style="vertical-align: middle;" /> {% for tag in package.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>

{% if package.wiki.all %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>İlgili wiki sayfaları</h2>
        {% for wiki in package.wiki.all %}<a href="{{ wiki.get_absolute_url }}">{{ wiki.name }}</a><br />{% endfor %}
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
{% endif %}

{% if package.videos.all %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>İlgili Videolar</h2>
        {% for video in package.videos.all %}<a href="/video/{{ video.get_video_name }}" rel="lightbox[video_{{ package.title }}]" title="{{ video.desc }}"><img src="{{ video.get_thumbnail_url }}" /></a>{% endfor %}</a>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
{% endif %}

{% if package.ss.all %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Ekran görüntüleri</h2>
        {% for ss in package.ss.all %}<a href="/media/{{ ss.file }}" rel="lightbox[ss_{{ package.title }}]" title="{{ ss.desc }}"><img src="{{ ss.file|thumbnail:"200x200" }}" /></a>{% endfor %}</a>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
{% endif %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Yazar</h2>
        {{ package.author }}
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
{% endblock %}
