{% load library %}
{% extends "base.html" %}

{% block title %}Paketler - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}package{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}
<br/>


{% block content %}
{% for package in package_list %}
<div id="package-{{ package.id }}" class="packages">
    <div class="packages_title transparent_link"><a href="{{ package.get_absolute_url }}">{{ package.title }}</a></div>
    <div class="packages_content grey">{{ package.sum }}
        <p style="padding-top: 4px;"><img src="/media/img/tag.png" style="vertical-align: middle;" /> {% for tag in package.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</p>
    </div>
</div>
{% endfor %}

{% if is_paginated %}<div class="paginator_block"><div class"paginator_pages">{% paginator %}</div><div class="paginator_description">{{ pages }} sayfada toplam {{ hits }} inceleme bulunmaktadır.</div></div>{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar_box">
    <div class="sidebar_top">&nbsp;</div>
    <div class="sidebar_middle">
        <h2>Katkıda bulunun</h2>
        <p>Paketler bölümüne katkıda bulunmak istiyorsanız <a
            href="/katki/paket/">buraya</a> tıklayarak size kılavuzluk edecek
        sayfaya gidebilirsiniz.</p>
    </div>
    <div class="sidebar_bottom">&nbsp;</div>
</div>
{% endblock %}
