{% load library %}
{% extends "base.html" %}

{% block title %}Paketler - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}package{% endblock %}
{% block section_logo %}<img src="/media/img/package_header_logo.png">{% endblock %}

{% block content %}
{% for package in package_list %}
<div class="fs_list {% cycle odd,even %}">
    <div class="fs_info" style="margin-bottom: 0;">
        <div class="fs_title"><a href="{{ package.get_absolute_url }}">{{ package.name }}</a></div>
        <div class="fs_desc">{{ package.sum }}</div>
        <p class="fs_tags"><img src="/media/img/tag.png" /> {% for tag in package.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    </div>
    <hr class="fs_separator"/>
</div>
{% endfor %}

<br />
{% if is_paginated %}{% paginator %}{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar_orange_title">Beğenilen paketler</div>
<div class="sidebar sidebar_orange">
    {% for pkg in packages_by_rating %}
    <div style="padding-top: 2px;">
        <div style="width: 78px; float: left;"><img src="/media/img/rating_small_{{ pkg.point }}.png" border="0" style="padding-top: 2px;" /></div>
        <div style="padding-left: 84px;"><a href="{{ pkg.get_absolute_url }}">{{ pkg.name }}</a></div>
    </div>
    {% endfor %}
</div>
{% endblock %}
