{% extends "base.html" %}
{% load library %}
{% block title %}Paketler - {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/object_lists.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/paginator.css');</style>
{% endblock %}
{% block content %}
<div class="summary_container">
{% for package in package_list %}
    <div class="column first">
        <img src="{{ package.image.file.url }}" alt="{{ package.image.get_alt_string }}" /><br />
        <img src="/media/img/new/image_bottom.png" alt="gölge" />
        <div class="info"><span class="bold">{{ package.update|date:"d M" }}</span> {{ package.update|date:"Y" }} <span class="bold">/</span> <a href="{{ package.topic.get_latest_post_url }}"><span class="bold">{{ package.topic.posts|add:"-1" }}</span> Yorum</a></div>
    </div>
    <div class="column">
        <div class="title"><a href="{{ package.get_absolute_url }}">{{ package.title }}</a></div>
        <div class="summary">{{ package.sum|safe|truncatewords_html:23 }}</div>
    </div>
    <div class="{% cycle columnspacer, %}"></div>
{% endfor %}
</div>

{% if is_paginated %}<div class="paginator_block"><div class"paginator_pages">{% paginator %}</div><div class="paginator_description"><span class="bold">{{ pages }}</span> sayfada toplam <span class="bold">{{ hits }}</span> nasıl yazısı bulunmaktadır.</div></div>{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar_box">
    <div class="sidebar_top">&nbsp;</div>
    <div class="sidebar_middle">
        <h2>Katkıda bulunun</h2>
        <p>Paketler bölümüne katkıda bulunmak istiyorsanız <a
            href="/katki/paket/">buraya</a> tıklayarak size kılavuzluk edecek
        sayfaya gidebilirsiniz.</p>
    </div>
    <div class="sidebar_bottom">&nbsp;</div>
</div>
{% endblock %}
