{% extends "base.html" %}
{% load library %}
{% load i18n %}

{% block title %}{{ package.title }} - {% trans "Packages" %} - {% endblock %}

{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/new/article.css');</style>
    <style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% if user.is_authenticated %}
    <script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
    <script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="page_title">{{ package.title }}</div>
<div class="page_content">
{{ package.text|safe }}
</div>

<div class="page_comments"><a href="{{ package.topic.get_latest_post_url }}">{% blocktrans count package.topic.posts|add:"-1" as number_of_comments %}{{ number_of_comments }} comment{% plural %}{{ number_of_comments }} comments{% endblocktrans %}</a> <a href="{{ package.topic.get_latest_post_url }}"><img src="/media/dijital/img/forum/msg_sim.gif" /></a></div>
{% if user.is_authenticated %}
    {% if form %}
        <form method="post" action="{{ package.topic.get_reply_url }}">
            {{ form }}
            <br/>
            <input type="submit" value="{% trans "Send" %}" />
        </form>
    {% endif %}
{% endif %}
<div class="page_printable"><a href="{{ package.get_printable_url }}"><img src="/media/img/print.png" alt="{% trans "print" %}" title="{% trans "printer friendly view" %}" /></a></div>
<div class="page_last_update">{% trans "Last update:" %} {{ package.update|timedelta }}</div>
{% endblock %}
{% block leftcolumn %}
<div class="sidebarcolumn leftcolumn">
    <h2>{% trans "Details" %}</h2>
    <table>
        <tr>
            <td>{% trans "Licence" %}</td><td>: {% for license in package.license.all %}<a href="{{ license.url }}">{{ license.name }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <td>{% trans "Package size" %}</td><td>: {{ package.download_size|filesizeformat }}</td>
        </tr>
        <tr>
            <td>{% trans "Installed size" %}</td><td>: {{ package.installed_size|filesizeformat }}</td>
        </tr>
        <tr>
            <td colspan="2"><br /><a href="{{ package.url }}">{% trans "Web site of the package" %}</a></td>
        </tr>
    </table>
    <h2>{% trans "Editors Note" %}</h2>
    <p><img src="/media/img/new/rating_{{ package.point }}.png" alt="{% blocktrans count package.point as points %}{{ points }} point{% plural %}{{ points }} points{% endblocktrans %}" /></p>

    <h2>{% trans "Place in Pardus Menu" %}</h2>
    <p>{{ package.path }}</p>
    <h2>{% trans "Tags" %}</h2>
    <p>
    <img src="/media/img/new/tag.png" style="vertical-align: middle;" /> {% for tag in package.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last%},{% endif %} {% endfor %}
    </p>
    {% if package.wiki.all %}
        <h2>{% trans "Related Wiki Pages" %}</h2>
        <p>
        {% for wiki in package.wiki.all %}<a href="{{ wiki.get_absolute_url }}">{{ wiki.name }}</a><br />{% endfor %}
        </p>
    {% endif %}

{% if package.ss.all %}
        <h2>{% trans "Screenshots" %}</h2>
        {% for ss in package.ss.all %}<a href="{{ ss.file.url }}" title="{{ ss.desc }}"><img src="{{ ss.file.name|thumbnail:"144x200" }}" style="margin-left:4px" /></a>{% endfor %}</a>
{% endif %}

        <h2>{% trans "Author" %}</h2>
        <p>{{ package.author }}</p>
        <h2>{% trans "Contribute" %}</h2>
        <p>{% blocktrans %}If you want to contribute to packages section, click <a href="/katki/paket/">here</a> to visit the contribution guide.{% endblocktrans %}</p>
</div>
{% endblock %}
{% block sidebar_bottom_top %}
{% if package.videos.all %}
        <h2>{% trans "Related Videos" %}</h2>
        {% for video in package.videos.all %}
        <div style="margin: 0px 0px 10px 10px;">
        {% include "video.html" %}
        </div>
        {% endfor %}
{% endif %}
{% endblock %}
