{% extends "bug/bug_main.html" %}
{% load i18n %}
{% block title %}{{ bug.name }}{% trans "Report Bug" %} - {% endblock %}
{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/new/bug.css');</style>
{% endblock %}
{% block content %}
<div class="topbar">
    <div class="navigation"><a href="/">{% trans "Mainpage" %}</a> &#62; <a href="/hata/">{% trans "Bug" %}</a> &#62; <a href="/hata/ekle/" class="bold">{% trans "New Bug" %}</a></div>
</div>
<form action="" method="post" class="bugform">
<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd class="myerrors" style="font-color: red">{{ field.errors }}</dd>{% endif %}
{% endfor %}
</dl>
<input type="submit" value="{% trans "Report Bug" %}" />
</form>
{% endblock %}
