{% extends "base.html" %}
{% load library %}

{% block title %}Hata Raporları - {% endblock %}

{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/bug.css');</style>
{% endblock %}

{% block pagetype %}page{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}

<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

{% block alt_resim %}
    <div class="sidebar sidebar_alt_img">&nbsp;</div>
{% endblock %}

{% block content %}
<div style="height: 30px">&nbsp;</div>
<div class="addressbar"><div style="float:left"><a href="/">Ana Sayfa</a> &#62; Hata</div><div style="float:right;padding-right:10px"><a href="/hata/ekle/">Yeni hata bildir</a></div>
</div>
<div class="bug_header">
    <div class="bug_title">Başlık</div>
    <div class="bug_submitter">Gönderen</div>
    <div class="bug_status">Durum</div>
    <div class="bug_priority">Öncelik</div>
    <div class="bug_submitted_date">Tarih</div>
</div>
{% for bug in bug_list %}
<div class="bug_list">
    <div class="bug_info">
        <div class="bug_title"><a href="{{ bug.get_absolute_url }}" style="text-decoration:none">#{{ bug.id }} {{ bug.title }}</a></div>
        <div class="bug_submitter">{{ bug.submitter.first_name }} {{ bug.submitter.last_name }}</div>
        <div class="bug_status" style="color:{% ifequal bug.status 1 %}green{% else %}{% ifequal bug.status 2 %}blue{% else %}red{% endifequal %}{% endifequal %}">{{ bug.get_status_display }}</div>
        <div class="bug_priority">{{ bug.get_priority_display }}</div>
        <div class="bug_submitted_date">{{ bug.submitted_date|date:"d/m/Y H:i" }}</div>
    </div>
</div>
{% endfor %}
{% if is_paginated %}
    <div class="bug_paginator">{% paginator %}</div>
{% endif %}
{% endblock %}
