{% extends "base.html" %}

{% block title %}Hata Raporları - #{{ bug.id }} - {% endblock %}

{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/bug.css');</style>
{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}

<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

{% block alt_resim %}
    <div class="sidebar sidebar_alt_img">&nbsp;</div>
{% endblock %}

{% block content %}
<div style="height: 30px">&nbsp;</div>
<div class="addressbar"><a href="/">Ana Sayfa</a> &#62; <a href="/hata/">Hata</a> &#62; #{{ bug.id }}</div>
{% if request.user.is_staff %}
<div class="bug_detail_content">
<form action="/hata/degistir/{{ bug.id }}/" method="post" class="bugform">
<dl>
{% for field in bugform %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd class="myerrors" style="font-color: red">{{ field.errors }}</dd>{% endif %}
{% endfor %}
</dl>
<input type="submit" value="Değiştir">
</form>
</div>
{% else %}
<div class="bug_detail_title">{{ bug.title|escape }}</div>
<div class="bug_detail_content">
    Tarih: {{ bug.submitted_date|date:"d F Y H:i" }}<br />
    Bildiren: <a href="/kullanici/profil/{{ bug.submitter }}/">{{ bug.submitter.first_name|escape }} {{ bug.submitter.last_name|escape }}</a><br />
    Atanan: <a href="/kullanici/profil/{{ bug.assigned_to }}/">{{ bug.assigned_to.first_name|escape }} {{ bug.assigned_to.last_name|escape }}</a><br />
    Durum: {{ bug.get_status_display }}<br />
    Öncelik: {{ bug.get_priority_display }}<br />
    Hata Tanımı:<br />
    {{ bug.description|escape }}
</div>
{% endif %}
{% for comment in bug.comment_set.all %}
<div class="bug_detail_comment">
    {{ comment.text }}<br />
    <a href="/kullanici/profil/{{ comment.author }}/">{{ comment.author.first_name|escape }} {{ comment.author.last_name|escape }}</a> - {{ comment.date|date:"d F Y H:i" }}
</div>
{% endfor %}
{% if request.user.is_authenticated %}
<div class="bug_detail_comment">
<form action="" method="post" class="bugform">
<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd class="myerrors" style="font-color: red">{{ field.errors }}</dd>{% endif %}
{% endfor %}
</dl>
<input type="submit" value="Yorum Ekle">
</form>
</div>
{% endif %}
{% endblock %}
