{% extends "bug/bug_main.html" %}
{% block title %}Hata Raporları - #{{ bug.id }} - {% endblock %}
{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/new/bug.css');</style>
{% endblock %}
{% block content %}
<div class="topbar">
    <div class="navigation"><a href="/">Ana Sayfa</a> &#62; <a href="/hata/">Hata</a> &#62; <a href="{{ bug.get_absolute_url }}" class="bold">#{{ bug.id }}</a></div>
</div>
<div class="headerbar"><div class="title">#{{ bug.id }} {{ bug.title }}</div></div>
{% if request.user.is_staff %}
<div class="bug_detail_content">
<form action="/hata/degistir/{{ bug.id }}/" method="post" class="bugform">
<dl>
{% for field in bugform %}
    {% include "formfields.html" %}
{% endfor %}
</dl>
<input type="submit" value="Değiştir" />
<input type="button" value="Sil" onclick="window.location='{{ bug.get_delete_url }}'" />
</form>
</div>
{% else %}
<div class="bug_content">
    <div class="bug_description">{{ bug.description|linebreaksbr }}</div>
    <div class="bug_details">
        <span class="bold">Tarih:</span> {{ bug.submitted_date|date:"d F Y H:i" }}<br />
        <span class="bold">Bildiren:</span> <a href="/kullanici/profil/{{ bug.submitter }}/">{{ bug.submitter.first_name }} {{ bug.submitter.last_name }}</a><br />
        <span class="bold">Atanan:</span> <a href="/kullanici/profil/{{ bug.assigned_to }}/">{{ bug.assigned_to.first_name }} {{ bug.assigned_to.last_name }}</a><br />
        <span class="bold">Durum:</span> {{ bug.get_status_display }}<br />
        <span class="bold">Öncelik:</span> {{ bug.get_priority_display }}<br />
    </div>
</div>
{% endif %}
<div class="comment_list">
    <div class="header">Yorumlar</div>
    {% for comment in bug.comment_set.all %}
    <div class="comment">
        <div class="comment_title">
        <a href="/kullanici/profil/{{ comment.author }}/">{{ comment.author.first_name }} {{ comment.author.last_name }}</a> - {{ comment.date|date:"d F Y H:i" }}
        </div>
        <div class="text">
        {{ comment.text|linebreaksbr }}
        </div>
    </div>
    {% endfor %}
</div>
{% if request.user.is_authenticated %}
<div class="bug_detail_comment">
<form action="" method="post" class="bugform">
{% for field in form %}
    {% include "formfields.html" %}
{% endfor %}
<input type="submit" value="Yorum Ekle" />
</form>
</div>
{% endif %}
{% endblock %}
