{% extends "forum/forum_base.html" %}
{% load library %}
{% block extrahead %}
    <link rel="alternate" type="application/rss+xml" title="{{ forum.name }} - Özgürlükİçin Forum" href="{{ forum.get_rss_url }}" />
    {% for topic in topic_list %}
    {% if not topic.hidden %}<link rel="alternate" type="application/rss+xml" title="{{topic.title}} - Özgürlükİçin Forum" href="/forum/rss/topic/{{ topic.id }}" />{% endif %}
    {% endfor %}
    <style type="text/css" media="screen">@import url('/media/css/new/forum_list.css');</style>
    <style type="text/css" media="screen">@import url('/media/css/new/forum_paginator.css');</style>
{% endblock %}
{% block content %}
<div class="topbar">
    <div class="navigation"><a href="/">Ana Sayfa</a> &#62; <a href="/forum/">Forum</a> &#62; <a href="{{ forum.get_absolute_url }}" class="bold">{{ forum.name }}</a></div>
    {% ifnotequal forum.slug "guncellenen-basliklar" %}<div class="notice"><a href="/forum/{{ forum.slug }}/new/"><img src="/media/img/new/forum/button_new_topic.png" alt="Yeni Başlık" /></a></div>{% endifnotequal %}
</div>
<div class="headerbar">
    <div class="icon">&nbsp;</div>
    <div class="topic_title">Başlık</div>
    <div class="spacer">&nbsp;</div>
    <div class="topics">İletiler</div>
    <div class="spacer">&nbsp;</div>
    <div class="posts">Gösterim</div>
    <div class="spacer">&nbsp;</div>
    <div class="lastpost">Son İleti</div>
    <div class="spacer">&nbsp;</div>
    <div class="follow">Takip Et</div>
</div>
<div class="category">
    <div class="titlebar"><h2>{{ forum }}</h2></div>
    <div class="forum_list">
        {% for topic in general_topic_list %}

        {% if topic.hidden and not perms.forum.can_see_hidden_topics %}
        {% else %}

        <div class="item topic_item" {% if topic.hidden %}style="opacity: 0.5;"{% endif %}>
            <div class="icon"><a href="{{ topic.get_absolute_url }}"><img src="/media/img/new/forum/topic_announce{% if topic.locked %}_locked{% endif %}.png" border="0" alt="Genel Duyuru" title="Genel Duyuru" /></a></div>
            <div class="spacer">&nbsp;</div>
            <div class="topic_title"><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>{% ifequal forum.slug "guncellenen-basliklar" %}<br />Forum: {{ topic.forum }}{% endifequal %}</div>
            <div class="spacer">&nbsp;</div>
            <div class="topics">{{ topic.posts }}</div>
            <div class="spacer">&nbsp;</div>
            <div class="posts">{{ topic.views }}</div>
            <div class="spacer">&nbsp;</div>
            <div class="lastpost">{{ topic.topic_latest_post.edited|date:"d F Y H:i" }}<br /><a href="/kullanici/profil/{{ topic.topic_latest_post.author }}" class="profile_link">{{ topic.topic_latest_post.author }}</a> <a href="{{ topic.get_latest_post_url }}"><img src="/media/img/new/forum/go_to_msg.png" alt="iletiye git" border="0"/></a></div>
            <div class="spacer">&nbsp;</div>
            <div class="follow"><a href="/forum/rss/topic/{{ topic.id }}/"><img src="/media/img/new/rss.png" alt="RSS" /></a></div>
        </div>
        {% endif %}
        {% endfor %}
        {% for topic in topic_list %}

        {% if topic.hidden and not perms.forum.can_see_hidden_topics %}
        {% else %}

        <div class="item topic_item" {% if topic.hidden %}style="opacity: 0.5;"{% endif %}>
            <div class="icon"><a href="{{ topic.get_absolute_url }}">{% if topic.locked and not topic.sticky %}<img src="/media/img/new/forum/topic{% if not topic.is_read %}_unread{% endif %}_locked.png" border="0" alt="Kilitli Başlık" title="Kilitli Başlık" />{% endif %}{% if topic.sticky and not topic.locked %}<img src="/media/img/new/forum/topic_sticky.png" border="0" alt="Sabit Başlık" title="Sabit Başlık" />{% endif %}{% if not topic.locked and not topic.sticky %}<img src="/media/img/new/forum/topic{% if not topic.is_read %}_unread{% endif %}.png" border="0" {% if topic.is_read %}alt="Okunmuş Başlık" title="Okunmuş Başlık"{% else %}alt="Okunmamış Başlık" title="Okunmamış Başlık"{% endif %} />{% endif %}{% if topic.locked and topic.sticky %}<img src="/media/img/new/forum/topic_sticky_locked.png" border="0" alt="Sabit ve Kilitli Başlık" title="Sabit ve Kilitli Başlık" />{% endif %}</a></div>
            <div class="spacer">&nbsp;</div>
            <div class="topic_title"><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>{% ifequal forum.slug "guncellenen-basliklar" %}<br />Forum: {{ topic.forum }}{% endifequal %}</div>
            <div class="spacer">&nbsp;</div>
            <div class="topics">{{ topic.posts }}</div>
            <div class="spacer">&nbsp;</div>
            <div class="posts">{{ topic.views }}</div>
            <div class="spacer">&nbsp;</div>
            <div class="lastpost">{{ topic.topic_latest_post.edited|date:"d F Y H:i" }}<br /><a href="/kullanici/profil/{{ topic.topic_latest_post.author }}" class="profile_link">{{ topic.topic_latest_post.author }}</a> <a href="{{ topic.get_latest_post_url }}"><img src="/media/img/new/forum/go_to_msg.png" alt="iletiye git" border="0"/></a></div>
            <div class="spacer">&nbsp;</div>
            <div class="follow"><a href="/forum/rss/topic/{{ topic.id }}/"><img src="/media/img/new/rss.png" alt="RSS" /></a></div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div id="post_bottom">
{% if is_paginated %}<div class="paginator_block"><div class"paginator_pages">{% paginator %}</div></div>{% endif %}
</div>
{% endblock %}
