{% extends "base.html" %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}
{% block title %}CD Gönder - {% endblock %}
{% block content %}
{{ cdClient.get_id }}
{{ cdClient.get_full_name }}
{{ cdClient.company }}
{{ cdClient.address }}
{{ cdClient.postcode }}
{{ cdClient.town }}
{{ cdClient.get_city_display }}
{{ cdClient.get_full_phone }}

{{ cdClient.number_of_cds }}
{{ cdClient.reason }}
{{ cdClient.sent }}
{{ cdClient.taken }}
{{ cdClient.date }}
{% endblock %}
