<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
    <body>
        <style>td{ border-top:1px solid black;font-size:10px;font-family:"DejaVu Sans Condensed" }</style>
        <table>
            <tr><td style="width:100px">İsim</td><td style="width:450px">Adres</td><td style="width:80px">Telefon</td>{% if show_date %}<td>Başvuru Tarihi</td>{% endif %}</tr>
            {% for client in cdclient_list %}
            <tr>
                <td>{{ client.get_full_name }}</td><td>{{ client.address }} {{ client.town }}/{{ client.get_city_display }}</td><td>{{ client.get_full_phone }}</td>{% if show_date %}<td>{{ client.date }}</td>{% endif %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
