{% extends "shipit/base.html" %}
{% block content %}
<form method="post" action="">
    <h2>Pardus CD'si İstek Formu</h2>
    <br />
    <p>Özgürlükiçin CD Gönder Projesi, Pardus kullanmak isteyen herkesin "sadece 2,36 TL'lik kargo ücretini" ödeyerek Pardus 2009.2 <!--<span style="font-style:italic">Anthropoides virgo</span>--> CD'si edinmesini amaçlamaktadır.</p>
    <br />
    <p>CD Gönder Projesi hakkındaki ilkelerimizi okumak için <a href="/hakkinda/cd-gonderimi/">bu adresi</a> ziyaret edebilir, CD temin etmek için sipariş formunu doldurabilirsiniz.</p>
    <br />
    <p class="warning-dialog"><b>Önemli Not:</b> Pardus 2009.2 CD'lerinin gönderimine <b>1 Temmuz 2010</b> tarihinden itibaren başlanacaktır.</p>
    {% if flood %}<div class="error">Lütfen formu tekrar göndermeden önce {{ timeout }} saniye bekleyiniz.</div>{% endif %}
    {% if form.non_field_errors %}<div class="error">{{ form.non_field_errors }}</div>{% endif %}
    {% for field in form %}
        {% ifnotequal field.name "phone_area" %}{% ifnotequal field.name "gsm_area" %}
        {% ifequal field.name "phone_number" %}
          <div class="field_container">
              <div class="field_label">{{ form.phone_area.label_tag }}</div>
              <div class="field_field">
                  +90 {{ form.phone_area }} {{ form.phone_number }} <span style="font-size: 11px;">(Örn: 222-3334455)</span>
                  {% if form.phone_area.errors %}{{ form.phone_area.errors }}{% endif %}
                  {% if form.phone_number.errors %}{{ form.phone_number.errors }}{% endif %}
              </div>
              <div class="help_text">
                  {% if field.help_text %}{{ field.help_text }}{% endif %}
              </div>
              <div style="clear:both;"></div>
          </div>
        {% else %}
            {% ifequal field.name "gsm_number" %}
              <div class="field_container">
                  <div class="field_label">{{ form.gsm_area.label_tag }}</div>
                  <div class="field_field">
                      +90 {{ form.gsm_area }} {{ form.gsm_number }} <span style="font-size: 11px;">(Örn: 555-6667788)</span>
                      {% if form.gsm_area.errors %}{{ form.gsm_area.errors }}{% endif %}
                      {% if form.gsm_number.errors %}{{ form.gsm_number.errors }}{% endif %}
                  </div>
                  <div class="help_text">
                      {% if field.help_text %}{{ field.help_text }}{% endif %}
                  </div>
                  <div style="clear:both;"></div>
              </div>
            {% else %}
                {% include "formfields.html" %}
            {% endifequal %}
        {% endifequal %}{% endifnotequal %}{% endifnotequal %}
    {% endfor %}
    <input type="submit" value="Gönder" />
</form>
{% endblock %}
