{% extends "shipit/base.html" %}
{% block content %}
<form method="post" action="">
    <h2>Pardus DVD'si İstek Formu</h2>
    <br />
    <p>Özgürlükiçin DVD Gönder Projesi, Pardus kullanmak isteyen herkesin sadece 2.71 TL (KDV dâhil) kargo ücretini ödeyerek Pardus 2011 <!--<span style="font-style:italic">Anthropoides virgo</span>--> Kurulan DVD edinmesini amaçlamaktadır.</p>
    <br />
    <p>DVD Gönder Projesi hakkındaki ilkelerimizi okumak için <a href="/hakkinda/cd-gonderimi/">bu adresi</a> ziyaret edebilir, DVD temin etmek için sipariş formunu doldurabilirsiniz.</p>
    <br />
    <p>Pardus 2011 32bit Kurulan DVD stoklarımız tükenmiştir. En kısa zamanda 32bit sürümü için yeniden sipariş almaya başlayacağız.</p>
    <br />
    {% if flood %}<div class="error">Lütfen formu tekrar göndermeden önce {{ timeout }} saniye bekleyiniz.</div>{% endif %}
    {% if form.non_field_errors %}<div class="error">{{ form.non_field_errors }}</div>{% endif %}
    {% for field in form %}
        {% ifnotequal field.name "phone_area" %}{% ifnotequal field.name "gsm_area" %}
        {% ifequal field.name "phone_number" %}
          <div class="field_container">
              <div class="field_label">{{ form.phone_area.label_tag }}</div>
              <div class="field_field">
                  +90 {{ form.phone_area }} {{ form.phone_number }} <span style="font-size: 11px;">(Örn: 222-3334455)</span>
                  {% if form.phone_area.errors %}{{ form.phone_area.errors }}{% endif %}
                  {% if form.phone_number.errors %}{{ form.phone_number.errors }}{% endif %}
              </div>
              <div class="help_text">
                  {% if field.help_text %}{{ field.help_text }}{% endif %}
              </div>
              <div style="clear:both;"></div>
          </div>
        {% else %}
            {% ifequal field.name "gsm_number" %}
              <div class="field_container">
                  <div class="field_label">{{ form.gsm_area.label_tag }}</div>
                  <div class="field_field">
                      +90 {{ form.gsm_area }} {{ form.gsm_number }} <span style="font-size: 11px;">(Örn: 555-6667788)</span>
                      {% if form.gsm_area.errors %}{{ form.gsm_area.errors }}{% endif %}
                      {% if form.gsm_number.errors %}{{ form.gsm_number.errors }}{% endif %}
                  </div>
                  <div class="help_text">
                      {% if field.help_text %}{{ field.help_text }}{% endif %}
                  </div>
                  <div style="clear:both;"></div>
              </div>
            {% else %}
                {% include "formfields.html" %}
            {% endifequal %}
        {% endifequal %}{% endifnotequal %}{% endifnotequal %}
    {% endfor %}
    <input type="submit" value="Gönder" />
</form>
{% endblock %}
