<p>Sayın {{ cdClient }},</p>
<p>Özgürlükiçin'den talep ettiğiniz Pardus CD'niz belirttiğiniz adrese kargoyla gönderilmiştir.</p><br/>
<p>Adres:</p>
<p>{{ cdClient.address }}</p>
<p>{{ cdClient.postcode }} {{ cdClient.town }}/{{ cdClient.get_city_display }}</p>
<p>Tel: {{ cdClient.get_full_phone }}</p><br/>
<p>Kargo şirketi: <a href="{{ cargo.company.web_site }}">{{ cargo.company }}</a></p>
<p>Kargo takip kodu: <b>{{ cargo.follow_code }}</b></p>
<p>--<br />
Özgürlükiçin,<br />
<a href="http://www.ozgurlukicin.com/">www.ozgurlukicin.com</a></p>
