{% extends "shop_base.html" %}
{% block title %}Ürün - {{ product.name }} {% endblock %}
{% block content %}
    <div class="product_big_image"><img id="big_image" name="big_image" src="{{ product.images.all.0.picture.url }}" alt="{{ product }}" /></div>
    <div style="overflow:hidden">
    <div class="product_info">
        <div class="price"><span style="font-size:10px;float:left;margin-top:45px;">SATIN AL</span><span style="font-size:20px;float:right;margin-top:35px;">{{ product.price}} YTL</span></div>
        <div class="description">
        <h2>{{ product.name }}</h2>
        <span>{{ product.description|safe }}</span>
        </div>
        {% if product.have_child %}
        <div class="buttons">
            {% for child in product.child.all %}
                {% if child.is_active %}
                {% if user.is_authenticated %}
                <div class="button"><a href="#" onclick="buyDialog({{ child.pk }})">{{ child.name }}</a></div>
                {% else %}
                <div class="button"><a href="#" onclick="alert('Satın alabilmek için giriş yapmalısınız.')">{{ child.name }}</a></div>
                {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="product_little_images">
    {% for image in product.images.all %}
        <div class="product_little_image"><a href="#" onclick="swapImage(this)"><img src="{{ image.picture.url }}" alt="{{ product }}" /></a></div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
{% block afterbody %}
<div id="buymessage">
    <p>Kaç tane alacaksınız?</p>
    <input type="text" id="quantity" name="quantity" value="1" />
    <div class="buttons">
        <div class="button"><a href="#" onclick="toggleBuyPopup()">Vazgeç</a></div>
        <div class="button"><a href="#" onclick="addToCart()">Sepete Ekle</a></div>
        <!--div class="button"><a href="#" onclick="addToCart()">Hemen Al</a></div-->
    </div>
</div>
{% endblock %}
