{% extends "shop_base.html" %}
{% block title %}Ürün - {{ product.name }} {% endblock %}
{% block content %}
    Ürün ismi: {{ product.name }} <br /><br />

    {% if product.have_child %}
        {% for child in product.child.all %}
            {% if child.is_active %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ürün İsmi: {{ child.name }} <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ürün Fiyatı: {{ child.price }} +KDV ({{ child.price_with_tax }})<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ürün Stoğu: {{ child.stock }} <br />
            {% if user.is_authenticated %}
            <form method="POST" action="javascript:;"><input type="hidden" name="product_id" id="product_id" value="{{ child.pk }}"><input type="text" name="quantity" id="quantity" value="1" /><input type="submit" value="Ekle" onclick="addCart();"></form>
            {% endif %}
            <br />
            {% endif %}
        {% endfor %}
    {% else %}
            Ürün Tanımı: {{ product.description }}<br />
            {% for image in product.images.all %}
            Ürün Foto: <img src="{{ image.get_picture_url }}" alt="product" /><br />
            {% endfor %}
            Ürün Fiyatı: {{ product.price }} +KDV ({{ product.price_with_tax }})<br />
            Ürün Stoğu: {{ product.stock }} <br />
    {% endif %}
{% endblock %}
