{% extends "shop_base.html" %}
{% block title %}Ürün - {{ product.name }} {% endblock %}
{% block content %}
    Ürün ismi: {{ product.name }} <br /><br />
    Ürün Tanımı: {{ product.description }}<br />
    Ürün Fiyatı: {{ product.price }} +KDV ({{ product.price_with_tax }})<br />
    Ürün Stoğu: {{ product.stock }} <br />
    {% if product.have_child %}
        {% for child in product.child.all %}
            {% if child.is_active %}
            {% if user.is_authenticated %}
            <a href="#" onclick="buyDialog({{ child.pk }})">{{ child.name }}</a>
            {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for image in product.images.all %}
        Ürün Foto: <img src="{{ image.get_picture_url }}" alt="{{ product }}" /><br />
    {% endfor %}
{% endblock %}
{% block afterbody %}
<div id="buymessage">
    <p>Kaç tane alacaksınız?</p>
    <input type="text" id="quantity" name="quantity" value="1" />
    <a href="#" onclick="toggleBuyPopup()">Vazgeç</a>
    <a href="#" onclick="addToCart()">Sepete Ekle</a>
    <a href="#" onclick="addToCart()">Hemen Al</a>
</div>
{% endblock %}
