{% extends "base.html" %}

{% block title %}Pardus Dünyası - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}planet{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}
<br/>

{% block content %}
{% for item in object_list %}
  {% ifchanged %}
  <div class="planet_date siyah">{{ item.date_modified|date:"j F" }}</div>
  {% endifchanged %}

  <div class="post">
  {% if item.title %}
  <div class="planet_title"><a href="{{ item.link }}">{{ item.title }}</a></div>
  {% else %}
  <div class="planet_title siyah"><a href="{{ item.link }}">{{ item.subscriber.name }}</a></div>
  {% endif %}
  <div class="planet_content grey">
    <div class="planet_author">
        <img src="/media/hackergotchi/{{ item.subscriber.shortname }}.png" border="0" alt="{{ item.subscriber.name }}" />
        <div style="margin-top: 6px;"><a href="{{ item.feed.link }}">{{ item.subscriber.name }}</a></div>
    </div>
    <div class="planet_meta">
      {% if item.qtags %}<img src="/media/img/tag.png" border="0" style="vertical-align: middle;" />
          {% for tag in item.qtags %}<a href="{{ site.url }}/tag/{{ tag.name }}">{{ tag.name }}</a> {% endfor %}
      {% endif %}
    </div>
    <p>{{ item.content }}</p>
  </div>
  </div>
{% endfor %}
{% endblock %}

{% block sidebartop %}{%endblock%}

{% block sidebar %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Kurallar</h2>
        <a href="/hakkinda/gezegen-kurallari/">Gezegen Kuralları</a>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>

<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Yazarlar</h2>
        <ul class="sidebar_subscribers">
        {% for feed in subscribers %}
            <li><a href="{{ feed.feed.feed_url }}"><a href="{{ site.url }}/user/{{ feed.feed.id }}">{{ feed.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>

<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Son güncelleme</h2>
        {{ last_modified }}
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>

<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Feed</h2>
        <a href="/rss/gezegen/" title="RSS 2.0 feed"><img src="/media/dijital/img/bt_rss.jpg"/></a>
        <a href="/atom/gezegen/" title="Atom 1.0 feed"><img src="/media/img/atom.png"/></a>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>

{% if site.links %}
<div id="sidebar_box">
    <div id="sidebar_top">&nbsp;</div>
    <div id="sidebar_middle">
        <h2>Diğer gezegenler&nbsp;&nbsp;&nbsp;<img src="/media/dijital/img/diger_gez.png" /></h2>
        <ul class="sidebar_planets">
            {% for link in site.links.all %}<li><a href="{{ link.link }}">{{ link.name }}</a></li>{% endfor %}
        </ul>
    </div>
    <div id="sidebar_bottom">&nbsp;</div>
</div>
{% endif %}
{% endblock %}
