{% extends "base.html" %}
{% block title %}Gezegen - {% endblock %}
{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
    <style type="text/css" media="screen">@import url('/media/css/new/planet.css');</style>
{% endblock %}}
{% block content %}
{% for item in object_list %}
<div class="post">
    {% ifchanged %}
    <div class="date"><div class="day">{{ item.date_modified|date:"j" }}</div><div class="month">{{ item.date_modified|date:"F"|slice:":3" }}</div></div>
    {% endifchanged %}
    <div class="title"><a href="{{ item.link }}">{% if item.title %}{{ item.title|safe }}{% else %}{{ item.subscriber.name }}{% endif %}</a></div>
    <div class="tags">
        {% if item.qtags %}<img src="/media/img/new/tag.png" alt="etiket" />
        {% for tag in item.qtags %}<a href="{{ site.url }}/tag/{{ tag.name }}">{{ tag.name }}</a> {% endfor %}
        {% endif %}
    </div>
    <div class="content">
        <div class="author">
            <div class="avatar"><img src="/media/hackergotchi/{{ item.subscriber.shortname }}.png" alt="{{ item.subscriber.name }}" /></div>
            <div class="name"><a href="{{ item.feed.link }}">{{ item.subscriber.name }}</a></div>
        </div>
        <div class="planet-styles">{{ item.content|safe }}</div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block leftcolumn %}
<div class="sidebarcolumn leftcolumn" style="background-color:#e7e7e7">
    <h2>Yazarlar</h2>
    <div class="leftcolumn_content">
        <ul class="sidebar_subscribers">
        {% for feed in subscribers %}
        <li><span class="bullet">»</span> <a href="{{ feed.feed.feed_url }}"><a href="{{ site.url }}/user/{{ feed.feed.id }}">{{ feed.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block rightcolumn_bottom %}
    <div class="rightcolumn_content">
        <h2>Kurallar</h2>
        <ul>
            <li><span class="bullet">»</span> <a href="/hakkinda/gezegen-kurallari/">Gezegen Kuralları</a></li>
        </ul>
    </div>
    <div class="rightcolumn_content">
        <h2>Feed</h2>
        <a href="/rss/gezegen/" title="RSS 2.0 feed"><img src="/media/img/bt_rss.jpg"/></a>
        <a href="/atom/gezegen/" title="Atom 1.0 feed"><img src="/media/img/atom.png"/></a>
    </div>
{% if site.links %}
    <div class="rightcolumn_content">
        <h2>Diğer gezegenler</h2>
        <ul>
            {% for link in site.links.all %}<li><span class="bullet">»</span> <a href="{{ link.link }}">{{ link.name }}</a></li>{% endfor %}
        </ul>
    </div>
{% endif %}
    <div class="rightcolumn_content">
        <h2>Son güncelleme</h2>
        <p>{{ last_modified }}</p>
    </div>
    <div class="rightcolumn_content">
        <a href="/cdgonder/"><img src="/media/img/new/cdgonder.png" alt="cdgonder" /></a>
    </div>
{% endblock %}
