{% extends "base.html" %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}
{% block title %}Kullanıcı Girişi - {% endblock %}

{% block content %}

<br />

{% if not user.is_authenticated %}

<div style="text-align: left; padding-left: 50px;">
{% if form.has_errors %}
    <p>Kullanıcı adınız ve parolanız uyuşmuyor, lütfen tekrar deneyin.</p>
{% else %}
    <p>Bu işlemi yapmak için yetkiniz yok. Eğer Özgürlükİçin.com'a üyeyseniz aşağıya kullanıcı adı ve parolanızı girin. Parolanızı bilmiyor ya da unuttuysanız <a href="/kullanici/kayip/">kayıp parola</a> bağlantısını izleyin. Eğer üye değilseniz <a href="/kullanici/kayit/">buradan</a> Özgürlükİçin.com'a üye olabilirsiniz.</p>
{% endif %}
    <form method="post" action="/kullanici/giris/">
        <table><tbody>
        <tr>
            <td width="30%"><label for="id_username">Kullanıcı adı</label></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td width="30%"><label for="id_password">Parola</label></td>
            <td>{{ form.password }}</td>
        </tr>
        </tbody></table>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="Giriş" />
    </form>
</div>
{% else %}
Zaten giriş yapmışsınız. Çıkış yapmak için <a href="/kullanici/cikis/">tıklayın</a> <br />
{% endif %}

{% endblock %}
