{% extends "base.html" %}

{% block title %}İmzalama İşlemi Tamamlandı - {% endblock %}

{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/paginator.css');</style>
{% endblock %}

{% block content %}
<br />
{% if already_active %}
    Desteğinizi zaten onaylamışsınız.
{% else %}
    {% if wrongkey %}
        <span class="error">Hatalı anahtar!</span>
    {% else %}
        <b>{{ petitioner.firstname }} {{ petitioner.lastname }}</b>, OOXML'e hayır kampanyamıza katıldığınız için teşekkür ederiz. {% if activation_done %}Katılımınız onaylanmıştır. {% endif %}{% if notconfirmed %}Lütfen adresinize gönderilen onay bağlantısına tıklayarak desteğinizi onaylayınız. {% endif %}
    {% endif %}
{% endif %}

{% endblock %}
