{% extends "base.html" %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/pygments.css');</style>
{% endblock %}
{% block content %}
{% if paste.is_hidden %}
<p>Bu metin yönetici tarafından gizlenmiştir.</p>
{% if perms.paste.hide_pastedtext %}
<a href="{{ paste.get_toggle_url }}">Göster</a>
<pre style="width:615px;overflow:auto;margin-top:10px;border:1px solid #666;padding:5px">{{ paste.text }}</pre>
{% endif %}
{% else %}
{% if perms.paste.hide_pastedtext %}<a href="{{ paste.get_toggle_url }}">Gizle</a>{% endif %}
<p>{{ paste.author }} tarafından {{ paste.date|date:"d F Y H:i" }} tarihinde gönderilmiştir.</p>
<p><a href="">Bu sayfaya bağlantı (sağ tıklayıp bağlantıyı kopyalayabilirsiniz)</a></p>
{{ paste.highlighted_text|safe }}
{% endif %}
{% endblock %}
