{% extends "base.html" %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/pygments.css');</style>
{% endblock %}
{% block content %}
<form method="POST" target="">
    <p>Özgürlükiçin yapıştırma aracını, foruma ekleyeceğiniz konsol komutlarının çıktılarını ve yazdığınız kodları paylaşmak için kullanabilirsiniz. <a href="/icerik-politikasi/">İçerik</a> ve <a href="/forum-kurallari/">forum</a> kuralları yapıştırma aracımız için de geçerlidir.</p><br/>
    <textarea name="text" style="width:615px;height:500px;margin-bottom:10px"></textarea>
    {{ form.syntax }}
<input type="submit" value="Gönder" />
</form>
{% endblock %}
