{% extends "tema/base.html" %}
{% load i18n %}
{% block title %}{% trans "Reported Themes" %} - {% endblock %}
{% block content %}
{% if no_entry %}
{% blocktrans %}There is no reported entry. Click here to visit <a href="/tema/">main</a> theme page.{% endblocktrans %}
{% else %}
<form action="" method="POST">
    <strong>{% trans "Reported Themes:" %} </strong><br /><br />
{% for abuse in abuse_list %}
<input type="checkbox" name="abuse_list" value="{{ abuse.id }}" />&nbsp;&nbsp;<a href="{{abuse.themeitem.get_absolute_url }}" target="_blank">{{ abuse.themeitem.title }}</a> | {% trans "Reporter:" %} <a href="{{ abuse.submitter.get_profile.get_absolute_url }}">{{ abuse.submitter }}</a><br />{% trans "Reason:" %}<br />{{ abuse.reason|striptags }}</input><hr />
{% endfor %}
<br />
<input type="submit" value="{% trans "Remove from Abuse List" %}" />
</form>

{% endif %}
{% endblock %}
