{% extends "tema/theme_base_without_ezine.html" %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% block temaextrahead %}{% endblock %}
{% endblock %}
{% block leftcolumn %}
<div class="sidebarcolumn leftcolumn">
<div class="tema_order_by">
    <ul>
        <li><a href="/tema/duvar-kagitlari/">Duvar Kağıtları</a></li>
        <li><a href="/hakkinda/lisanslar/">Lisans Bilgileri</a></li>
        <li></li>
        <li></li>
        <li><a href="/tema/ekle/duvar-kagitlari/">Duvar Kağıdı Ekle</a></li>
    </ul>
</div>
</div>
{% endblock %}
