{% extends "tema/base.html" %}
{% load comment_honeypot %}
{% load comment_utils %}
{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

{% block content %}
<a href="/tema/goster/son/">Tema Anasayfa</a>
<div>
    <div>Kategori</div>
    <div>İsim</div>
    <div>Açıklama</div>
    <div>Thumb</div>

    <div>Link</div>
    <div>Gönderen</div>
    <div>Lisans</div>

    <div>Görülmüş</div>
    <div>Oy</div>
    {% if auth %}
    <div>Oy kullan</div>
    {% endif %}
</div>
{% if file %}
<div>
    <div><a href="{{file.parent_cat.get_absolute_url}}">{{file.parent_cat}}</a></div>
    <div>{{file.name}}</div>
    <div>{{file.description}}</div>
    <div>
        {% for screen in file.screens.all %}
        <img src="../../../media/{{screen}}" alt="ekran görüntüsü" width="100"/><br/>
        {% endfor %}
    </div>

    <div>
        {% for file in file.file_data.all %}
        <a href="../../../media/{{file}}">İndir</a><br/>
        {% endfor %}
    </div>
    <div>{{file.user}}</div>
    <div>{{file.licence}}</div>
    <div>{{file.counter}}</div>
    <div>{{file.rate}}</div>
    {% if auth %}
    <div>
        <form method="post" action="/tema/oy/">
            {{form.vote.label}}:{{form.vote}}
            <input type="hidden" name="file_id" value="{{ file.id }}" />
            <button type="submit">Gönder</button>
        </form>
        {% if error %}
        <div>{{error}}</div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endif %}
{% if auth %}
<div>
    {% comment_form for tema.file file.id %}
</div>
{% else %}
    <b>Yorum yapabilmek için giriş yapmanız gerekir!</b>
{% endif %}
{% get_public_comment_list for tema.file file.id as comments %}
{% if comments %}
<div>
    <div>link#</div>
    <div>İsim</div>
    <div>Yorum</div>
    <div>IP</div>
    <div>Tarih</div>
</div>
<div>
{% for comment in comments %}
    <div>{{comment.get_absolute_url}}</a></div>
    <div>{{comment.person_name}}</div>
    <div>{{comment.comment}}</div>
    <div>{{comment.ip_address}}</div>
    <div>{{comment.submit_date}}</div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
