{% extends "tema/base.html" %}
{% load thumbman %}
{% load comment_utils %}
{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

{% block content %}
<div class="tema_header">
    <a href="/tema/goster/son/">En son eklenen</a>
    <a href="/tema/goster/indirilen/">En çok ziyaret Edilen</a>
    <a href="/tema/goster/begenilen/">En çok oy alan</a>
</div>
<div><a href="/tema/ekle/">Ekle</a></div>
<div>Dosyalar</div>
<div class="file_bar">
    <div class="file_thumb cell">Görüntü</div>
    <div class="file_category cell">Kategori</div>
    <div class="file_name cell">İsim</div>
    <div class="file_link cell">Link</div>
    <div class="file_sender cell">Gönderen</div>
    <div class="file_license cell">Lisans</div>
    <div class="file_downloads cell">İndirme</div>
    <div class="file_rating cell">Oy</div>
    <div class="file_comments cell">Yorum</div>
</div>
<div class="file_line">
{% if object_list %}
    {% for file in object_list %}
    <div class="file_thumb cell"><img src="../../../media/{{file.screens.all.0}}" alt="ekran görüntüsü" width="100px" /></div>
    <div class="file_category cell">
        <a href="{{file.parent_cat.get_absolute_url}}">{{file.parent_cat}}</a>
        <a href="/tema/feed/kategori/rss/{{file.parent_cat.id}}/">RSS</a>
        <a href="/tema/feed/kategori/atom/{{file.parent_cat.id}}/">ATOM</a>
    </div>
    <div class="file_name cell"><a href="{{file.get_absolute_url}}">{{file.name}}</a></div>
    <div class="file_link cell">
        {% for file in file.file_data.all %}
        <a href="../../../media/{{file}}">Bağlantı</a>
        {% endfor %}
    </div>
    <div class="file_sender cell">
        <a href="/tema/kullanici/{{file.user}}/">{{file.user}}</a>
        <a href="/tema/feed/kullanici/rss/{{file.user.id}}/">RSS</a>
        <a href="/tema/feed/kullanici/atom/{{file.user.id}}/">ATOM</a>
    </div>
    <div class="file_license cell">{{file.licence}}</div>
    <div class="file_downloads cell">{{file.counter}}</div>
    <div class="file_rating cell">{{file.rate}}</div>
    <div class="file_comments cell">{% get_public_comment_count for tema.file file.id as comment_count %}{{comment_count}}</div>
    {% endfor %}
{% endif %}
</div>
{% if has_previous %}
<div><a href="?page={{previous}}">Önceki</a></div>
{% endif %}
{% if has_next %}
<div><a href="?page={{next}}">Sonraki</a></div>
{% endif %}
{% endblock %}
