{% extends "tema/base.html" %}

{% load gravatar %}

{% block temaextrahead %}
<style media="screen" type="text/css">@import url('/media/css/new/tema.css');</style>
{% endblock %}


{% block content %}

<div class="themeitem_main">
    <div class="themeitem_top">
        <div class="themeitem_top_title">{{ object.title }}</div>
        <div class="themeitem_top_user">
            <div class="themeitem_top_user_avatar"><a href="{{ object.author.get_profile.get_absolute_url }}"><img src="{% avatar_url object.author.email 50 "g" object.author.get_profile.avatar.file.url %}" /></a></div>
            <div class="themeitem_top_user_name"><a href="{{ object.author.get_profile.get_absolute_url }}">{{ object.author }}</a></div>
        </div>
    </div>

    <div class="themeitem_middle">
        <div class="themeitem_middle_leftcolumn">
            <div class="themeitem_middle_leftcolumn_thumbnail"><img src="{{ object.thumbnail.url }}" alt="{{ object.title }}" /></div>
            <div class="themeitem_middle_leftcolumn_resolution">
                {% for paper in object.papers.all %}
                 <a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a><br/>
                {% endfor %}

            </div>
            {% if button_change %}<div class="themeitem_middle_leftcolumn_buttons"><a href="{{ object.get_change_url }}">Düzenle</a></br></div>{% endif %}
            <div class="themeitem_middle_leftcolumn_buttons"><a href="{{ object.get_abuse_url }}"><img src="/media/img/new/forum/button_complaint.png" /></a></div>
        </div>

        <div class="themeitem_middle_rightcolumn">
            <div class="themeitem_middle_rightcolumn_context">
                <b>Lisans:</b> <a href="{{ object.license.url }}">{{ object.license.name }}</a> <br />
                <b>Gönderildiği Tarih:</b> {{ object.submit|date:"d F Y" }} <br />
                <b>İndirilme Sayısı:</b> {{ object.download_count }} <br /><br />
                <hr />
                <br />
                {{ object.text }}
            </div>

            <div class="themeitem_middle_rightcolumn_bottom">
                <div class="themeitem_middle_rightcolumn_bottom_inner">

                    <a href="{{ object.topic.get_latest_post_url }}" title="Yorumlar">
                    {% if object.topic.posts|add:"-1" %}
                        {{ object.topic.posts|add:"-1" }} tane yorum yapıldı.
                    {% else %}
                        İlk yorum yapan siz olun!
                    {% endif %}
                    </a>
                </div>
    </div>
        </div>
    </div>


</div>
{% endblock %}
