{% extends "tema/base.html" %}

{% block temaextrahead %}
<script language="javascript" type="text/javascript" src="/media/js/jquery.autocomplete.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/taghelper.js"></script>
<style type="text/css" media="screen">@import url('/media/css/new/autocomplete.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/formfield.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/tema.css');</style>
{% endblock %}

{% block content %}
<div id="content">
<form id="select-type-form" action="" method="POST">
    <table>
        <tr>
            <td><label>Eklenecek OpenOffice.org Öğesi: </label></td>
            <td style="padding-left:5px">
                <select id="select-type" name="type">
                    {% if chosen %}
                    <option value="{{chosen.name}}"> {{chosen.verbose_name}}</option>
                    {% else %}
                    <option id="seciniz" value="----">Seçiniz</option>
                    <option value="eklenti">Eklenti</option>
                    <option value="sablon">Şablon</option>
                    {% endif %}
                </select>
            </td>
        </tr>
    </table>
</form>
<form action="" id="sablon-form" style="display:none" method="POST" enctype="multipart/form-data">
    <p>{{ template_form.non_field_errors }}</p>
    {% for field in template_form %}
    {% include "field.html" %}
    {% endfor %}
    <input type="hidden" name="type" value="sablon"/>
    <div style="clear:both"><input type="submit" value="Ekle" /></div>
</form>
<form action="" id="eklenti-form" style="display:none" method="POST" enctype="multipart/form-data">
    <p>{{ extension_form.non_field_errors }}</p>
    {% for field in extension_form %}
    {% include "field.html" %}
    {% endfor %}
    <input type="hidden" name="type" value="sablon"/>
    <div style="clear:both"><input type="submit" value="Ekle" /></div>
</form>
<script type="text/javascript">
$(document).ready(function(){
    set_selected();
    $("#select-type").change(function(){
        $("#seciniz").hide();
        set_selected();
    });
});

function set_selected(){
    if ($("#select-type").val() == "sablon"){
        $("#eklenti-form").hide();
        $("#sablon-form").show();
    }
    else if ($("#select-type").val() == "eklenti"){
        $("#sablon-form").hide();
        $("#eklenti-form").show();
    }
}
</script>
</div>

{% endblock %}
