{% extends "tema/base.html" %}
{% block content %}
{% if button_change %}<a href="{{ object.get_change_url }}">Düzenle</a>{% endif %}
<div class="themeitem">
    <div class="themeitem_title">{{ object.name }}</div>
    <div class="themeitem_screenshots">
        <a href="{{ object.get_download_url }}"><img src="{{ object.thumbnail.url }}" alt="ekran görüntüsü"/></a>
    </div>
    <div class="themeitem_category"><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></div>
    <div class="themeitem_edit_date">{{ object.submit_date|date:"d F Y" }}</div>
    <div class="themeitem_download_count">{{ object.download_count }}</div>
    <div class="themeitem_rating">{{ object.rating }} <a href="/tema/oyla/{{ object.id }}/0/">0</a> <a href="/tema/oyla/{{ object.id }}/1/">1</a> <a href="/tema/oyla/{{ object.id }}/2/">2</a> <a href="/tema/oyla/{{ object.id }}/3/">3</a> <a href="/tema/oyla/{{ object.id }}/4/">4</a></div>
    <div class="themeitem_author"><a href="/tema/kullanici/{{ object.author }}/">{{ object.author }}</a></div>
    <div class="themeitem_description">Tanım:<br />{{ object.text|linebreaksbr }}</div>
    <div class="themeitem_license">Lisans: {{ object.license }}</div>
    <div class="themeitem_downloads">
        {% for paper in object.papers.all %}
        <a href="{{ paper.image.url }}">{{ paper.title }}</a><br/>
        {% endfor %}
    </div>
</div>
{% endblock %}
