{% extends "tema/base.html" %}
{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

{% block content %}
<a href="/tema/goster/son/">Tema Anasayfa</a>
<div>
    <div>Kategori</div>
    <div>İsim</div>
    <div>Açıklama</div>
    <div>Thumb</div>

    <div>Link</div>
    <div>Gönderen</div>
    <div>Lisans</div>

    <div>Görülmüş</div>
    <div>Oy</div>
    <div>Oy kullan</div>
</div>
<div>
    <div><a href="{{object.category.get_absolute_url}}">{{object.category}}</a></div>
    <div>{{object.name}}</div>
    <div>{{object.description}}</div>
    <div>
        {% for screenshot in object.screenshot_set.all %}
        <img src="{{screenshot.get_absolute_url}}" alt="ekran görüntüsü" width="100"/><br/>
        {% endfor %}
    </div>

    <div>
        {% for file in object.file_set.all %}
        <a href="{{file.get_absolute_url}}">İndir</a><br/>
        {% endfor %}
    </div>
    <div>{{object.user}}</div>
    <div>{{object.licence}}</div>
    <div>{{object.download_count}}</div>
    <div>{{object.rating}}</div>
</div>
{% endblock %}
