{% extends "tema/base.html" %}

{% block temaextrahead %}
<style media="screen" type="text/css">@import url('/media/css/new/tema.css');</style>
{% endblock %}


{% block content %}

<div class="themeitem_main">
    <div class="themeitem_top">
        <div class="themeitem_top_title">Bu bir title</div>
        <div class="themeitem_top_user">
            <div class="themeitem_top_user_avatar"><img src="http://www.gravatar.com/avatar/698ad68791be31755e0bb97efc70d243" /></div>
            <div class="themeitem_top_user_name">Eren</div>
        </div>
    </div>

    <div class="themeitem_middle">
        <div class="themeitem_middle_leftcolumn">
            <div class="themeitem_middle_leftcolumn_thumbnail"><img src="http://localhost:8000/media/82436-Linux3.jpg" /></div>
            <div class="themeitem_middle_leftcolumn_resolution"><a href="a">1280x1900</a><br /><a href="a">1280x1900</a><br /><a href="a">1280x1900</a></div>
        </div>

        <div class="themeitem_middle_rightcolumn">w</div>

    </div>
    <div class="themeitem_bottom">

    </div>

</div>

<!--
{% if button_change %}<a href="{{ object.get_change_url }}">Düzenle</a>{% endif %}
<div class="themeitem">
    <div class="themeitem_title">{{ object.name }}</div>
    <div class="themeitem_screenshots">
        <a href="{{ object.get_download_url }}"><img src="{{ object.thumbnail.url }}" alt="ekran görüntüsü"/></a>
    </div>
    <div class="themeitem_category"><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></div>
    <div class="themeitem_edit_date">{{ object.submit_date|date:"d F Y" }}</div>
    <div class="themeitem_download_count">{{ object.download_count }}</div>
    <div class="themeitem_rating">{{ object.rating }} <a href="/tema/oyla/{{ object.id }}/0/">0</a> <a href="/tema/oyla/{{ object.id }}/1/">1</a> <a href="/tema/oyla/{{ object.id }}/2/">2</a> <a href="/tema/oyla/{{ object.id }}/3/">3</a> <a href="/tema/oyla/{{ object.id }}/4/">4</a></div>
    <div class="themeitem_author"><a href="/tema/kullanici/{{ object.author }}/">{{ object.author }}</a></div>
    <div class="themeitem_description">Tanım:<br />{{ object.text|linebreaksbr }}</div>
    <div class="themeitem_license">Lisans: {{ object.license }}</div>
    <div class="themeitem_tags">{% for tag in object.tags.all %}{{ tag }}{% endfor %}</div>
    <div class="themeitem_downloads">
        {% for paper in object.papers.all %}
        <a href="{{ paper.image.url }}">{{ paper.title }}</a><br/>
        {% endfor %}
    </div>
    <div class="themeitem_comments">
        <a href="{{ object.topic.get_latest_post_url }}" title="Yorumlar">
        {% if object.topic.posts|add:"-1" %}
            {{ object.topic.posts|add:"-1" }} tane yorum yapıldı.
        {% else %}
            İlk yorum yapan siz olun!
        {% endif %}
        </a>
    </div>
</div>
-->
{% endblock %}
