{% extends "tema/base.html" %}
{% load thumbman %}
{% load comment_utils %}
{% block content %}

<form action="/tema/ekle/" method="post" enctype="multipart/form-data">
    {% for field in form %}
        <dl>
            <dt><label for="{{ field.name }}">{{ field.label }}</label>{% if field.help_text %}<br /><span>{{ field.help_text }}</span>{% endif %}{% if field.errors %}<br /><span class="error">{{ field.errors }}</span>{% endif %}</dt>
            <dd>{{ field }}</dd>
        </dl>
    {% endfor %}
    <input type="submit" value="{% trans "Upload" %}" />
</form>
{% endblock %}
