{% load library %}
{% extends "base.html" %}

{% block title %}{{ game.title }} - Oyunlar - {% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/slimbox_ex.js"></script>
<style type="text/css" media="screen">@import url('/media/css/slimbox_ex.css');</style>
{% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}game{% endblock %}
{% block section_logo %}<img src="/media/img/game_header_logo.png">{% endblock %}

{% block content %}
<div class="games_title transparent_link">{{ game.title }}</div>
<div class="page_content grey">
{{ game.text }}
</div>
<div class="page_properties"><a href="{{ game.get_printable_url }}"><img src="/media/img/print.png" /></a></div>
<div class="page_last_update">Son güncelleme: {{ game.update|timedelta }}</div>
{% endblock %}

{% block sidebartop %}{% endblock %}

{% block sidebar %}
<div class="sidebar sidebar_darkblue_title">Bilgiler</div>
<div class="sidebar grey">
    <strong>Lisans:</strong> {% for license in licenses %}<a href="{{ license.url }}">{{ license.name }}</a> {% endfor %}<br />
    <strong>Paket boyutu:</strong> {{ game.download_size|filesizeformat }}<br />
    <strong>Kurulu boyutu:</strong> {{ game.installed_size|filesizeformat }}<br />
    <strong>Web sitesi:</strong> <a href="{{ game.url }}">{{ game.url }}</a><br />
</div>

<div class="sidebar sidebar_darkblue_title">Değerlendirme</div>
<div class="sidebar grey">
    <strong>Öğrenme süresi:</strong> {{ game.learning_time }}<br />
    <strong>Oynanabilirlik:</strong> {{ game.gameplay }}<br />
    <strong>Grafik:</strong> {{ game.graphics }}<br />
    <strong>Ses:</strong> {{ game.sound }}<br />
    <strong>Senaryo:</strong> {{ game.scenario }}<br />
    <strong>Atmosfer:</strong> {{ game.atmosphere }}<br />
    <div class="game_average_point">{{ game.avg }}</div>
</div>

<div class="sidebar sidebar_darkblue_title">Menüdeki yeri</div>
<div class="sidebar grey">{{ game.path }}</div>

<div class="sidebar sidebar_darkblue_title">Etiketler</div>
<div class="sidebar grey">{% for tag in tags %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</div>

{% if game.wiki.all %}
<div class="sidebar sidebar_darkblue_title">İlgili wiki sayfaları</div>
<div class="sidebar grey">{% for wiki in game.wiki.all %}<a href="{{ wiki.get_absolute_url }}">{{ wiki.name }}</a><br />{% endfor %}</div>
{% endif %}

{% if videos %}
<div class="sidebar sidebar_darkblue_title">İlgili Videolar</div>
<div class="sidebar grey">{% for video in videos %}<a href="/video/{{ video.name }}" rel="lightbox[video_{{ game.title }}]" title="{{ video.desc }}"><img src="{{ video.get_thumbnail_url }}" /></a>{% endfor %}</a></div>
{% endif %}

<div class="sidebar sidebar_darkblue_title">Yazar</div>
<div class="sidebar grey">{{ game.author }}</div>
{% endblock %}
