{% load library %}
{% extends "base.html" %}

{% block title %}Oyunlar - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}game{% endblock %}
{% block section_logo %}<img src="/media/img/game_header_logo.png" width="141" height="136">{% endblock %}

{% block content %}
{% for game in game_list %}
<div id="game-{{ game.id }}" class="games">
    <div class="games_title transparent_link"><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></div>
    <div class="games_content grey">{{ game.sum }}
        <p style="padding-top: 4px;"><img src="/media/img/tag_darkblue.png" style="vertical-align: middle;" /> {% for tag in game.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</p>
    </div>
</div>
{% endfor %}

{% if is_paginated %}{% paginator %}{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar sidebar_darkblue_title">Katkıda bulunun</div>
<div class="sidebar grey">Oyunlar bölümüne katkıda bulunmak istiyorsanız <a href="/katki/oyun/">buraya</a> tıklayarak size kılavuzluk edecek sayfaya gidebilirsiniz.</div>
{% endblock %}
