{% load library %}
{% extends "base.html" %}

{% block title %}{{ howto.title }} - Nasıl - {% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/slimbox_ex.js"></script>
<style type="text/css" media="screen">@import url('/media/css/slimbox_ex.css');</style>
{% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}howto{% endblock %}
{% block section_logo %}<img src="/media/img/howto_header_logo.png">{% endblock %}

{% block content %}
<div class="howtos_title transparent_link">{{ howto.title }}</div>
<div class="page_content grey">
{{ howto.text }}
</div>
<div class="page_properties"><a href="{{ howto.get_printable_url }}"><img src="/media/img/print.png" /></a></div>
<div class="page_last_update">Son güncelleme: {{ howto.update|timedelta }}</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar sidebar_red_title">Etiketler</div>
<div class="sidebar grey">{% for tag in tags %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</div>

{% if howto.wiki.all %}
<div class="sidebar sidebar_red_title">İlgili wiki sayfaları</div>
<div class="sidebar grey">{% for wiki in howto.wiki.all %}<a href="{{ wiki.get_absolute_url }}">{{ wiki.name }}</a><br />{% endfor %}</div>
{% endif %}

{% if videos %}
<div class="sidebar sidebar_red_title">İlgili Videolar</div>
<div class="sidebar grey">{% for video in videos %}<a href="/video/{{ video.name }}" rel="lightbox[video_{{ package.name }}]" title="{{ video.desc }}"><img src="{{ video.get_thumbnail_url }}" /></a>{% endfor %}</a></div>
{% endif %}

<div class="sidebar sidebar_red_title">Yazar</div>
<div class="sidebar grey">{{ howto.author }}</div>
{% endblock %}