{% extends "base.html" %}
{% load library %}

{% block title %}{{ game.title }} - Oyunlar - {% endblock %}
{% block metadescription %}{{ game.sum|safe|striptags|cut:"\"" }}{% endblock %}
{% block metakeywords %}{% for tag in game.tags.all %}{{ tag.name }}{% if not forloop.last %},{% endif %}{% endfor %}{% endblock %}

{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/article.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% if user.is_authenticated %}
    <script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
    <script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="page_title">{{ game.title }}</div>
<div class="page_content">
    {{ game.text|safe }}
</div>
<div style="clear:both;"></div>
<div style="float:right;margin-right:10px"><a href="{{ game.topic.get_latest_post_url }}">{{ game.topic.posts|add:"-1" }} yorum</a> <a href="{{ game.topic.get_latest_post_url }}"><img src="/media/img/new/forum/go_to_msg.png" alt="." /></a></div>
{% if user.is_authenticated %}
    {% if form %}
    <p>
        <form method="post" action="{{ game.topic.get_reply_url }}">
            {{form}}
            <br />
            <input type="submit" value="Gönder" />
        </form>
    </p>
    {% endif %}
{% endif %}
<div class="page_printable"><a href="{{ game.get_printable_url }}"><img src="/media/img/print.png" alt="yazdır" title="yazıcı dostu görünüm" /></a></div>
<div class="page_last_update">Son güncelleme: {{ game.update|date:"d F Y" }}</div>
{% endblock %}

{% block leftcolumn %}

<div class="sidebarcolumn leftcolumn">
    <h2>Bilgiler</h2>
    <table>
        <tr>
            <td>Lisans</td><td>:{% for license in game.license.all %}<a href="{{ license.url }}">{{ license.name }}</a>{% endfor %}</td>
        </tr>
        {% ifnotequal game.download_size 0 %}
        <tr>
            <td>Paket boyutu</td><td>:{{ game.download_size }} MB</td>
        </tr>
        {% endif %}
        {% ifnotequal game.installed_size 0 %}
        <tr>
            <td>Kurulu boyutu</td><td>:{{ game.installed_size }} MB</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="3"><br /><a href="{{ game.url }}">Oyunun Web Sitesi</a></td>
        </tr>
    </table>

    <h2>Değerlendirme</h2>
    <p>Öğrenme süresi: {{ game.learning_time }}</p>
    <span>Oynanabilirlik</span><span class="rating">{{ game.gameplay }}/10</span>
    <div class="minibox_container">
        {% for i in game.gameplay_range %}<span class="minibox full">&nbsp;</span>{% endfor %}
        {% for i in game.gameplay_range_empty %}<span class="minibox empty">&nbsp;</span>{% endfor %}
    </div>

    <span>Grafik</span><span class="rating">{{ game.graphics }}/10</span>
    <div class="minibox_container">
        {% for i in game.graphics_range %}<span class="minibox full">&nbsp;</span>{% endfor %}
        {% for i in game.graphics_range_empty %}<span class="minibox empty">&nbsp;</span>{% endfor %}
    </div>
    <span>Ses</span><span class="rating">{{ game.sound }}/10</span>
    <div class="minibox_container">
        {% for i in game.sound_range %}<span class="minibox full">&nbsp;</span>{% endfor %}
        {% for i in game.sound_range_empty %}<span class="minibox empty">&nbsp;</span>{% endfor %}
    </div>
    <span>Senaryo</span><span class="rating">{{ game.scenario }}/10</span>
    <div class="minibox_container">
        {% for i in game.scenario_range %}<span class="minibox full">&nbsp;</span>{% endfor %}
        {% for i in game.scenario_range_empty %}<span class="minibox empty">&nbsp;</span>{% endfor %}
    </div>
    <span>Atmosfer</span><span class="rating">{{ game.atmosphere }}/10</span>
    <div class="minibox_container">
        {% for i in game.atmosphere_range %}<span class="minibox full">&nbsp;</span>{% endfor %}
        {% for i in game.atmosphere_range_empty %}<span class="minibox empty">&nbsp;</span>{% endfor %}
    </div>
    <div class="game_average_point">{{ game.avg }}</div>

    <h2>Menüdeki yeri</h2>
    <p>{{ game.path }}</p>

    <h2>Etiketler</h2>
    <p><img src="/media/img/new/tag.png" style="vertical-align: middle;" alt="etiketler" /> {% for tag in game.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %} {% endfor %}</p>

    {% if game.wiki.all %}
    <h2>İlgili wiki sayfaları</h2>
    <p>
        {% for wiki in game.wiki.all %}<a href="{{ wiki.get_absolute_url }}">{{ wiki.name }}</a><br />{% endfor %}
{% endif %}
    </p>

    {% if game.videos.all %}
    <h2>İlgili Videolar</h2>
    <p>
        {% for video in game.videos.all %}
        {% include "video.html" %}
        {% endfor %}
    </p>
    {% endif %}

    <h2>Yazar</h2>
    <p>{{ game.author }}</p>

    <h2>Katkıda bulunun</h2>
    <p>Oyunlar bölümüne katkıda bulunmak istiyorsanız <a
            href="/katki/oyun/">buraya</a> tıklayarak size kılavuzluk edecek
        sayfaya gidebilirsiniz.</p>
</div>
{% endblock %}
