{% load library %}
{% extends "base.html" %}

{% block title %}{{ game.title }} - Oyunlar - {% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/slimbox_ex.js"></script>
<style type="text/css" media="screen">@import url('/media/css/slimbox_ex.css');</style>
{% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}game{% endblock %}

{% block header_menu %}
    <!-- Burası header kısmı -->
	{% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
	<!-- Burası üst menü kısmı -->
	{% include "ust_menu_ayrinti.html" %}
	
{% endblock %}
<br/>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% block content %}
<div class="games_title transparent_link">{{ game.title }}</div>
<div class="page_content grey">
{{ game.text }}
</div>
<div class="page_properties"><a href="{{ game.get_printable_url }}"><img src="/media/img/print.png" /></a></div>
<div class="page_last_update">Son güncelleme: {{ game.update|timedelta }}</div>
{% endblock %}

{% block sidebartop %}{% endblock %}


{% block sidebar %}

<div class="sidebar sidebar_top_img" style="margin-top: 40px;">&nbsp;</div>
<div class="sidebar sidebar_baslik">Bilgiler</div>
<div class="sidebar sidebar_ic">
    <strong><span class="sari">Lisans:</span></strong> {% for license in game.license.all %}<a href="{{ license.url }}"><span class="gri" >{{ license.name }}</span></a> {% endfor %}<br />
    <strong><span class="sari">Paket boyutu:</span></strong> <span class="gri" >{{ game.download_size|filesizeformat }}</span><br />
    <strong><span class="sari">Kurulu boyutu:</span></strong><span class="gri" > {{ game.installed_size|filesizeformat }}</span><br />
    <strong><a href="{{ game.url }}"><strong><span class="sari">Web sitesi</span></strong></a><br />
</div>
<div class="sidebar sidebar_alt_img">&nbsp;</div>

<div class="sidebar sidebar_top_img">&nbsp;</div>
<div class="sidebar sidebar_baslik">Değerlendirme</div>
<div class="sidebar sidebar_ic">
    <strong><span class="sari">Öğrenme süresi:</span></strong><span class="gri" >{{ game.learning_time }}</span><br />
    <strong><span class="sari">Oynanabilirlik:</span></strong> <span class="gri" >{{ game.gameplay }}</span><br />
    <strong><span class="sari">Grafik:</span></strong><span class="gri" > {{ game.graphics }}</span><br />
    <strong><span class="sari">Ses:</span></strong> <span class="gri" >{{ game.sound }}</span><br />
    <strong><span class="sari">Senaryo:</span></strong> <span class="gri" >{{ game.scenario }}</span><br />
    <strong><span class="sari">Atmosfer:</span></strong> <span class="gri" >{{ game.atmosphere }}</span><br />
    <div class="game_average_point">{{ game.avg }}</div>
    <br />
</div>
<div class="sidebar sidebar_alt_img">&nbsp;</div>

<div class="sidebar sidebar_top_img">&nbsp;</div>
<div class="sidebar sidebar_baslik">Menüdeki yeri</div>
<div class="sidebar sidebar_ic"><span class="gri" >{{ game.path }}</div>
<div class="sidebar sidebar_alt_img">&nbsp;</div>

<div class="sidebar sidebar_top_img">&nbsp;</div>
<div class="sidebar sidebar_baslik">Etiketler</div>
<div class="sidebar sidebar_ic"><img src="/media/img/tag.png" style="vertical-align: middle;" /> {% for tag in game.tags.all %}<a href="{{ tag.get_absolute_url }}"><span class="gri" >{{ tag.name }}</span></a> {% endfor %}</div>
<div class="sidebar sidebar_alt_img">&nbsp;</div>

{% if game.wiki.all %}
<div class="sidebar sidebar_top_img">&nbsp;</div>
<div class="sidebar sidebar_baslik">İlgili wiki sayfaları</div>
<div class="sidebar sidebar_ic">{% for wiki in game.wiki.all %}<a href="{{ wiki.get_absolute_url }}"><span class="gri" >{{ wiki.name }}</span></a><br />{% endfor %}</div>
<div class="sidebar sidebar_alt_img">&nbsp;</div>
{% endif %}

{% if game.videos.all %}
<div class="sidebar sidebar_baslik">İlgili Videolar</div>
<div class="sidebar sidebar_ic">{% for video in game.videos.all %}<a href="/video/{{ video.get_video_name }}" rel="lightbox[video_{{ game.title }}]" title="{{ video.desc }}"><img src="{{ video.get_thumbnail_url }}" /></a>{% endfor %}</a></div>
{% endif %}

<div class="sidebar sidebar_top_img">&nbsp;</div>
<div class="sidebar sidebar_baslik">Yazar</div>
<div class="sidebar sidebar_ic"><span class="gri" >{{ game.author }}</span></div>
<div class="sidebar sidebar_alt_img">&nbsp;</div>
{% endblock %}
