{% load library %}
{% extends "base.html" %}

{% block title %}Oyunlar - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}game{% endblock %}

{% block header_menu %}
    <!-- Burası header kısmı -->
	{% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
	<!-- Burası üst menü kısmı -->
	{% include "ust_menu_ayrinti.html" %}
	
{% endblock %}
<br/>

{% block content %}
{% for game in game_list %}
<div id="game-{{ game.id }}" class="games">
    <div class="games_title transparent_link"><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></div>
    <div class="games_content grey">{{ game.sum }}
        <p style="padding-top: 4px;"><img src="/media/img/tag_darkblue.png" style="vertical-align: middle;" /> {% for tag in game.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</p>
    </div>
</div>
{% endfor %}

{% if is_paginated %}{% paginator %}{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar sidebar_baslik">Katkıda bulunun</div>
<div class="sidebar sidebar_ic">Oyunlar bölümüne katkıda bulunmak istiyorsanız <a class="sari" href="/katki/oyun/">buraya</a> tıklayarak size kılavuzluk edecek sayfaya gidebilirsiniz.</div>
<div class="sidebar sidebar_alt_img">&nbsp;</div>
{% endblock %}
