{% load thumbman %}
{% load comment_utils %}


{% block content %}
		<div align="center"><a href="/tema/goster/son/">En son eklenen</a> | 
							<a href="/tema/goster/indirilen/">En çok ziyaret Edilen</a> 
							<a href="/tema/goster/begenilen/">| En çok oy alan</a></div>
							<a href="/tema/ekle/">| Ekle</a></div>
		<table summary="Submitted table designs" border="1" align="center">
			<caption>Tema Dosyalar</caption>
			<thead>
				<tr>
					<th scope="col">Kategori</th>
					<th scope="col">İsim</th>
					<th scope="col">Thumb</th>

					<th scope="col">Link</th>
					<th scope="col">Gönderen</th>
					<th scope="col">Lisans</th>

					<th scope="col">Görülmüş</th>
					<th scope="col">Oy</th>	
					<th scope="col">Yorum</th>	
			</tr>

			</thead>	
			
			<tbody>
			{% if object_list %}
				{% for dosya in object_list %}				
					<tr >
						<th scope="row"><a href="{{dosya.parent_cat.get_absolute_url}}">{{dosya.parent_cat}}</a> |<a href="/tema/feed/kategori/rss/{{dosya.parent_cat.id}}/"> RSS</a> |<a href="/tema/feed/kategori/atom/{{dosya.parent_cat.id}}/">ATOM</a></th>
						<td><a href="{{dosya.get_absolute_url}}">{{dosya.name}}</a></td>

						<td>{% for screen in dosya.screens.all %}
								<img src="../../../media/{{screen}}" width="100" height="100"/><br/>								
							{% endfor %}
						</td>

						<td>{% for file in dosya.file_data.all %}
								<a href="../../../media/{{file}}">Link</a><br/>
							{% endfor %}</td>

						<td><a href="/tema/kullanici/{{dosya.user}}/">{{dosya.user}}</a><br/></td>
						<td>{{dosya.licence}}</td>
						<td>{{dosya.counter}}</td>
						<td>{{dosya.rate}}</td>
						<td>{% get_public_comment_count for sanat.dosya dosya.id as comment_count %}{{comment_count}}</td>						
						
					</tr>
				{% endfor %}
			{% endif %}
			<tr>
				<th scope="row"></th>
						<td></td>

						<td>
							{% if has_previous %}
								<div id="leftcolumn"><a href="?page={{previous}}">Onceki</a></div>
							{% endif %}
						</td>

						<td>
							{% if has_next %}
								<div id="rightcolumn"><a href="?page={{next}}">Sonraki</a></div>
							{% endif %}
						</td>
						<td></td>
						<td></td>
			</tr>
</tbody>
</table> 



{% endblock %}