{% extends "shop_base.html" %}
{% block title %}Dükkan - Profil{% endblock %}
{% block content %}
    Normal Telefon: {{ profile.phone }} <br />
    {% if profile.cellphone %}Cep Telefonu: {{ profile.cellphone }} <br />{% endif %}
    Adres: {{ profile.address }} <br />
    {% if profile.cellphone %}İkinci Adres: {{ profile.address }} <br />{% endif %}

    <br />
    Fatura Bilgileri: <br />
    <br />
    &nbsp;&nbsp;&nbsp;- Ürünün gönderileceği adres: {{ profile.bill.address }} <br />

    &nbsp;&nbsp;&nbsp;- Kurumsal Hesap: {{ profile.bill.have_company_information }} <br />
    {% if profile.bill.have_company_information %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Şirket Adı: {{ profile.bill.company_name }} <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Şirket Adresi: {{ profile.bill.company_adress }} <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Kişinin şirketteki ünvanı: {{ profile.bill.employee_title }} <br />
    {% endif %}
{% endblock %}
