{% load library %}
{% load list_view_filter %}

{% if idea %}
<div class="idea_left">
    {% vote_value_calc idea %}
        {% if user.is_authenticated %}
            {% is_voted idea user come_from %}
            {% endif %}
    {#this is for template tag#}
    </div>
</div>
<div class="idea_middle">
    <h1>#{{ idea.id }}: {{ idea.title }}</h1>
    
    <div class="idea_info">
        <p>Submitted by:{{ idea.submitter }} at {{idea.dateSubmitted}}</p>
    </div>
    
    <div class="idea_content">
        <p>{{ idea.description }}</p>
    </div>

    {% for image in idea.screenshot_set.all %}
        <img src="{{ image.image.url }}" height="320" width"240" /><br />
    {% endfor %}
    <div class="idea_status">
        <p><b>Status: </b> {{ idea.status }} - <b>Category: </b> {{ idea.category }} </p>
    </div>
    <div class="idea_comments">
        <a href='{{idea.topic.get_latest_post_url}}'>
            {% if idea.topic.posts|add:"-1"  %}
                {{ idea.topic.posts|add:"-1"  }} tane yorum yapıldı.
            {% else %}
                İlk yorum yapan siz olun !
            {% endif %}
        </a>
    </div>
</div>

<div class="idea_right"
        {% if perms.beyin2.change_idea %}
        <form action="{% url main_post idea.id %}" method="POST" name="select_boxes">
            <a href='{% url edit_idea idea.id %}'><img src="/media/img/beyin2/duzenle.png" /></a>
            <a href='{% url mark_duplicate idea.id %}'><img src="/media/img/beyin2/tekrar.png" /></a>
            <select onchange=this.form.submit() name='status'>
                    <option value="status">Status</option>
                {%for status in status_list %}
                    <option value="{{ status.name }}" {% if status.name == idea.status.name %}selected{% endif %}>{{ status.name }}</option>
                {% endfor %}
            </select>
            <select onchange=this.submit() name='category'>
                    <option value="category">Category</option>
                {% for category in category_list %}
                    <option value="{{ category.name }}" {% if category.name == idea.category.name %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <a href ='{% url delete_idea idea.id %}' onclick="return confirm('Bu fikri silmek istediğinizden emin misiniz?');"><img src="/media/img/beyin2/sil.png" /></a>
        </form>
        {% endif %}
</div>
{% endif %}
