
{% extends "base.html" %}
{% load library %}

{% block title %}beyin2 arayuzu denemesi{% endblock %}

{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/paginator.css');</style>

{% endblock %}

{% block content %}
{% if idea_list %}
{% for idea in idea_list %}

    <table>
        <tr>
            <td rowspan='5'>
                <h2>{{ idea.title }}</h2>
                <p>{{ idea.description }}</p>
                <p><b>Status: </b>{{ idea.status }} - <b>Category: </b>{{ idea.category }}</p><br />
                {% for image in idea.screenshot_set.all %}
                    <img src="{{ image.image.url }}" height="320" width"240" /><br />
                {% endfor %}
                <a href='{{idea.topic.get_latest_post_url}}'>
                    {% if idea.topic.posts|add:"-1"  %}
                        {{ idea.topic.posts|add:"-1"  }} tane yorum yapıldı.
                    {% else %}
                        İlk yorum yapan siz olun !
                    {% endif %}
                </a>
                <br />
            </td>
        {% if perms.beyin2.change_idea %}
            <td>
                <a href='{% url edit_idea idea.id %}'>edit idea</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href='{% url mark_duplicate idea.id %}'>mark duplicate</a>
            </td>
        </tr>
        <form action="{% url main_post idea.id %}" method="POST" name="select_boxes">
        <tr>
            <td>
                <p>status</p>
                <select onchange=this.form.submit() name='status'>
                    {%for status in status_list %}
                        <option value="{{ status.name }}" {% if status.name == idea.status.name %}selected{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
         <tr>
             <td>
                 <p>category</p>
                 <select onchange=this.submit() name='category'>
                     {% for category in category_list %}
                         <option value="{{ category.name }}" {% if category.name == idea.category.name %}selected{% endif %}>{{ category.name }}</option>
                     {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <a href ='{% url delete_idea idea.id %}'>sil</a>
            </td>
        </form>
        {% endif %}
        </tr>
    </table>
    <br />
{% endfor %}
{% endif %}
<a href='{% url add_new %}'>Add New Idea</a>
{% endblock %}
