{% load library %}
{% load list_view_filter %}
{%load thumbnail %}

{% if idea %}
<div class="idea_left">
    {% vote_value_calc idea %}
        {% if user.is_authenticated %}
            {% is_voted idea user come_from %}
        {% else %}
            <a href='{% url vote idea.id 1 come_from %}'>
            <img src="/media/img/beyin2/arti.png" value="I like it" /></a>

            <a href='{% url vote idea.id 0 come_from %}'>
            <img src="/media/img/beyin2/notr.png" value="I am not sure" /></a>

            <a href='{% url vote idea.id 2 come_from %}'>
            <img src="/media/img/beyin2/eksi.png" value="I dislike it" /></a>
        {% endif %}
        {#this is for template tag#}
    </div>
</div>
<div class="idea_middle">
    {% if come_from == 'detail' %}
        <h1>#{{ idea.id }}: {{ idea.title }}</h1>
    {% else %}
        <a href="{% url idea_detail idea.id %}">
            <h1>#{{ idea.id }}: {{ idea.title }}</h1>
        </a>
    {% endif %}
    <div class="idea_status">
        <p>{{ idea.status }}</p>
    </div>    

    <div class="idea_info">
            <p>Submitted by
            <a href= "{{ idea.submitter.get_profile.get_absolute_url }}">
                {{ idea.submitter }}
            </a>
                at {{idea.dateSubmitted}} to {{ idea.category }} category</p>
    </div>
    
    <div class="idea_content">
        <p>{{ idea.description|renderbbcode|safe }}</p>
    </div>

    {% for image in idea.screenshot_set.all %}
        <a href="{{ image.image.url }}">
            <img src="{{ image.image.url|thumbnail:"200" }}"/>
        </a>
    {% endfor %}
    <br /><br /><br />
    <div class="idea_comments">
        <a href='{{idea.topic.get_latest_post_url}}'>
            {% if idea.topic.posts|add:"-1"  %}
                {{ idea.topic.posts|add:"-1"  }} tane yorum yapıldı.
            {% else %}
                İlk yorum yapan siz olun !
            {% endif %}
        </a>
    </div>
</div>

<div class="idea_right">
        {% if perms.beyin2.change_idea %}
        <form action="{% url main_post idea.id %}" method="POST" name="select_boxes">
            <a href='{% url edit_idea idea.id %}'><img src="/media/img/beyin2/duzenle.png" /></a>
            <a href='{% url mark_duplicate idea.id %}'><img src="/media/img/beyin2/tekrar.png" /></a>
            <a href='{% url delete_idea idea.id %}' onclick="return confirm('Bu fikri silmek istediğinizden emin misiniz?');"><img src="/media/img/beyin2/sil.png" /></a>
            <select onchange=this.form.submit() name='status'>
                    <option value="status">Select Status</option>
                {%for status in status_list %}
                    <option value="{{ status.name }}" {% if status.name == idea.status.name %}selected{% endif %}>{{ status.name }}</option>
                {% endfor %}
            </select>
            <select onchange=this.form.submit() name='category'>
                    <option value="category">Select Category</option>
                {% for category in category_list %}
                    <option value="{{ category.name }}" {% if category.name == idea.category.name %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </form>
        {% endif %}
</div>
{% endif %}
