{% extends "beyin2/idea_base.html" %}
{% load library %}

{% block title %}Beyin2 yeni öneri ekle{% endblock %}

{% block extrahead %}
<!--<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>-->
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/idea.js"></script>
<!--<script type="text/javascript" src="/media/js/taghelper_idea.js"></script>-->
<style type="text/css" media="screen">@import url('/media/css/new/paginator.css');</style>
<style type="text/css" media="screen">@import url('/media/css/beyin2/beyin2.css');</style>

{% endblock %}

{% block content %}
<div id="idea_topbar">
    <span id="idea_submit"><a href="{% url add_new %}" title="Yeni Fikir Ekle"><img src="/media/img/beyin2/ideas_submit.png" alt="submit idea" /></a></span>
    <span class="idea_new_title">Yeni Fikir Ekle</span>
</div>


<form action='{% url select_tags %}' enctype="multipart/form-data" method="POST" name='add_new_idea'>
{% if perms.beyin2.can_change_status %}
    {% for field in form %}
        {% include "formfields.html" %}
    {% endfor %}
{% else %}
    {% for field in form %}
        {% if field.label != "Category" and field.label != "Status" %}
              {% include "formfields.html" %}
        {% endif %}
    {% endfor %}
{% endif %}
<br />
{{ ScreenShotFormSet.management_form }}
{% for form in ScreenShotFormSet.forms %}
    {% for field in form%}
        {% include "formfields.html" %}
    {% endfor %}
{% endfor %}
<input type='submit' value='Send Idea' name='send_new_idea'>
</form>

{% endblock %}
