{% extends "beyin2/idea_base.html" %}
{% load library %}

{% block title %}Beyin2 yeni öneri ekle{% endblock %}

{% block extrahead %}
<!--<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>-->
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/idea.js"></script>
<!--<script type="text/javascript" src="/media/js/taghelper_idea.js"></script>-->
<style type="text/css" media="screen">@import url('/media/css/new/paginator.css');</style>
<style type="text/css" media="screen">@import url('/media/css/beyin2/beyin2.css');</style>

{% endblock %}

{% block content %}
<div id="idea_topbar">
    <span id="idea_submit"><a href="{% url select_tags %}" title="Yeni Fikir Ekle"><img src="/media/img/beyin2/ideas_submit.png" alt="submit idea" /></a></span>
    <span class="idea_new_title">Etiketler</span>
</div>

<form id="select_tags_form" action='{% url select_tags %}' enctype="multipart/form-data" method="POST" name='add_new'>
{% for field in form %}
    {% include "formfields.html" %}
{% endfor %}
<input type='button' value='Continue' name='continue' onclick='search_tags("{% url select_tags %}");'>
</form>
<div id="results_list" >
    <input type="button" id="next_button" onclick='add_new_idea("{% url add_new %}");' style="display:none;" value="next"/>
</div>
{% endblock %}
