{% extends "beyin2/idea_base.html" %}
{% load library %}

{% block title %}Yeni Öneri Ekle{% endblock %}

{% block extrahead %}
<!--<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>-->
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/idea.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/jquery.autocomplete.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/taghelper.js"></script>
<!--<script type="text/javascript" src="/media/js/taghelper_idea.js"></script>-->
<style type="text/css" media="screen">@import url('/media/css/new/paginator.css');</style>
<style type="text/css" media="screen">@import url('/media/css/beyin2/beyin2.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/autocomplete.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/formfield.css');</style>

{% endblock %}

{% block content %}

<div id="results_list" ></div>

<form id="select_tags_form" action='{% url add_new 1 %}' enctype="multipart/form-data" method="POST" name='add_new'>
    <div id="hiding_div">
        {% for field in form %}
            {% include "field.html" %}
        {% endfor %}
        <br /><br />
        <input type='button' value='Continue' name='continue' onclick='search_tags("{% url select_tags %}");'>
    </div>
    <span id="searching" style="display:none;">Searching</span>
    <img id="searching_image" src="/media/img/beyin2/searching.gif" style="display:none;" />
    <input type="submit" id="next_button" style="display:none;" value="Add New"/>
</form>
{% endblock %}
