{% extends "base.html" %}
{% load shop_library %}
{% block title %}E-Mağaza - {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/shop.css');</style>
{% endblock %}
{% block leftcolumn %}
<div class="sidebarcolumn leftcolumn">
    <div class="leftcolumn_content">
        <div class="shop_category">Ürünler</div>
        {% category_tree %}
    </div>
</div>
{% endblock %}
{% block sidebar_bottom %}{% endblock %}
