{% load library %}
{% extends "base.html" %}

{% block title %}{{ fs.title }} - İlk Adımlar - {% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/slimbox_ex.js"></script>
<style type="text/css" media="screen">@import url('/media/css/slimbox_ex.css');</style>
{% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}fs{% endblock %}
{% block section_logo %}<img src="/media/img/fs_header_logo.png">{% endblock %}

{% block content %}
<div class="fs_title transparent_link">{{ fs.title }}</div>
<div class="page_content grey">
{{ fs.text }}
</div>
<div class="page_properties"><a href="{{ fs.get_printable_url }}"><img src="/media/img/print.png" /></a></div>
<div class="page_last_update">Son güncelleme: {{ fs.update|timedelta }}</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar sidebar_green_title">Etiketler</div>
<div class="sidebar grey">{% for tag in tags %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</div>

{% if videos %}
<div class="sidebar sidebar_green_title">İlgili Videolar</div>
<div class="sidebar grey">{% for video in videos %}<a href="/video/{{ video.name }}" rel="lightbox[video_{{ package.name }}]" title="{{ video.desc }}"><img src="{{ video.get_thumbnail_url }}" /></a>{% endfor %}</a></div>
{% endif %}

<div class="sidebar sidebar_green_title">Yazar</div>
<div class="sidebar grey">{{ fs.author }}</div>
{% endblock %}
