{% extends "base.html" %}
{% load library %}

{% block title %}{{ fs.title }} - İlk Adımlar - {% endblock %}

{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}

{% block content %}
<div class="page_title">{{ fs.title }}</div>
<div class="page_content">
    {{ fs.text|safe }}
    <div style="float: left;"><a href="{{ fs.get_printable_url }}"><img src="/media/img/print.png" alt="yazdır" title="yazıcı dostu görünüm" /></a></div>
    <div style="float: right;">Son güncelleme: {{ fs.update|timedelta }}</div>
</div>
{% endblock %}

{% block leftcolumn %}

<div class="sidebarcolumn leftcolumn">
    <h2>Katkıda bulunun</h2>
    <p>İlk adımlar bölümüne katkıda bulunmak istiyorsanız <a href="/katki/ilk_adimlar/">buraya</a> tıklayarak size kılavuzluk edecek sayfaya gidebilirsiniz.</p>
    <br />
    <h2>Etiketler</h2>
    <p>
        <img src="/media/img/tag.png" style="vertical-align: middle;" /> {% for tag in fs.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}
    </p>
    <br />
{% if fs.videos.all %}
    <h2>İlgili Videolar</h2>
    <p>
        {% for video in fs.videos.all %}
        {% include "video.html" %}
        {% endfor %}
{% endif %}
    </p>
    <br />
    <h2>Yazar</h2>
    <p>{{ fs.author }}</p>
</div>
{% endblock %}
