{% extends "base.html" %}
{% load library %}
{% block title %}İlk Adımlar - {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/object_lists.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/paginator.css');</style>

{% endblock %}
{% block content %}
<div class="summary_container" style="background-color: #642437;">
<div style="padding-left: 160px; padding-top:100px" class="pardus-2009-resim">
        <img src="/media/img/pardus.png"/>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</div>


{% endblock %}

{% block sidebar %}
<div class="sidebar_box">
    <div class="sidebar_top">&nbsp;</div>
    <div class="sidebar_middle">
        <h2>Katkıda bulunun</h2>
        <p>İlk adımlar bölümüne katkıda bulunmak istiyorsanız <a href="/katki/ilk_adimlar/">buraya</a> tıklayarak size kılavuzluk edecek sayfaya gidebilirsiniz.</p>
    </div>
    <div class="sidebar_bottom">&nbsp;</div>
</div>
{% endblock %}
