{% load library %}
{% extends "base.html" %}

{% block title %}Haberler - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}news{% endblock %}
{% block section_logo %}<img src="/media/img/news_header_logo.png" width="127" height="136">{% endblock %}

{% block content %}
        <div id="news_container">
            {% for news in news_list %}
            <div id="news-{{ news.id }}" class="news">
                <div class="news_title transparent_link"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></div>
                <div class="news_content grey">{{ news.sum }}
                    <p style="padding-top: 4px;"><img src="/media/img/tag.png" style="vertical-align: middle;" /> {% for tag in news.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</p>
                </div>
            </div>
            {% endfor %}
        </div>

{% if is_paginated %}{% paginator %}{% endif %}
{% endblock %}

{% block sidebartop %}{% endblock %}

{% block sidebar %}
{% if seminar %}
<div class="sidebar sidebar_purple_title">Pardus Etkinlikleri</div>
<div class="sidebar grey">
    {% for sem in seminar %}
    <div style="padding-bottom: 4px;{% if not forloop.first %} padding-top: 4px; border-top: 1px solid;{% endif %}">
        <strong>{{ sem.date|date:"d F Y" }}</strong><br/>
        {{ sem.description }}<br/>
        <strong>Yer:</strong> {{ sem.place.name }}<br/>
        <strong>Konuşmacılar:</strong> {% for att in sem.attender.all %}{{ att.name }} {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}