{% extends "base.html" %}
{% load library %}

{% block title %}{{ news.title }} - Haberler - {% endblock %}
{% block extrahead %}
<style media="screen" type="text/css">@import url('/media/css/new/article.css');</style>
<style media="screen" type="text/css">@import url('/media/css/new/st.css');</style>
<!--facebook-->
<meta name="title" content="{{ news.title|safe }}" />
{% block metadescription %}<meta name="description" content="{{ news.sum|safe|striptags|cut:"\"" }}" />{% endblock %}
<link rel="image_src" href="{{ news.image.file.url }}" />
<meta name="medium" content="news" />
<!--end facebook-->
{% if user.is_authenticated %}
    <script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
    <script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="page_title">{{ news.title }}</div>
<div class="page_content">
{{ news.text|safe }}
</div>
<div style="clear: both;"></div>
<div class="page_comments">
    <a href="{{ news.topic.get_latest_post_url }}">{{ news.topic.posts|add:"-1" }} yorum</a> <a href="{{ news.topic.get_latest_post_url }}"><img src="/media/img/new/forum/go_to_msg.png" /></a>
</div>

{% if user.is_authenticated %}
    {% if form %}
    <p>
        <form method="post" action="{{ news.topic.get_reply_url }}">
            {{form}}
            <br/>
            <input type="submit" value="Gönder" />
        </form>
    </p>
    {% endif %}
{% endif %}
<div class="page_printable"><a href="{{ news.get_printable_url }}"><img src="/media/img/print.png" alt="yazdır" title="yazıcı dostu görünüm" /></a></div>
<div class="page_last_update">Son güncelleme: {{ news.update|date:"d F Y" }}</div>

{% endblock %}

{% block leftcolumn %}
<div class="sidebarcolumn leftcolumn">
    <h2>Etiketler</h2>
    <p><img src="/media/img/new/tag.png" style="vertical-align: middle;" /> {% for tag in news.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
    </p>
    <br />
    <h2>Yazar</h2>
    <p>{{ news.author }}</p>
    <h2>Paylaş</h2>
    <script language="javascript" type="text/javascript">
        var newstitle = "{{ news.title|safe|addslashes }}";
        var newssummary = "{{ news.sum|safe|striptags|addslashes|cut:"\n" }}";
        var newsurl = "{{ request.build_absolute_uri }}";
    </script>
    <p>
    <a href="http://delicious.com/save" title="del.icio.us'a ekle" onclick='window.open("http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url="+encodeURIComponent(newsurl)+"&title="+encodeURIComponent(newstitle), "delicious","toolbar=no,width=550,height=550"); return false;'><img src="/media/img/new/servicelinks/delicious.png" alt="del.icio.us'a ekle" /></a>
    <a href="http://facebook.com/sharer.php" title="facebook'a ekle" onclick='window.open("http://facebook.com/sharer.php?u="+encodeURIComponent(newsurl)+"&t="+encodeURIComponent(newstitle), "facebook","toolbar=no,width=550,height=550"); return false;'><img src="/media/img/new/servicelinks/facebook.png" alt="facebook'a ekle" /></a>
    <a href="http://twitter.com/home" title="twitter'a ekle" onclick='window.open("http://twitter.com/home?status="+encodeURIComponent(newstitle)+": "+encodeURIComponent(newsurl), "twitter","toolbar=no,width=800,height=550"); return false;'><img src="/media/img/new/servicelinks/twitter.png" alt="twitter'a ekle" /></a>
    <a href="http://www.stumbleupon.com/" title="stumbleupon'a ekle" onclick='window.open("http://www.stumbleupon.com/submit?url="+encodeURIComponent(newsurl), "stumbleupon","toolbar=no,width=800,height=550"); return false;'><img src="/media/img/new/servicelinks/stumbleupon.png" alt="stumbleupon'a ekle" /></a>
    <a href="http://www.google.com/bookmarks/" title="google bookmarks'a ekle" onclick='window.open("http://www.google.com/bookmarks/mark?op=add&hl=tr&bkmk="+encodeURIComponent(newsurl)+"&title="+encodeURIComponent(newstitle)+"&annotation="+encodeURIComponent(newssummary)+"&labels="+encodeURIComponent("{% for tag in news.tags.all %}{{ tag.name }}{% if not forloop.last %},{% endif %}{% endfor %}"), "google bookmarks","toolbar=no,width=800,height=550"); return false;'><img src="/media/img/new/servicelinks/googlebookmarks.png" alt="google bookmarks'a ekle" /></a>
    <a href="http://technorati.com/" title="technorati'ye ekle" onclick='window.open("http://technorati.com/faves?sub=addfavbtn&add="+encodeURIComponent(newsurl), "technorati","toolbar=no,width=1000,height=550"); return false;'><img src="/media/img/new/servicelinks/technorati.png" alt="technorati'ye ekle" /></a>
    </p>
</div>
{% endblock %}
