{% extends "base.html" %}

{% block title %}Sayfa Bulunamadı - {% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

{% block content %}

<br />

<h2>Ulaşmaya çalıştığınız sayfa bulunamadı...</h2>
<ul>
    <li>Anasayfa'ya gitmek için <a href="/">tıklayın</a></li>
    <li>Özgürlükİçin e-dergiye gitmek için <a href="/e-dergi/">tıklayın</a></li>
    <li>Özgürlükİçin forumlarına gitmek için <a href="/forum/">tıklayın</a></li>
</ul>
{% endblock %}
