{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Page Not Found" %} - {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}
{% block content %}
<div class="page_title">{% trans"The page you were looking for couldn't be found..." %}</div>
<div class="page_content">
<ul>
    <li>{% blocktrans %}Click <a href="/">here</a> to visit main page.{% endblocktrans %}</li>
    <li>{% blocktrans %}Click <a href="/e-dergi/">here</a> to visit e-zine page.{% endblocktrans %}</li>
    <li>{% blocktrans %}Click <a href="/forum/">here</a> to visit forums.{% endblocktrans %}</li>
</ul>
</div>
{% endblock %}
