{% extends "base.html" %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

{% block content %}
<div class="center" style="text-align: left; padding-left: 50px;">
    <form method="post" action="">
        <style type="text/css">ul{overflow:hidden;padding:0;list-style-type:none;}</style>
        {% for field in form %}
        <dl>
            <dt><label for="id_{{ field.name }}">{{ field.label }}</label>{% if field.help_text %}<br /><span>{{ field.help_text }}</span>{% endif %}{% if field.errors %}<br /><span class="error">{{ field.errors }}</span>{% endif %}</dt>
            <dd>{{ field }}</dd>
        </dl>
        {% endfor %}
    <input type="submit" value="Sonuçları göster" />
    </form>
</div>
{% if searched %}
<div class="fs_title transparent_link">{{ term }} kelimesini içeren sayfa{% if tags or topics or posts or news or packages or games or fs or howto or flatpages %}lar{% else %} bulunamadı.{% endif %}</div>
{% ifnotequal total 0 %}
<div class="fs_content">
    {% if tags %}
        <div class="purple">
            <h2><span>Etiketler ({{ tags.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in tags %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if news %}
        <div class="purple">
            <h2><span>Haberler ({{ news.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in news %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

	{% if howto %}
        <div class="purple">
            <h2><span>Nasıl ({{ howto.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in howto %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if packages %}
        <div class="orange">
            <h1><span>Paketler ({{ packages.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in packages %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if fs %}
        <div class="green">
            <h2><span>İlk adımlar ({{ fs.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in fs %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if games %}
        <div class="darkblue">
            <h2><span>Oyunlar ({{ games.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in games %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

	{% if topics or posts %}
        <div class="darkblue">
            <h2><span>Forum ({% if posts %}{{ posts.count }}{% else %}{{ topics.count }}{% endif %} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% if posts %}
            {% for obj in posts %}
                <li><a href="{{ obj.topic.get_absolute_url }}">{{ obj.topic.title }}</a></li>
            {% endfor %}
            {% else %}
            {% for obj in topics %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></li>
            {% endfor %}
            {% endif %}
            </ul>
        </div>
    {% endif %}


    {% if flatpages %}
        <div class="green">
            <h2><span>Sabit sayfalar ({{ flatpages.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in flatpages %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.text|truncatewords:"10"|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endifnotequal %}
{% ifequal total 0 %}
<div class="fs_content">İçerik bulunamadı.</div>
{% endifequal %}
{% endif %}
{% endblock %}
