<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %}Özgürlük için...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="shortcut icon" href="/media/img/fav.png" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Anasayfa" href="/rss" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Haberler" href="/rss/haber" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Nasıl" href="/rss/nasil" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - İlk Adımlar" href="/rss/ia" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Paketler" href="/rss/paket" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Oyunlar" href="/rss/oyun" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Gezegen" href="/rss/gezegen" />
<style type="text/css" media="screen">@import url('/media/css/style.css');</style>

<!-- dijital template kısmı burası -->
<style type="text/css" media="screen">@import url('/media/dijital/css/ozgurlukicin.css');</style>
<script type="text/javascript" src="/media/dijital/js/base.js"></script>
<!-- dijital template kısmı bitti -->

<script type="text/javascript" src="/media/js/mootools.js"></script>
<script type="text/javascript" src="/media/js/custom.js"></script>
<script type="text/javascript" src="/media/js/pngfix.js"></script>
{% block extrahead %}{% endblock %}
</head>
<body>
<!--<div id="topbar">
    <div id="topbar_content">
        {% if not user.is_authenticated %}
            <form method="post" action="/kullanici/giris/">
                Kullanıcı adı: <input type="text" id="id_username" name="username" size="8" class="vTextField required" value="" maxlength="30" />
                Parola: <input type="password" id="id_password" name="password" size="8" class="vPasswordField required" value="" maxlength="30" />
                <input type="submit" value="login" id="form_submit" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        {% endif %}
    </div>
</div>-->
{% block header_menu %}
    <!-- Burası header kısmı -->
	{% endblock %}

	{% block ust_menu %}
	<!-- Burası üst menü kısmı -->
	{% endblock %}


<div id="{% block pagetype %}page{% endblock %}">


    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebartop %}
        <div class="sidebar sidebar_top_img" style="margin-top: 40px;">&nbsp;</div>
        <div class="sidebar sidebar_baslik">Kullanıcı Kutusu</div>
        <div class="sidebar sidebar_ic"{% if not user.is_authenticated %} style="text-align: center;"{% endif %}>
        {% if not user.is_authenticated %}
        <form method="post" action="/kullanici/giris/">
            <input type="text" id="id_username" name="username" size="18" class="vTextField required" value="" maxlength="30" /><br />
            <input type="password" id="id_password" name="password" size="18" class="vPasswordField required" value="" maxlength="30" /><br />
            <input type="submit" value="Giriş" id="form_submit" />
        </form>
        <br />
        <a href="/kullanici/kayit/">Kayıt Ol</a> | <a class="sari"  href="/kullanici/kayip/">Kayıp parola?</a>
        {% else %}
            Merhaba <b>{{ user.username }}</b>!
            <br />Kullanıcı sayfanıza <a href="/kullanici/sayfam/">buradan</a> ulaşabilir veya <a class="sari" href="/kullanici/cikis/">buraya</a> tıklayarak sistemden çıkabilirsiniz.
        {% endif %}
        </div>
        <div class="sidebar sidebar_alt_img">&nbsp;</div>
        <!--  <div class="sidebar sidebar_baslik">Pardus'u indirin</div>
        <div class="sidebar sidebar_ic"  ><a href="/indir/"><img align="center" src="/media/img/sidebar_download.png" border="0" alt="Pardus'u indir.." /></a></div> -->
        <div class="sidebar sidebar_top_img">&nbsp;</div>
        <div class="sidebar sidebar_baslik">Arama</div>
        <div class="sidebar sidebar_ic" style="text-align: center;">
            <form method="post" action="/arama/">
                <input type="text" name="term" size="20"><br />
                    <input type="submit" value="Ara">
            </form>
        </div>
        <div class="sidebar sidebar_alt_img">&nbsp;</div>
        
        <div class="sidebar sidebar_top_img">&nbsp;</div>
        <div class="sidebar sidebar_baslik">Özgürlükİçin OOXML'e Karşı</div>
        <div class="sidebar sidebar_ic"><center><a href="/ooxml_banner/"><img src="/media/ooxml/mavi/180x60_2.png" /></a></center><br /><a href="/ooxml/">"Özgürlükİçin OOXML'e Hayır!"</a> diyoruz. <a href="/ooxml_banner/">Banner ve düğmelerimizi</a> kullanarak kampanyamıza katkıda bulunabilirsiniz.</div>
            <div class="sidebar sidebar_alt_img">&nbsp;</div>
        
        
        <div class="sidebar sidebar_top_img">&nbsp;</div>
        <div class="sidebar sidebar_baslik">Özgürlükiçin'i destekleyin</div>
        <div class="sidebar sidebar_ic"><center><a href="/banner/"><img src="/media/img/pardus_ozgurluk.png" /></a></center><br />Pardus'un tanıtımına katkıda bulunmak isteyenler için Özgürlükiçin düğmeleri yayınlandı. Sitenizde, blogunuzda yayınlamak için siz de <a href="/banner/">hazır kodlarımızdan</a> yararlanabilirsiniz.</div>
        <div class="sidebar sidebar_alt_img">&nbsp;</div>
        {% block alt_resim %}
        {% endblock %}

        {% endblock %}
        {% block sidebar %}
        {% endblock %}
        {% block sidebarbottom %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
