<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %}Özgürlük için...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="shortcut icon" href="/media/img/favicon.png" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Anasayfa" href="/rss" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Haberler" href="/rss/haber" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Nasıl" href="/rss/nasil" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - İlk Adımlar" href="/rss/ia" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Paketler" href="/rss/paket" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Oyunlar" href="/rss/oyun" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Gezegen" href="/rss/gezegen" />
<style type="text/css" media="screen">@import url('/media/dijital/css/ozgurlukicin.css');</style>
<script type="text/javascript" src="/media/dijital/js/base.js"></script>

<style type="text/css">
<!--
.style1 {color: #FFFFFF}
body {
	margin-top: 0px;
}
-->
</style>
<!-- For bakward sheyisi -->
{% block extrahead %}{% endblock %}

</head>
<body onload="MM_preloadImages('/media/dijital/img/bt_detay_off.gif')">

    <!-- Burası header kısmı -->
	{% include "header.html" %}

	<!-- Burası üst menü kısmı -->
	{% include "ust_menu.html" %}
	

	<!-- Burası içerik kısmı -->
	<div id="tab3" style="margin:0px auto;">	

		<!-- Bu sol kısım burası home.html içinde-->
		
        	{% block content %}
			<!-- Default bişey atayalım şimdilik-->

				<div class="txtTtlNrm" style="width:670px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 0px; top: 15px; height: 135px;">
    				<div align="center" style="width:134px; position:absolute; top: 36px;"><img src="/media/dijital/img/p_nasilkurulur.gif" width="134" height="83" /></div>
    				<div class="txtBigTtl" style="width:314px; position:absolute; left: 0px; top: 1px;">Pardus nasıl kurulur?</div>
    				<div class="txtNrm" style="width:513px; position:absolute; left: 146px; top: 37px; height: 38px;">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor. Ekran görüntüleri</div>
    				<div class="txtNrm" style="width:60px; position:absolute; left: 146px; top: 77px; height: 18px;"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','/media/dijital/img/bt_detay_off.gif',1)"><img src="/media/dijital/img/bt_detay.gif" alt="Detay" name="Image14" width="60" height="18" border="0" id="Image14" /></a></div>
  				</div>
				

        	{% endblock %}
    	
    
			<!-- Burasi sağ kısım Eski sidebar olduğu gibi kalktı ???-->
			<div class="txtTtlNrm" style="width:183px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 682px; top: 14px; height: 251px;">
    			<div class="txtBigTtl" style="width:182px; height:10px; position:absolute; left: 0px; top: 0px; background:url(/media/dijital/img/tbl_ust.jpg); background-repeat:no-repeat;"></div>
    			<div class="txtTtlNrm" align="center" style="width:182px; position:absolute; left: 0px; top: 10px; height: 89px; background:url(/media/dijital/img/tbl_bg.jpg);"><img src="/media/dijital/img/lo_pardus.jpg" width="48" height="82" /></div>
    			<div class="txtTtlNrm" style="width:172px; position:absolute; left: 0px; top: 146px; height: 91px; padding-left:10px; background:url(/media/dijital/img/tbl_bg.jpg);">Pardus'un tanıtımına katkıda bulunmak isteyenler için Özgürlükiçin  düğmeleri yayınlandı. Sitenizde, blogunuzda yayınlamak için siz de <a href="file://///supermana/wwwroot/ozgurlukicin/divindex.html#" class="txtTtlNrm">hazır kodlarımızdan</a> yararlanabilirsiniz.</div>
    			<div class="txtTtl" style="width:172px; position:absolute; left: 0px; top: 99px; height: 47px; padding-left:10px; background:url(/media/dijital/img/tbl_bg.jpg);">ozgurlukicin'i destekleyin</div>
    			<div class="txtBigTtl" style="width:182px; height:10px; position:absolute; left: 0px; top: 237px; background:url(/media/dijital/img/tbl_alt.jpg); background-repeat:no-repeat;"></div>
				
				{% block sidebar %}
        		{% endblock %}
        		{% block sidebarbottom %}
        		{% endblock %}

  			</div>
  

	</div>
	<!-- İçerik sonu -->

	<!-- Buraya footer koy -->
    {% include "footer.html" %}



</body>
</html>
