{% load petition %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %}Özgürlük için...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="shortcut icon" href="/media/img/fav.png" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Anasayfa" href="/rss" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Haberler" href="/rss/haber" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Nasıl" href="/rss/nasil" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - İlk Adımlar" href="/rss/ia" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Paketler" href="/rss/paket" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Oyunlar" href="/rss/oyun" />
<link rel="alternate" type="application/rss+xml" title="Özgürlükİçin RSS - Gezegen" href="/rss/gezegen/" />

<style type="text/css" media="screen">@import url('/media/css/style.css');</style>
<style type="text/css" media="screen">@import url('/media/dijital/css/ozgurlukicin.css');</style>

<script type="text/javascript" src="/media/dijital/js/base.js"></script>
<!--[if lt IE 7.]>
<script defer type="text/javascript" src="/media/js/pngfix.js"></script>
<![endif]-->
{% block extrahead %}{% endblock %}
</head>
<body{% block extrabody %}{% endblock %}>
{% block header_menu %}
    <!-- Burası header kısmı -->
    {% endblock %}

    {% block ust_menu %}
    <!-- Burası üst menü kısmı -->
    {% endblock %}


<div id="{% block pagetype %}page{% endblock %}">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebartop %}
        <div class="sidebar_box">
            <div class="sidebar_top">&nbsp;</div>
            <div class="sidebar_middle">
                <h2>Kullanıcı Kutusu</h2>
                {% if not user.is_authenticated %}
                    <form method="post" action="/kullanici/giris/">
                        <input type="text" id="userbox_username" name="username" size="18" class="vTextField required" value="" maxlength="20" /><br />
                        <input type="password" id="userbox_password" name="password" size="18" class="vPasswordField required" value="" maxlength="30" /><br />
                        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                        <input type="submit" value="Giriş" />
                    </form>
                    <p><a href="/kullanici/kayit/">Kayıt ol</a> | <a class="sari"  href="/kullanici/kayip/">Kayıp parola</a></p>
                {% else %}
                    <p>Merhaba <b>{{ user.username }}</b>!
                    <br />Profil sayfanıza <a href="/kullanici/profil/{{ request.user.username }}/">buradan</a> ulaşabilir ya da <a 
class="sari" href="/kullanici/cikis/">buraya</a> tıklayarak sistemden çıkabilirsiniz.</p>
                {% endif %}
            </div>
            <div class="sidebar_bottom">&nbsp;</div>
        </div>
        <div class="sidebar_box">
            <div class="sidebar_top">&nbsp;</div>
            <div class="sidebar_middle">
                <h2>Ara</h2>
                <form method="post" action="/arama/">
                    <input type="text" name="term" size="20" /><br />
                    <input type="submit" value="Bul" />
                </form>
            </div>
            <div class="sidebar_bottom">&nbsp;</div>
        </div>

        <div class="sidebar_box">
            <div class="sidebar_top">&nbsp;</div>
            <div class="sidebar_middle">
                <h2>Özgürlükiçin E-Dergisi</h2>
                <a href="/e-dergi/"><img src="/media/img/oi-edergi-3-kapak.jpg" alt="e-dergi" /></a>
                Özgürlükiçin'in şimdi bir de e-dergisi var! Okumak için <a href="/e-dergi/">buraya</a> tıklayın.
            </div>
            <div class="sidebar_bottom">&nbsp;</div>
        </div>
        {% petition_box %}
        {% block alt_resim %}
        {% endblock %}

        {% endblock %}
        {% block sidebar %}
        {% endblock %}
        {% block sidebarbottom %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
    {% include "footer.html" %}
</div>
</body>
</html>
