{% extends "base.html" %}

{% block title %}{{ flatpage.title }} - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block content %}
<div class="page_title">{{ flatpage.title }}</div>
<div class="page_content">
{{ flatpage.text }}
</div>
<div class="page_last_update">Son güncelleme: {{ flatpage.update|date:"d" }} {{ flatpage.update|date:"F" }} {{ flatpage.update|date:"Y" }} - {{ flatpage.update|date:"H" }}:{{ flatpage.update|date:"i" }}</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar_green_title">Etiketler</div>
<div class="sidebar sidebar_green">{% for tag in flatpage.tags.all %}<img src="/media/img/tag_green.png" border="0" style="vertical-align:middle;" /><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</div>
{% endblock %}