<div id="tab4" style="margin:0px auto;">
    <div class="txtNrm" style="width:6800px; position:absolute; left: 10px; top: 5px; height:
18px;"> <a class="siyah" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons (by-nc-sa)</a> Pardus logosu TÜBİTAK/UEKAE'nin tescilli markasıdır.</div>
    <div style="width:220px; position:absolute; left: 680px; top: 5px; height: 18px;"><a href="/hakkinda/" class="siyah">Hakkında</a> | <a
href="/takip_et/"
class="siyah">Takip et</a> | <a href="#" class="siyah">Hata raporla</a></div>
  </div>
