<div id="tab4" style="margin:0px auto;">
    <div class="txtNrm" style="width:238px; position:absolute; left: 0px; top: 5px; height: 18px;"><span class="txtAlt">İçerik Creative Commons (by-nc-sa) ile lisanslanmıştır.</span></div>
    <div style="width:145px; position:absolute; left: 756px; top: 5px; height: 18px;"><span class="txtAltlink"><a href="#" class="txtAltlink">Hakkında</a></span> | <span class="txtAltlink"><a href="#" class="txtAltlink">Takip et</a></span> |  <span class="txtAltlink"><a href="#" class="txtAltlink">Hata raporla</a></span></div>
  </div>