<div id="tab4" style="margin:0px auto;">
    <div class="txtNrm" style="width:350px; position:absolute; left: 10px; top: 5px; height: 18px;"><span class="txtAlt siyahd">İçerik <a class="siyah" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons (by-nc-sa)</a> ile lisanslanmıştır.</span></div>
    <div style="width:220px; position:absolute; left: 680px; top: 5px; height: 18px;"><span class="txtAltlink"><a href="#" class="siyah" style="text-decoration: color= #000000;">Hakkında</a></span> | <span class="txtAltlink"><a href="#" class="siyah" style="text-decoration: color= #000000;">Takip et</a></span> |  <span class="txtAltlink siyahd"><a href="mailto:admin@ozgurlukicin.com" class="siyah" style="text-decoration: color= #000000;">Hata raporla</a></span></div>
  </div>
