<tr>
    <td height="135" valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="/media/dijital/img/logo.png" width="413" height="50" /></td>
        <td valign="bottom" style="padding-right:29px;"><img src="/media/dijital/img/pardus_ust.png" width="58" height="35" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="400" valign="top" background="/media/dijital/img/td_bg.jpg" bgcolor="#000000" style="background-repeat:repeat-x; padding-left:17px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="40" class="txtSub">Pardus  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </td>
      </tr>
      <tr>
        <td class="txtTtlNrm" style="padding-bottom:15px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="txtTtlNrm" style="padding-top:11px; padding-bottom:15px;"><span >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span></td>
            <td width="320" align="right" valign="top" style="padding-right:69px;"><a href="#"><img src="/media/dijital/img/i_pardus.jpg" alt="İndir" width="118" height="44" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="padding-left:15px; padding-right:20px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_ilkadim.gif" alt="İlk Adımlar" width="35" height="41" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">İlk Adımlar</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor. Ekran görüntüleri </td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_nasil.gif" alt="Nasıl" width="32" height="52" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">Nasıl</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor.</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_paket.gif" alt="Paketler" width="41" height="37" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">Paketler</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor. Ekran görüntüleri </td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_oyun.gif" alt="Oyunlar" width="53" height="37" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">Oyunlar</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray olacağını adım adım anlatıyor. Ekran görüntüleri.</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_haber.gif" alt="Haberler" width="31" height="40" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">Haberler</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor.</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_gezegen.gif" alt="Gezegen" width="66" height="39" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">Gezegen</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor. Ekran görüntüleri </td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_tema.gif" alt="Temalar" width="42" height="55" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">Temalar</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor. Ekran görüntüleri </td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_topluluk.gif" alt="Topluluk-Forum" width="45" height="45" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">Topluluk-Forum</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor.</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="255" valign="top" style="padding-right:20px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="70" align="center" valign="top"><img src="/media/dijital/img/l_pardon.gif" alt="ParDon" width="56" height="45" /></td>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txtTtl" style="padding-bottom:5px;">Pardon</td>
                  </tr>
                  <tr>
                    <td class="txtTtlNrm">Pardus Geliştiricilerinden Koray Löker, temel bir Pardus kurulumun nasıl olacağını adım adım anlatıyor. Ekran görüntüleri </td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#7C7C7C"><img src="/media/dijital/img/ara_bg.jpg" width="900" height="40" /></td>
  </tr>
