<div id="header">
    <div id="logo">
        <a href="/" title="Özgürlük İçin Anasayfa"><img src="/media/img/new/ozgurlukicin.png" alt="Özgürlük İçin" /></a>
    </div>
    <img src="/media/img/new/download_pardus.png" alt="Pardus 2008 indir" id="header_img" usemap="#downloadmap" />
    <map id="downloadmap" name="downloadmap">
        <area shape="poly" href="/indir/" alt="Pardus 2008 indir" coords="19,0,92,137,140,140,264,190,378,153,378,146,351,133,323,130,326,92,255,91,253,66,244,60,233,64,216,62,200,65,187,60,179,70,187,84,182,115,112,118,38,0,38,0" />
    </map>
</div>
