{% extends "base.html" %}

{% block content %}
        <div id="fs_container">
            {% for fs in fss %}
            <div id="fs-{{ fs.id }}" class="fs">
                <div class="fs_title transparent_link">İlk adım: <a href="{{ fs.get_absolute_url }}">{{ fs.title }}</a></div>
                <div class="fs_content grey">{{ fs.sum }}</div>
            </div>
            {% endfor %}
        </div>
        <br />
        <div id="packages_container">
            {% for package in packages %}
            <div id="package-{{ package.id }}" class="packages {% cycle alignleft,alignright %}">
                <div class="packages_title_mini transparent_link">Paket: <a href="{{ package.get_absolute_url }}">{{ package.title }}</a></div>
                <div class="packages_content_mini grey">{{ package.sum }}</div>
            </div>
            {% endfor %}
        </div>
        <br />
        <div id="games_container">
            {% for game in games %}
            <div id="game-{{ game.id }}" class="games {% cycle alignleft,alignright %}">
                <div class="games_title_mini transparent_link">Oyun: <a href="{{ game.get_absolute_url }}">{{ game.title }}</a></div>
                <div class="games_content_mini grey">{{ game.sum }}</div>
            </div>
            {% endfor %}
        </div>
        <br />
        <div id="news_container">
            {% for new in news %}
            <div id="news-{{ new.id }}" class="news {% cycle alignleft,alignright %}">
                <div class="news_title_mini transparent_link">Haber: <a href="{{ new.get_absolute_url }}">{{ new.title }}</a></div>
                <div class="news_content_mini grey">{{ new.sum }}</div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
