{% extends "base.html" %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/object_lists.css');</style>
{% endblock %}
{% block content %}
    <div class="news_container">
        <div class="leftcolumn">
            <img src="{{ news.image.get_file_url }}" alt="{{ news.image.get_alt_string }}" /><br />
        </div>
        <div class="rightcolumn">
            {{ news.title }}
            {{ news.sum }}
            {{ news.update|date:"d M Y" }}
        </div>
    </div>
    <div class="summary_container">
        {% for howto in howtos %}
        <div class="leftcolumn">
            <img src="{{ howto.image.get_file_url }}" alt="{{ howto.image.get_alt_string }}" /><br />
            {{ howto.update|date:"d M Y" }}
        </div>
        <div class="rightcolumn">
            <span>Nasıl</span>
            <p class="title"><a href="{{ howto.get_absolute_url }}">{{ howto.title }}</a></p>
            <p>{{ howto.sum|safe }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="summary_container">
        {% for package in packages %}
        <div class="leftcolumn">
            <img src="{{ package.image.get_file_url }}" alt="{{ package.image.get_alt_string }}" /><br />
            {{ package.update|date:"d M Y" }}
        </div>
        <div class="rightcolumn">
            <span>Paket</span>
            <p class="title"><a href="{{ package.get_absolute_url }}">{{ package.title }}</a></p>
            <p>{{ package.sum|safe }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="summary_container">
        {% for game in games %}
        <div class="leftcolumn">
            <img src="{{ game.image.get_file_url }}" alt="{{ game.image.get_alt_string }}" /><br />
            {{ game.update|date:"d M Y" }}
        </div>
        <div class="rightcolumn">
            <span>Oyun</span>
            <p class="title"><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></p>
            <p>{{ game.sum|safe }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
