<div id="menu">
    <div>
    <a href="/ia/"><img src="/media/img/new/menu/fs.png" alt="İlk Adımlar"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a href="/nasil/"><img src="/media/img/new/menu/howto.png" alt="Nasıl"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a href="/paket/"><img src="/media/img/new/menu/package.png" alt="Paketler"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a href="/oyun/"><img src="/media/img/new/menu/game.png" alt="Oyunlar"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a href="/haber/"><img src="/media/img/new/menu/news.png" alt="Haberler"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a href="/yenifikir/"><img src="/media/img/new/menu/idea.png" alt="Beyin"/></a>
    </div>
    <div style="clear:both">
    <a href="/gezegen/"><img src="/media/img/new/menu/planet.png" alt="Gezegen"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a href="/tema/"><img src="/media/img/new/menu/theme.png" alt="Temalar"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a href="/forum/"><img src="/media/img/new/menu/forum.png" alt="Forum"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a href="#"><img src="/media/img/new/menu/pardon.png" alt="ParDon"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a href="/dukkan/"><img src="/media/img/new/menu/shop.png" alt="E-Mağaza"/></a>
    <img src="/media/img/new/menu/bottom.png" alt=" "/>
    </div>
</div>
