{% load i18n %}
<div id="menu">
    <div>
    <a title="{% trans "Useful articles for beginners" %}" href="/ia/"><img src="/media/img/new/menu/fs.png" alt="{% trans "First Steps" %}"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="{% trans "Articles that contain answers for 'How can I do this?' questions" %}" href="/nasil/"><img src="/media/img/new/menu/howto.png" alt="{% trans "Howto" %}"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="{% trans "Reviews of programs in Pardus repositories" %}" href="/paket/"><img src="/media/img/new/menu/package.png" alt="{% trans "Packages" %}"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="{% trans "Game reviews for game addicts" %}" href="/oyun/"><img src="/media/img/new/menu/game.png" alt="Oyunlar"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="{% trans "News about Pardus and free software" %}" href="/haber/"><img src="/media/img/new/menu/news.png" alt="{% trans "News" %}"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="{% trans "Area for brainstorming about Pardus" %}" href="/yenifikir/"><img src="/media/img/new/menu/idea.png" alt="{% trans "Brainstorm" %}"/></a>
    </div>
    <div><img src="/media/img/new/menu/spacer3.png" alt=" "/></div>
    <div style="clear:both">
    <a title="{% trans "Blogs of Pardus developers and users" %}" href="/gezegen/"><img src="/media/img/new/menu/planet.png" alt="{% trans "Planet" %}"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a title="{% trans "Everything you need to customize your Pardus!" %}" href="#"><img src="/media/img/new/menu/theme.png" alt="{% trans "Themes" %}"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a title="{% trans "Forum for sharing knowledge about Pardus" %}" href="/forum/"><img src="/media/img/new/menu/forum.png" alt="{% trans "Forum" %}"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a title="{% trans "Pardus harware compatibility database will be here soon" %}" href="#" ><img src="/media/img/new/menu/pardon.png" alt="{% trans "ParDon" %}"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a href="/dukkan/" title="{% trans "Buy your Pardus products here" %}"><img src="/media/img/new/menu/shop.png" alt="{% trans "E-Store" %}"/></a>
    <img src="/media/img/new/menu/bottom.png" alt=" "/>
    </div>
</div>
