<div id="menu">
    <div>
    <a title="Pardus'u ilk olarak kuruyorsanız işinize yarayacak makaleler" href="/ia/"><img src="/media/img/new/menu/fs.png" alt="İlk Adımlar"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="'Bu işi nasıl yaparım?' sorusuna cevap bulacağınız belgeler" href="/nasil/"><img src="/media/img/new/menu/howto.png" alt="Nasıl"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="Pardus depolarında yer alan paketlerin incelemeleri" href="/paket/"><img src="/media/img/new/menu/package.png" alt="Paketler"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="Oyun düşkünlerinin vazgeçilmez bölümü! Oyun incelemeleri" href="/oyun/"><img src="/media/img/new/menu/game.png" alt="Oyunlar"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="Özgür yazılım ve Pardus üzerine haberler" href="/haber/"><img src="/media/img/new/menu/news.png" alt="Haberler"/></a>
    <img src="/media/img/new/menu/spacer1.png" alt=" "/>
    <a title="Pardus ile ilgili beyin fırtınası yapabileceğiniz alan" href="/yenifikir/"><img src="/media/img/new/menu/idea.png" alt="Beyin"/></a>
    </div>
    <div><img src="/media/img/new/menu/spacer3.png" alt=" "/></div>
    <div style="clear:both">
    <a title="Pardus geliştirici ve katkıcılarının blogları" href="/gezegen/"><img src="/media/img/new/menu/planet.png" alt="Gezegen"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a title="Pardus'u özelleştirmek için gereken herşey!" href="/tema/"><img src="/media/img/new/menu/theme.png" alt="Temalar"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a title="Pardus ile ilgili destek alabileceğiniz forum alanı" href="/forum/"><img src="/media/img/new/menu/forum.png" alt="Forum"/></a>
    <img src="/media/img/new/menu/spacer2.png" alt=" "/>
    <a title="Pardus yazılım geliştirme atölyesi" href="/atolye/" ><img src="/media/img/new/menu/atolye.png" alt="Atölye"/></a>
     <img src="/media/img/new/menu/spacer2.png" alt=" "/>
     <a href="/cdgonder/" title="Pardus CD'nizi buradan alın"><img src="/media/img/new/menu/shipit.png" alt="CD Gönder"/></a>
     <img src="/media/img/new/menu/spacer2.png" alt=" "/>
     <a href="/podcast/" title="Ajans Pardus'u Dinleyin"><img src="/media/img/new/menu/ajans.png" alt="Ajans Pardus"/></a>
    <img src="/media/img/new/menu/bottom.png" alt=" "/>
    </div>
</div>
