<div id="pagination" class="paginator">
{% spaceless %}
{% if show_first %}<span class="prev"><a href="?page=1" title="İlk Sayfa">&lt;&lt;</a></span>{% endif %}
{% if has_previous %}<span class="prev"><a href="?page={{ previous }}" title="Önceki Sayfa">&lt;</a></span>{% else %}<span class="prev-na">&lt;</span>{% endif %}
{% for num in page_numbers %}
    {% ifequal num page %}
        <span class="curr" title="Şimdiki Sayfa">{{ num }}</span>
    {% else %}
        <span class="page"><a href="?page={{ num }}" title="Sayfa {{ num }}">{{ num }}</a></span>
    {% endifequal %}
{% endfor %}
{% if has_next %}<span class="next"><a href="?page={{ next }}" title="Sonraki Sayfa">&gt;</a></span>{% else %}<span class="next-na">&gt;</span>{% endif %}
{% if show_last %}<span class="next"><a href="?page={{ pages }}" title="Son Sayfa">&gt;&gt;</a></span>{% endif %}
{% endspaceless %}
<!--
<br/><span class="paginate-desc">Her sayfada {{ results_per_page }} kayıt olmak üzere {{ pages }} sayfada toplam {{ hits }} kayıt listeleniyor.</span>
-->
</div>
