<div class="paginator">
{% spaceless %}
{% if show_first %}<div class="prev"><a href="?page=1&order={{ order }}" title="İlk Sayfa">&lt;&lt;</a></div>{% endif %}
{% if has_previous %}<div class="prev"><a href="?page={{ previous }}&order={{ order }}" title="Önceki Sayfa">&lt;</a></div>{% else %}<div class="prev-na">&lt;</div>{% endif %}
{% for num in page_numbers %}
    {% ifequal num page %}
        <div class="curr" title="Şimdiki Sayfa">{{ num }}</div>
    {% else %}
        <div class="page"><a href="?page={{ num }}&order={{ order }}" title="Sayfa {{ num }}">{{ num }}</a></div>
    {% endifequal %}
{% endfor %}
{% if has_next %}<div class="next"><a href="?page={{ next }}&order={{ order }}" title="Sonraki Sayfa">&gt;</a></div>{% else %}<div class="next-na">&gt;</div>{% endif %}
{% if show_last %}<div class="next"><a href="?page={{ pages }}&order={{ order }}" title="Son Sayfa">&gt;&gt;</a></div>{% endif %}
{% endspaceless %}
<!--
<br/><div class="paginate-desc">Her sayfada {{ results_per_page }} kayıt olmak üzere {{ pages }} sayfada toplam {{ hits }} kayıt listeleniyor.</div>
-->
</div>
