{% spaceless %}
    <i><b>{{total_results}}</b> {% trans " result(s) in " %} <b>{{total_page}}</b> {% trans "page(s)" %}</i>

    {% if prev %}
        <a href="{{blog_url}}{{url_tip}}{{current_page|add:"-1"}}">{% trans "Previous Page" %}</a>
    {% else %}
        {% trans "Previous Page" %}
    {% endif %}

    &nbsp;- <b>{{current_page|add:"1"}}</b> / <b>{{total_page}}</b> -&nbsp;

    {% if next %}
        <a href="{{blog_url}}{{url_tip}}{{current_page|add:"1"}}">{% trans "Next Page" %}</a>
    {% else %}
        {% trans "Next Page" %}
    {% endif%}
{% endspaceless %}