{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %}{% trans "Özgürlük için..." %}</title>
<meta name="description" content="Pardus'un yaygınlığını artırmak ve bilgi paylaşımı için kurulan bir topluluk sitesi. Haberler, yardım belgeleri ve forum ve daha fazlasını içeriyor." />
<meta name="keywords" content="Pardus, topluluk, Linux, özgürlük için, haber, forum, nasıl, paket, oyun, inceleme, beyin fırtınası, gezegen, e-dükkan" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="shortcut icon" href="/media/img/favicon.png" />
<style type="text/css" media="screen,print">@import url('/media/css/print.css');</style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
