{% extends "base.html" %}

{% block header_menu %}
    <!-- Burası header kısmı -->
	{% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
	<!-- Burası üst menü kısmı -->
	{% include "ust_menu_ayrinti.html" %}

{% endblock %}
<br/>

{% block content %}
<div class="center">
    <form method="post" action="">
    Anahtar kelime: <input type="text" name="term">
    <input type="submit" value="Sonuçları göster">
    </form>
</div>
{% if searched %}
<div class="fs_title transparent_link">{{ term|escape }} kelimesini içeren sayfalar</div>
{% ifnotequal total 0 %}
<div class="fs_content">
    {% if news %}
        <div class="purple">
            <h2><span>Haberler ({{ news.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in news %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

	{% if howto %}
        <div class="purple">
            <h2><span>Nasıl ({{ howto.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in howto %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if packages %}
        <div class="orange">
            <h1><span>Paketler ({{ packages.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in packages %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if fs %}
        <div class="green">
            <h2><span>İlk adımlar ({{ fs.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in fs %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if games %}
        <div class="darkblue">
            <h2><span>Oyunlar ({{ games.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in games %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

	{% if topic %}
        <div class="darkblue">
            <h2><span>Forum ({{ topic.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in topic %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}


    {% if flatpages %}
        <div class="green">
            <h2><span>Sabit sayfalar ({{ flatpages.count }} adet)</span></h2>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in flatpages %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.text|truncatewords:"10"|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endifnotequal %}
{% ifequal total 0 %}
<div class="fs_content">İçerik bulunamadı.</div>
{% endifequal %}
{% endif %}
{% endblock %}