<td valign="top"><table width="182" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td background="/media/dijital/img/tbl_ust.jpg"><img src="/media/dijital/img/spacer.gif" width="1" height="10" /></td>
          </tr>
          <tr>
            <td background="/media/dijital/img/tbl_bg.jpg" style="padding-left:12px; padding-right:16px; padding-top:10px; padding-bottom:10px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center"><img src="/media/dijital/img/lo_pardus.jpg" width="48" height="82" /></td>
              </tr>
              <tr>
                <td class="txtTtl" style="padding-top:5px; padding-bottom:7px;">ozgurlukicin'i destekleyin</td>
              </tr>
              <tr>
                <td class="txtTtlNrm">Pardus'un tanıtımına katkıda bulunmak isteyenler için Özgürlükiçin düğmeleri yayınlandı. Sitenizde, blogunuzda yayınlamak için siz de <a href="#" class="txtTtlNrm">hazır kodlarımızdan</a> yararlanabilirsiniz.</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td background="/media/dijital/img/tbl_alt.jpg"><img src="/media/dijital/img/spacer.gif" width="1" height="10" /></td>
          </tr>
        </table></td>
      </tr>
      
    </table></td>
  </tr>