<div id="tab2" style="margin:0px auto;">
    <a href="/indir/">
    <div style="float: right; position:absolute; left: 740px; top: -43px;"><img src="/media/dijital/img/pardus_ust.png" width="65" height="63" /></div>
  <div id="#IMGindir" style="position:absolute; left: 713px; top: 21px;"><img src="/media/dijital/img/i_pardus.jpg" alt="indir" width="118" height="81" border="0" /></a><br />
  </div>

  <div class="txtSub" id="tabtxt1">Özgürlükİçin.com, Pardus'un yaygınlığını artırmak ve bilgi paylaşımı için kurulan bir topluluk sitesidir.</div>

  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 0px; top: 85px; height: 89px;">
  <div align="center" style="width:70px;"><img src="/media/dijital/img/l_ilkadim.gif" /></div>
  <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><a style="text-decoration: none; color:#6992A6;" href="ia/">İlk Adımlar</a></div>
  <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">Pardus'un kurulumu ve temel kullanım alanları.</div>
  </div>
  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 290px; top: 85px; height: 89px;">
    <div align="center" style="width:70px;"><img src="/media/dijital/img/l_nasil.gif" alt="Nasıl" width="32" height="52" /></div>
    <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><span class="txtTtl" style="padding-bottom:5px;"><a style="text-decoration: none; color:#6992A6;" href="nasil/">Nasıl</a></span></div>
    <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">"Pardus ile şunu nasıl yaparım?" dediğiniz her şey...</div>
  </div>
  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 590px; top: 85px; height: 89px;">
    <div align="center" style="width:70px;"><img src="/media/dijital/img/l_paket.gif" alt="Paketler" width="41" height="37" /></div>
    <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><span class="txtTtl" style="padding-bottom:5px;"><a style="text-decoration: none; color:#6992A6;" href="paket/">Paketler</a></span></div>
    <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">Pardus depolarındaki yazılımların ayrıntılı anlatımları...</div>
  </div>
  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 0px; top: 175px; height: 89px;">
    <div align="center" style="width:70px;"><img src="/media/dijital/img/l_oyun.gif" alt="Oyunlar" width="53" height="37" /></div>
    <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><span class="txtTtl" style="padding-bottom:5px;"><a style="text-decoration: none; color:#6992A6;" href="oyun/">Oyunlar</a></span></div>
    <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">Kim demiş Pardus'ta oyun yok diye?</div>
  </div>
  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 290px; top: 175px; height: 89px;">
    <div align="center" style="width:70px;"><img src="/media/dijital/img/l_haber.gif" alt="Haberler" width="31" height="40" /></div>
    <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><span class="txtTtl" style="padding-bottom:5px;"><a style="text-decoration: none; color:#6992A6;" href="haber/">Haberler</a></span></div>
    <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">Pardus'a ilişkin en güncel haber ve gelişmeler burada.</div>
  </div>
  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 590px; top: 175px; height: 89px;">
    <div align="center" style="width:70px;"><img src="/media/dijital/img/l_gezegen.gif" alt="Gezegen" width="66" height="39" /></div>
    <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><span class="txtTtl" style="padding-bottom:5px;"><a style="text-decoration: none; color:#6992A6;" href="gezegen/">Gezegen</a></span></div>
    <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">Pardus katkıcı ve kullanıcılarının blogları.</div>
  </div>
  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 0px; top: 275px; height: 89px;">
    <div align="center" style="width:70px;"><img src="/media/dijital/img/l_tema.gif" alt="Temalar" width="42" height="55" /></div>
    <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><span class="txtTtl" style="padding-bottom:5px;"><a style="text-decoration: none; color:#6992A6;" href="#">Tema</a></span></div>
    <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">Pencere dekorasyonları, duvar kağıtları ve daha fazlası.</div>
  </div>
  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 290px; top: 275px; height: 89px;">
    <div align="center" style="width:70px;"><img src="/media/dijital/img/l_topluluk.gif" alt="Topluluk-Forum" width="45" height="45" /></div>
    <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><span class="txtTtl" style="padding-bottom:5px;"><a style="text-decoration: none; color:#6992A6;" href="forum/">Forum</a></span></div>
    <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">Özgürlükİçin topluluğunun bilgi paylaşım ve yardımlaşma alanı.</div>
  </div>

  <div class="txtTtlNrm" style="width:280px; float: left; margin-left:15px; margin-top:20px; position:absolute; left: 590px; top: 275px; height: 89px;">
    <div align="center" style="width:70px;"><img src="/media/dijital/img/l_pardon.gif" alt="ParDon" width="56" height="45" /></div>
    <div class="txtTtl" style="width:210px; position:absolute; left: 72px; top: 1px;"><span class="txtTtl" style="padding-bottom:5px;"><a style="text-decoration: none; color:#6992A6;" href="#">ParDon</a></span></div>
    <div style="width:210px; position:absolute; left: 72px; top: 24px; height: 61px;">Donanım uyumluluk listesi! Çok yakında burada...</div>
  </div>
</div>
