{% extends "idea_base.html" %}
{% load library %}

{% block title %}Yeni Fikirler - {% endblock %}

{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/brainstorm.css');</style>
<script type="text/javascript" src="/media/js/brainstorm.js"></script>
<style type="text/css" media="screen">@import url('/media/css/new/forum_paginator.css');</style>
{% endblock %}

{% block content %}
<div id="idea_topbar"><span id="idea_list_title">{{ page_title }}</span>
    <span id="idea_submit"><a href="/yenifikir/ekle/" title="Yeni Fikir Ekle"><img src="/media/img/new/ideas_submit.png" alt="submit idea" /></a></span>
</div>
{% block idea %}
{% for idea in object_list %}
<div class="idea_container">
    {% include "idea_top.html" %}
    </div><!-- for /idea_right -->

    <div style="clear:both"></div>
</div>
{% endfor %}
{% endblock %}
{% if is_paginated %}<div class="paginator_block"><div class"paginator_pages">{% paginator %}</div></div>{% endif %}
{% endblock %}
