{% extends "idea_list.html" %}

{% block title %}Yeni Fikir Ekle - {% endblock %}

{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/brainstorm.css');</style>
<script type="text/javascript" src="/media/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/js/brainstorm.js"></script>

{% endblock %}
{% block idea %}
{% if user.is_authenticated %}
{% if form.errors %}
<p><font color="red">Fikir eklenemedi, lütfen aşağıdaki hataları düzeltin.</font></p>
{% endif %}
<form method="POST" action="" enctype="multipart/form-data">
    {% for field in form %}
    <div class="field_container">
        <div class="field_label">{{ field.label_tag }}</div>
        <div class="field_field">
            {{ field }}
            {% if field.errors %}{{ field.errors }}{% endif %}
        </div>
        <div class="help_text">
            {% if field.help_text %}{{ field.help_text }}{% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>
{% endfor %}
<input type="submit" value="Gönder" />
</form>
{% else %}
<p>Yeni fikir eklemek için oturum açmanız gerekiyor.</p>
{% endif %}
{% endblock %}
