{% extends "idea_list.html" %}

{% block title %}{{ idea.title }} - Yeni Fikirler - {% endblock %}

{% block idea %}
{% if already_voted %}
Zaten oy verdiniz.
{% endif %}

<h1>{{ idea.vote_count }} <a href="/yenifikir/oyla/{{ idea.id }}/1">(+)</a> <a href="/yenifikir/oyla/{{ idea.id }}/0">(-)</a></h1> 

{% if favorited %}
<h2><a href="{{ idea.get_absolute_url }}/favori/cikar">favorilerimden çıkar</a></h3>
{% else %}
<h2><a href="{{ idea.get_absolute_url }}/favori/ekle">favorile</a></h3>
{% endif %}


<h3>#{{idea.id}} {{ idea.title }}</h3>

<p>
<a href="{{ idea.submitter.get_profile.get_absolute_url }}" title="{{ idea.submitter }} kullanıcısının profiline git">{{ idea.submitter }}</a>
tarafından {{ idea.submitted_date }} tarihinde
<a href="/yenifikir/listele/kategori/{{ idea.category }}" title="{{ idea.category }}">{{ idea.category }}</a> kategorisine
<a href="/yenifikir/listele/ilgili/{{ idea.related_to }}" title="{{ idea.related_to }}">{{ idea.related_to }}</a> ile ilgili olarak gönderildi.
</p>
<p>{{ idea.description }}</p>
<p>Etiketler :
{% for tag in idea.tags.all %}
        <img src="/media/img/tag.png" style="vertical-align: middle;" /> <a href="/yenifikir/listele/etiket/{{ tag.name }}" title="{{ tag.name }}">{{ tag.name }}</a>
{% endfor %}
</p>
<h4>Yorumlar</h4>
     {% for comment in comments %}
      <p>#{{ forloop.counter }}. {{ comment.text }} | 
Yazan : <a href="{{ comment.author.get_profile.get_absolute_url }}" title"{{ comment.author }} kullanıcısının profiline git">{{ comment.author }}</a> Tarih: {{ comment.submited }}</p>
      {% endfor %}
{% if auth %}
{% if form %}
<h4>Siz de yorum yapın</h4>
<form method="post" action="">
{{ commentform }}
  <input type="submit" value="Gönder" />
</form>
{% endif %}
{% endif %}
{% endblock %}
