{% extends "idea_list.html" %}

{% block idea %}
{% if already_voted %}
Zaten oy verdiniz.
{% endif %}

{% if duplicate_of %}
<hr />
<h3>Bu fikir <a href="/yenifikir/ayrinti/{{ duplicate_of.id }}">#{{ duplicate_of.id }}</a> numaralı hatanın aynısı</h3>
<hr />
{% endif %}

<div class="idea_container">
    <div class="idea_left">
        <div id="vote{{ idea.id }}_1">
            {% ifequal idea.user_vote 1 %}
            <img src="/media/img/new/ideas_voted_1.png" />
            {% else %}
            <a href="javascript:;" title="" onclick="{% ifequal idea.user_vote 0 %}oyiptal({{ idea.id }}, '1'){% else %}oyla({{ idea.id }}, '1'){% endifequal %}; return false;"><img src="/media/img/new/ideas_vote{% ifequal idea.user_vote 1 %}d{% endifequal %}_1.png" /></a>
            {% endifequal %}
        </div>
        <div class="idea_vote" id="vote{{ idea.id }}">
            {{ idea.vote_count }}
        </div>
        <div id="vote{{ idea.id }}_0">
            {% ifequal idea.user_vote 0 %}
            <img src="/media/img/new/ideas_voted_0.png" />
            {% else %}
            <a href="javascript:;" title="" onclick="{% ifequal idea.user_vote 1 %}oyiptal({{ idea.id }}, '0'){% else %}oyla({{ idea.id }}, '0'){% endifequal %}; return false;"><img src="/media/img/new/ideas_vote_0.png" /></a>
            {% endifequal %}
        </div>
    </div>
    <div class="idea_right">
        <div class="h1"><a href="/yenifikir/ayrinti/{{ idea.id }}">{{ idea.title }}</a></div>
        <span class="idea_status">&nbsp;{{ idea.status }}&nbsp;</span>
        <div class="idea_info">
            <a href="{{ idea.submitter.get_profile.get_absolute_url }}" title="{{ idea.submitter }} kullanıcısının profiline git">{{ idea.submitter }}</a>
        tarafından {{ idea.submitted_date|date:"j M Y" }} tarihinde
            <a href="/yenifikir/listele/kategori/{{ idea.category }}" title="{{ idea.category }}">{{ idea.category }}</a> kategorisine
            <a href="/yenifikir/listele/ilgili/{{ idea.related_to }}" title="{{ idea.related_to }}">{{ idea.related_to }}</a> ile ilgili olarak gönderildi. 
        </div>
        <div class="idea_content">{{ idea.description|safe }}</div>
        <div class="idea_comments">
            <img src="/media/img/new/icon_comment.png" />
            <a href="{{ idea.comment_url }}" title="Yorumlar">
            {% if idea.comment_count  %}
                {{ idea.comment_count }} tane yorum yapıldı.
            {% else %}
                İlk yorum yapan siz olun !
            {% endif %}
            </a>
            {% block idea_detail %}{% endblock %}
        </div> 
        <div class="tags"><span class="h3">Etiketler :</span>
{% for tag in idea.tags.all %}
        <a href="/yenifikir/listele/etiket/{{ tag.name }}" title="{{ tag.name }}">{{ tag.name }}</a>
{% endfor %}
</div>
    <div class="h3">Hata kayıtları</div>
      <br />
  {% for bug in bugs %}
  <a href="http://bugs.pardus.org.tr/show_bug.cgi?id={{ bug }}">{{ bug }}</a>
  {% endfor %}

<div class="h3">İlgili Forum Bağlantısı</div>
  <br />
  <a href="{{ idea.forum_url }}">{{ idea.forum_url }}</a>


<div class="h3">Bu fikrin aynısı olarak işaretlenen fikirler</div>
<ul class='idea_detail_box'>
{% for duplicate in duplicates %}
<li><a href="/yenifikir/ayrinti/{{ duplicate.id }}"><strong>#{{ duplicate.id }}</strong> {{ duplicate.title }}</a> ({{ duplicate.vote_count }} oy)</li>
{% endfor %}
</ul>
    </div>
    <div style="clear:both"></div>
</div>


<h2 id="favoricikar{{ idea.id }}" {% if not idea.is_favorited %}style="display:none;"{% endif %}>
<a href="/yenifikir/ayrinti/1/favori/cikar" onclick="favori({{ idea.id  }}, 'cikar');return false;">favorilerimden çıkar</a>
</h2>
<h2 id="favoriekle{{ idea.id }}" {% if idea.is_favorited %}style="display:none;" {% endif %}>
<a href=
{% if user.is_authenticated %}
"/yenifikir/ayrinti/1/favori/ekle" onclick="favori({{ idea.id }}, 'ekle'); return false;"
{% else %}
"/yenifikir/giris/yap"
{% endif %}
>favorile</a>
</h2>


<p><a href="javascript:;" onclick="$('#tekrarform').toggle(); return false;">Bu fikir başka bir fikrin tekrarı</a></p>
<form id="tekrarform" style="display:none;" method="post" action="javascript:;">
<p>Bu fikrin aynısını daha önce görmüşmüydünüz ? O zaman fikir tekrarını bildirerek bize yardımcı olun! </p>
Fikir numarası :<input type="text" name="duplicate_id" id="duplicate_id" size="4" />
<input type="submit" value="Bildir" onclick="duplicate({{ idea.id }})" id="dup_submit" /><br />
<span id="duplicate_form_info"></span>
</form>

<hr />
Fikir durumunu değiştir:
<form method="POST" action="javascript:;">
    <select name="id_status" id="id_status">
    <option value="">---------</option>
    {% for status in statusform %}
    <option value="{{ status.id }}">{{ status.name }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Değiştir" onclick="changeStatus({{ idea.id }})" />
    <span id="status_form_info"></span>
</form>





{% endblock %}
