{% extends "idea_list.html" %}

{% block title %}Yeni Fikir Ekle - {% endblock %}

{% block idea %}
{% if idea_added %}
 Yeni fikir eklendi !
{% endif %}
<script type="text/javascript" src="/media/js/urlify.js"></script>
<form method="POST" action="">
<table>
{{ new_idea_form }}
</table>
<input type="submit" name="gonder" value="Gönder" />
<script type="text/javascript">
        document.getElementById("id_slug").onchange = function() { this._changed = true; };document.getElementById("id_title").onkeyup = function() { var e = document.getElementById("id_slug"); if(!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50);} };
</script>
</form>

{% endblock %}
