{% extends "idea_list.html" %}

{% block title %}Yeni Fikir Ekle - {% endblock %}

{% block extrahead %}
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
<style type="text/css" media="screen">@import url('/media/css/new/brainstorm.css');</style>
<script type="text/javascript" src="/media/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/js/brainstorm.js"></script>

{% endblock %}
{% block idea %}
{% if user.is_authenticated %}
{% if idea_added %}
 Yeni fikir eklendi !
{% endif %}
{% if form.errors %}
<p><font color="red">Fikir eklenemedi, lütfen aşağıdaki hataları düzeltin.</font></p>
{% endif %}
<form method="POST" action="" enctype="multipart/form-data">
<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd>{{ field.errors }}</dd>{% endif %}
{% endfor %}
</dl>
<input type="submit" value="Gönder" />
</form>
{% else %}
<p>Yeni fikir eklemek için oturum açmanız gerekiyor.</p>
{% endif %}
{% endblock %}
