{% extends "idea_base.html" %}
{% load library %}

{% block title %}Yeni Fikirler - {% endblock %}

{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/brainstorm.css');</style>
<script type="text/javascript" src="/media/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/js/brainstorm.js"></script>
{% endblock %}

{% block content %}
<div id="idea_topbar"><span id="idea_list_title">Günün popüler fikirleri</span>
    <span id="idea_submit"><a href="/yenifikir/ekle" title="Yeni Fikir Ekle"><img src="/media/img/new/ideas_submit.png" alt="submit idea" /></a></span>
</div>
{% block idea %}
{% for idea in ideas %}

<div class="idea_container">
    <div class="idea_left">
        <a href="#" title="" onclick="oyla({{ idea.id }}, '1'); return false;"><img src="/media/img/new/ideas_vote_up.png" /></a>
        <div class="idea_vote" id="vote{{ idea.id }}">{{ idea.vote_count }}</div>
        <a href="#" title="" onclick="oyla({{ idea.id }}, '0'); return false;"><img src="/media/img/new/ideas_vote_down.png" /></a>
    </div>
    <div class="idea_right">
        <h1><a href="/yenifikir/ayrinti/{{ idea.id }}"> {{ idea.title }}</a></h1>
        <div class="idea_info">
        <a href="{{ idea.submitter.get_profile.get_absolute_url }}" title="{{ idea.submitter }} kullanıcısının profiline git">{{ idea.submitter }}</a>
        tarafından {{ idea.submitted_date }} tarihinde
        <a href="/yenifikir/listele/kategori/{{ idea.category }}" title="{{ idea.category }}">{{ idea.category }}</a> kategorisine
        <a href="/yenifikir/listele/ilgili/{{ idea.related_to }}" title="{{ idea.related_to }}">{{ idea.related_to }}</a> ile ilgili olarak gönderildi. 
        <span class="idea_status">&nbsp;{{ idea.status }}&nbsp;</span>
        </div>
        <p>{{ idea.description }}</p>
        <div class="idea_comments"><img src="/media/img/new/icon_comment.png" /> <a href="{{ idea.get_absolute_url }}" title="Yorumlar">{{ idea.comment_count }} tane yorum yapıldı.</a></div>
    </div>
    <div style="clear:both"></div>
</div>
{% endfor %}
{% endblock %}
{% endblock %}
{% block rightcolumn %}

<div class="sidebarcolumn rightcolumn">
    <ul>
    <li><a href="/yenifikir" title="Yeni Fikirler">Yeni Fikirler Anasayfa</a></li>
    <li><a href="/yenifikir/ekle">Yeni Fikri Ekle</a></li>
{% if user.is_authenticated %}
    <li><a href="/yenifikir/listele/ekleyen/{{ user.username }}">Eklediğim Fikirler</a></li>
    <li><a href="/yenifikir/listele/favori/fikirler">Favorilerim</a></li>
{% endif %}
    <li><a href="/yenifikir/listele/populer/bugun">Bugünkü popüler fikirler</a></li>
    <li><a href="/yenifikir/listele/populer/buhafta" title="">Bu haftaki popüler fikirler</a></li>
    <li><a href="/yenifikir/listele/populer/buay" title="">Bu ayki popüler fikirler</a></li>
    <li><a href="/yenifikir/listele/populer/tumzamanlar" title="">Tüm zamanların popüler fikirleri</a></li>
    <li><a href="/yenifikir/listele/son/eklenen" title="">Son eklenenler</a></li>
</ul>
<br /><br />
Kategoriler
    <ul>
        {% for category in categories %}
        <li><a href="/yenifikir/listele/kategori/{{ category.name }}" title="{{ category.name }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
 
</div>



{% endblock %}
