{% load ideas i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block component_name %}{% trans "Brainstorm" %}{% endblock %} - {%
    block title %}{% endblock %}{% trans "Spread Pardus" %}</title>
<meta name="description" content="Pardus'un yaygınlığını artırmak ve bilgi paylaşımı için kurulan bir topluluk sitesi. Haberler, yardım belgeleri ve forum ve daha fazlasını içeriyor." />
<meta name="keywords" content="Pardus, Linux, kurulum, özgür yazılım, KDE, haber, forum" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="shortcut icon" href="/media/img/fav.png" />
<link rel="alternate" type="application/rss+xml" title="RSS - {% trans "New Ideas" %}" href="/yenifikir/rss/ideafeed/" />

<style type="text/css" media="screen">@import url('/media/css/new/base.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/ideas_base.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/jquery.tooltip.chilipack.css');</style>
<script type="text/javascript" src="/media/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.tooltip.chilipack.js"></script>
<script type="text/javascript" src="/media/js/menu_tooltip.js"></script>
{% block extrahead %}{% endblock %}
</head>
<body{% block extrabody %}{% endblock %}>
{% include "header.html" %}
<div id="{% block pagetype %}page{% endblock %}">
    {% include "menu.html" %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        {% block sidebar_top %}
        {% endblock %}
        <div class="sidebar_content">
            <h2>{% trans "User Box" %}</h2>
            {% if not user.is_authenticated %}
                <form method="post" action="/kullanici/giris/">
                    <input type="text" id="userbox_username" name="username" size="18" value="" maxlength="20" /><br />
                    <input type="password" id="userbox_password" name="password" size="18" value="" maxlength="30" /><br />
                    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                    <input type="image" src="/media/img/new/button_login.png" value="{% trans "Login" %}" />
                </form>
                <span class="loginlinks"><a href="/kullanici/kayit/">{% trans "Register" %}</a><br /><a class="sari"  href="/kullanici/kayip/">{% trans "Lost Password" %}</a></span>
            {% else %}
                <p>{% blocktrans with user.username as username %}Hello {{ username }}!{% endblocktrans %}</p>
                <p>{% blocktrans with request.user.get_profile.get_absolute_url as profile_url %}You can display your profile page by clicking <a href="{{ profile_url }}">here</a> or you can logout by clicking <a class="sari" href="/kullanici/cikis/">here</a>.{% endblocktrans %}</p>
            {% endif %}
        </div>
        <div class="sidebar_content">
            <h2>{% trans "Search" %}</h2>
            <form method="post" action="/gelismisarama/">
                <input type="text" name="term" size="20" /><br />
                <input type="hidden" name="search_in" value="3" />
                <input type="hidden" name="depth" value="0" />
                <input type="image" src="/media/img/new/button_search.png" value="{% trans "Search" %}" />
            </form>
        </div>
        {% block extrasidemenu %}
<div class="brainmenu">
    <h2>{% trans "New Ideas" %}</h2>
    <ul>
    <li><a href="/yenifikir/" title="{% trans "New Ideas" %}">{% trans "New Ideas Mainpage" %}</a></li>
    <li><a href="/yenifikir/ekle/">{% trans "Submit Idea" %}</a></li>
{% if user.is_authenticated %}
    <li><a href="/yenifikir/listele/ekleyen/{{ user.username }}/">{% trans "My Ideas" %}</a></li>
    <li><a href="/yenifikir/listele/favori/fikirler/">{% trans "Favuorite Ideas" %}</a></li>
{% endif %}
    <li><a href="/yenifikir/listele/populer/bugun/">{% trans "Today's popular ideas" %}</a></li>
    <li><a href="/yenifikir/listele/populer/buhafta/">{% trans "This week's popular ideas" %}</a></li>
    <li><a href="/yenifikir/listele/populer/buay/">{% trans "This month's popular ideas" %}</a></li>
    <li><a href="/yenifikir/listele/populer/tumzamanlar/">{% trans "Alltime popular ideas" %}</a></li>
    <li><a href="/yenifikir/listele/son/yorumlar/">{% trans "Recently commented ideas" %}</a></li>
    <li><a href="/yenifikir/listele/son/eklenen/">{% trans "Latest Ideas" %}</a></li>
    <li><a href="/yenifikir/listele/durum/gonullu_araniyor/">{% trans "Looking for Volunteers" %}</a></li>
    <li><a href="/yenifikir/listele/durum/cozum-surecinde/">{% trans "Ideas in progress" %}</a></li>
    <li><a href="/yenifikir/listele/durum/cozuldu/">{% trans "Resolved ideas" %}</a></li>
    <li><a href="/yenifikir/listele/durum/gecersiz/">{% trans "Invalid ideas" %}</a></li>
</ul>
<br />
    <h2>{% trans "Categories" %}</h2>
    <ul>
        {% category_list %}
    </ul>
</div>
        {% endblock %}
        <div class="sidebar_content">
            <a href="/cdgonder/"><img src="/media/img/new/cdgonder.png" alt="{% trans "shipit" %}" /></a>
        </div>
        {% block sidebar_bottom %}
        {% endblock %}
    </div>
    {% include "footer.html" %}
</div>
</body>
</html>
