{% extends "base.html" %}

{% block title %}{{ tag }} etiketli içerik - {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}
{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
{% block content %}
<div class="page_title">{{ tag }} etiketli içerik</div>
<div class="page_content">
    {% if news %}
        <div class="purple">
            <h1><span>Haberler ({{ news.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in news %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.text|striptags|truncatewords:"10" }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if howto %}
        <div class="purple">
            <h1><span>Nasıl ({{ howto.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in howto %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.text|striptags|truncatewords:"10" }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if packages %}
        <div class="orange">
            <h1><span>Paketler ({{ packages.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in packages %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if fs %}
        <div class="green">
            <h1><span>İlk adımlar ({{ fs.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in fs %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if games %}
        <div class="darkblue">
            <h1><span>Oyunlar ({{ games.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in games %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.sum|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

	{% if topic %}
        <div class="darkblue">
            <h1><span>Forum ({{ topic.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in topic %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}


    {% if flatpages %}
        <div class="green">
            <h1><span>Sabit sayfalar ({{ flatpages.count }} adet)</span></h1>
            <ul style="padding-left: 16px;" class="grey">
            {% for obj in flatpages %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - {{ obj.text|striptags|truncatewords:"10" }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}
