{% extends "shop_base.html" %}
{% block title %}Dükkan - Profil{% endblock %}
{% block content %}
{% if form.errors %}
<span class="error">Profil güncellenemedi, lütfen aşağıdaki hataları düzeltin</span>
<br />
{% endif %}
{% if profile_updated %}
<span style="color:green;">Profiliniz başarıyla güncellendi</span>
<br />
{% endif %}
<form method="post" action="">
    {% for field in form %}
    <div class="field_container">
        <div class="field_label">{{ field.label_tag }}</div>
        <div class="field_field">
            {{ field }}
            {% if field.errors %}{{ field.errors }}{% endif %}
        </div>
        <div class="help_text">
            {% if field.help_text %}{{ field.help_text }}{% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>
    {% endfor %}
    <div style="clear:left; text-align:center; padding-top:5px;"><input type="submit" value="Profili Düzenle" /></div>
</form>
{% endblock %}
