{% extends "base.html" %}
{% load library %}

{% block title %}{{ flatpage.title }} - {% endblock %}

{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}

{% block content %}
<div class="page_title">{{ flatpage.title }}</div>
<div class="page_content">
{{ flatpage.text|safe }}
</div>
{% endblock %}
{% block leftcolumn %}
<div class="sidebarcolumn leftcolumn">
    <div class="leftcolumn_content">
        <h2>İlgili sayfalar</h2>
        <ul>
            {% ifnotequal flatpage.url "/hakkinda/icerik-politikasi/" %}<li>
            <span class="bullet">»</span>
            <a href="/hakkinda/icerik-politikasi/">İçerik Politikası</a>
            </li>{% endifnotequal %}
            {% ifnotequal flatpage.url "/hakkinda/gizlilik-politikasi/" %}<li>
            <span class="bullet">»</span>
            <a href="/hakkinda/gizlilik-politikasi/">Gizlilik Politikası</a>
            </li>{% endifnotequal %}
            {% ifnotequal flatpage.url "/hakkinda/gezegen-kurallari/" %}<li>
            <span class="bullet">»</span>
            <a href="/hakkinda/gezegen-kurallari/">Gezegen Kuralları</a>
            </li>{% endifnotequal %}
            {% ifnotequal flatpage.url "/e-dergi/" %}<li>
            <span class="bullet">»</span>
            <a href="/e-dergi/">E-Dergi</a>
            </li>{% endifnotequal %}
            {% ifnotequal flatpage.url "/hakkinda/" %}<li>
            <span class="bullet">»</span>
            <a href="/hakkinda/">Hakkında</a>
            </li>{% endifnotequal %}
            {% ifnotequal flatpage.url "/bize_ulasmak_icin/" %}<li>
            <span class="bullet">»</span>
            <a href="/bize_ulasmak_icin/">Bize Ulaşın</a>
            </li>{% endifnotequal %}
            {% ifnotequal flatpage.url "/seminer/" %}<li>
            <span class="bullet">»</span>
            <a href="/seminer/">Seminer</a>
            </li>{% endifnotequal %}
            {% ifnotequal flatpage.url "/yoneticiler/" %}<li>
            <span class="bullet">»</span>
            <a href="/yoneticiler/">Yöneticiler</a>
            </li>{% endifnotequal %}
            <li>
            <span class="bullet">»</span>
            <a href="/kullanici/liste/">Kullanıcılarımız</a>
            </li>
            {% ifnotequal flatpage.url "/teknik/" %}<li>
            <span class="bullet">»</span>
            <a href="/teknik/">Teknik</a>
            </li>{% endifnotequal %}
        </ul>
    </div>
    <div class="leftcolumn_content">
        <h2>Etiketler</h2>
        <img src="/media/img/new/tag.png" alt="etiket" />{% for tag in flatpage.tags.all %} <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}
    </div>
</div>
{% endblock %}
