{% extends "base.html" %}
{% load library %}
{% block title %}Podcast - {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/object_lists.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/paginator.css');</style>
{% endblock %}
{% block content %}
    {% with episode_list.0 as episode %}
    <div class="news_container" style="background-image:url('/media/podcast/bg.png')">
        <div class="column">
            <div class="left_column">
                <img src="{{ episode.image.file.url }}" alt="{{ episode.title }}" />
            </div>
            <div class="right_column">
                <span>Özgürlükiçin Podcast</span>
                <div class="title"><a href="{{ episode.get_absolute_url }}">{{ episode.title }}</a></div>
                <div class="summary">{{ episode.sum|safe }}<br />
                <object type="application/x-shockwave-flash" data="/media/podcasts/player_mp3_maxi.swf" width="276" height="28">
                    <param name="movie" value="/media/podcasts/player_mp3_maxi.swf" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="FlashVars" value="mp3={{ episode.file_url_mp3 }}&width=276&height=28&loadingcolor=ffffff&skin=/media/podcasts/player_skin.jpg&bgcolor1=4ba4db&bgcolor2=2e87be&slidercolor1=ffffff&slidercolor2=cccccc&sliderovercolor=ffffff&buttoncolor=cecece&buttonovercolor=ffffff" />
                </object>
                </div>
                <div class="info"><span class="bold">{{ episode.update|date:"d" }} {{ episode.update|date:"F"|slice:":3" }}</span> {{ episode.update|date:"Y" }} <span class="bold">/</span> <a href="{{ episode.topic.get_latest_post_url }}"><span class="bold">{{ episode.topic.posts|add:"-1" }}</span> Yorum</a></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    {% endwith %}
    <div class="summary_container">
    {% for episode in episode_list %}
        <div class="column first">
            <img src="{{ episode.image.file.url }}" alt="{{ episode.image.get_alt_string }}" /><br />
            <img src="/media/img/new/image_bottom.png" alt="gölge" />
            <div class="info"><span class="bold">{{ episode.update|date:"d" }} {{ episode.update|date:"F"|slice:":3" }}</span> {{ episode.update|date:"Y" }} <span class="bold">/</span> <a href="{{ episode.topic.get_latest_post_url }}"><span class="bold">{{ episode.topic.posts|add:"-1" }}</span> Yorum</a></div>
        </div>
        <div class="column">
            <div class="title"><a href="{{ episode.get_absolute_url }}">{{ episode.title }}</a></div>
            <div class="summary">{{ episode.sum|safe|truncatewords_html:23 }}</div>
        </div>
        <div class="{% cycle columnspacer, %}"></div>
    {% endfor %}
    </div>
    {% if is_paginated %}<div class="paginator_block"><div class="paginator_pages">{% paginator %}</div><div class="paginator_description"><span class="bold">{{ pages }}</span> sayfada toplam <span class="bold">{{ hits }}</span> podcast bulunmaktadır.</div></div>{% endif %}
{% endblock %}
