{% extends "base.html" %}
{% load library %}

{% block title %}Pardus İndir - {% endblock %}

{% block extrahead %}
    <style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
    <style type="text/css" media="screen">@import url('/media/css/bug.css');</style>
{% endblock %}

{% block content %}
<div class="page_title">Pardus {% if version.number %}{{ version.number }} {#({{ version.codename }})#} {% endif %}indir</div>
<div class="page_content">
<h2>Kurulan CD</h2>
    <p>md5: <strong>{{ version.install_md5sum }}</strong><br />
    sha1sum: <strong>{{ version.install_sha1sum }}</strong></p>

    <div>
        <p>Yardım için, <a href="http://www.pardus.org.tr/belgeler/kurulum_nasil.html">kurulum kılavuzu</a>'na başvurabilir, ayrıca {{ version.number }} {{ version.codename }} sürümü özellikleri hakkında bilgi almak için <a href="/indir/{{ version.number }}/surum_notu/">sürüm notları</a> belgesini okuyabilirsiniz.</p>

        {% if install_mirrors %}
        <p>Pardus {{ version.number }} {{ version.codename }} Kurulan CD'sini indirmek için aşağıdaki linkleri kullanabilirsiniz.</p>

        <ul style="margin-top: -6px;">
            {% for mirror in install_mirrors %}
            <li><a href="{{ mirror.url }}">{{ mirror.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>Ayrıca {{ version.number }} {{ version.codename }} Kurulan CD'sini <a href="{{ version.install_torrent }}">torrent</a> adresini kullanarak P2P araçları ile de indirebilirsiniz. Pardus ile birlikte gelen KTorrent ile ilgili yazımızı okumak için <a href="/paket/ktorrent/">tıklayın</a>.</p>
    </div>
</div>
{% endblock %}
