{% load library %}
{% extends "base.html" %}

{% block title %}Pardus İndir - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block content %}
<div class="fs_title transparent_link">Pardus {% if version.number %}{{ version.number }} ({{ version.codename }}) {% endif %}indir</div>
<div class="page_content grey">
<h2>Kurulan CD</h2>
    <p>md5: <strong>{{ version.install_md5sum }}</strong><br />
    sha1sum: <strong>{{ version.install_sha1sum }}</strong></p>

    <div>
        <p>Yardım için, <a href="http://www.pardus.org.tr/belgeler/kurulum_nasil.html">kurulum kılavuzu</a>'na başvurabilir, ayrıca {{ version.number }} {{ version.codename }} sürümü özellikleri hakkında bilgi almak için <a href="/indir/{{ version.number }}/surum_notu/">sürüm notları</a> belgesini okuyabilirsiniz.</p>

        {% if install_mirrors %}
        <p>Pardus {{ version.number }} {{ version.codename }} Kurulan CD'sini indirmek için aşağıdaki linkleri kullanabilirsiniz.</p>

        <ul style="margin-top: -6px;">
            {% for mirror in install_mirrors %}
            <li><a href="{{ mirror.url }}">{{ mirror.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>Ayrıca {{ version.number }} {{ version.codename }} Kurulan CD'sini <a href="{{ version.install_torrent }}">torrent</a> adresini kullanarak P2P araçları ile de indirebilirsiniz. Pardus ile birlikte gelen KTorrent ile ilgili yazımızı okumak için <a href="/paket/ktorrent/">tıklayın</a>.</p>

        <p>Pardus'un eski sürümlerini kullanan kullanıcılar güncelleme yaparak {{ version.number }} {{ version.codename }} kullanmaya başlayabilirler, ayrıca kurulum yapmaları gerekmez.</p>
    </div>

<h3>Çalışan CD</h3>
    <p>md5: <strong>{{ version.live_md5sum }}</strong><br />
    sha1sum: <strong>{{ version.live_sha1sum }}</strong></p>

    <div>
        <p>Çalışan CD bilgisayara kurulmadan CD okuyucunuz üzerinden çalışan Pardus sürümüdür. Pardus'u bilgisayarınıza kurmak için Pardus {{ version.number }} {{ version.codename }} Kurulan'ı tercih etmelisiniz. Daha eski sürümlere ftp arşivinden ulaşabilirsiniz.</p>

        {% if live_mirrors %}
        <p>Pardus {{ version.number }} {{ version.codename }} Çalışan CD'sini indirmek için aşağıdaki linkleri kullanabilirsiniz.</p>

        <ul style="margin-top: -6px;">
            {% for mirror in live_mirrors %}
            <li><a href="{{ mirror.url }}">{{ mirror.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>Ayrıca {{ version.number }} {{ version.codename }} Çalışan CD'sini <a href="{{ version.live_torrent }}">torrent</a> adresini kullanarak P2P araçları ile de indirebilirsiniz.</p>
    </div>
</div>
{% endblock %}