{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change Lost Password" %} - {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}
{% block content %}
<br />
{% if user.is_authenticated %}
{% trans "You have already logged in." %} {% blocktrans %}Click <a href="/">here</a> to return to mainpage.{% endblocktrans %}
{% else %}
{% if error %}
    {% if invalid %}
    {% trans "Incorrect key. Please use the link that has been sent to your e-mail address!" %}
    {% endif %}
    {% if expired %}
    {% blocktrans %}Your key has expired, please click <a href="/kullanici/kayip">here</a> to request e-mail again and click the link within 24 hours.{% endblocktrans %}
    {% endif %}
{% else %}
<div style="text-align: left; padding-left: 50px;">
    {% if form.errors %}
    <span class="error">{% trans "There were some errors. Please fill the form again." %}<br /></span>
    {% endif %}
    <form method="post" action=".">
        {% for field in form %}
        <dl>
            <dt><label for="id_{{field.name}}">{{ field.label }}</label>{% if field.help_text %}<br /><span>{{ field.help_text }}</span>{% endif %}{% if field.errors %}<br /><span class="error">{{ field.errors }}</span>{% endif %}</dt>
            <dd>{{ field }}</dd>
        </dl>
        {% endfor %}
    <br />
    <div style="clear:left; text-align:center;"><input type="submit" value="{% trans "Send" %}" /></div>
    </form>
</div>
    {% endif %}
{% endif %}
{% endblock %}
