{% extends "base.html" %}

{% block title %}Kayıp Parola Değiştir - {% endblock %}

{% block header_menu %}
    <!-- Burası header kısmı -->
	{% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
	<!-- Burası üst menü kısmı -->
	{% include "ust_menu_ayrinti.html" %}

{% endblock %}

<br/>


{% block content %}
<br />

{% if user.is_authenticated %}
Zaten giriş yapmışsınız, <a href="/">buraya</a> tıklayarak ana sayfaya gidebilirsiniz.
{% else %}

{% if error %}
    {% if invalid %}
    Anahtar geçersiz, lütfen e-posta adresinize gönderilen bağlantıya tıkladığınızdan emin olun.
    {% endif %}

    {% if expired %}
    Anahtarın geçerlilik süresi geçmiş, lütfen <a href="/kullanici/kayip">buraya</a> tıklayıp yeniden istekte bulunarak e-postaya gönderilen bağlantıya 24 saat içerisinde tıklayın.
    {% endif %}
{% else %}

<div style="text-align: left; padding-left: 50px;">

    {% if form.errors %}
    <font color="red">İşlem tamamlanamadı<br /></font>
    {% endif %}

    <form method="POST" action=".">
        <dt>
        {% for field in form %}
        <dd>{{ field.label }} {{ field }} {% if field.help_text %} ({{ field.help_text }}){% endif %}</dd>
        {% if field.errors %}<dd class="error"><font color="red">{{ field.errors }}</font></dd>{% endif %}
        {% endfor %}
    <br />
    <center><input type="submit" value="Gönder" /></center>
    </form>
</div>
    {% endif %}
{% endif %}

{% endblock %}
