{% extends "base.html" %}

{% block title %}Kullanıcı Sayfası - {% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

<br/>
{% block content %}
<br />

Merhaba, <b>{{ user.username }}!</b>
<br />
Aramıza {{ user.date_joined }} tarihinde katılmışsınız. <br/><br />İstiyorsanız kullanıcı bilgilerinizi <a href="/kullanici/duzenle/">buraya</a> tıklayarak düzenleyebilirsiniz.
{% endblock %}
