{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}
{% block title %}{% trans "User Login" %} - {% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<div style="text-align: left; padding-left: 50px;">
{% if form.has_errors %}
    <p>{% trans "Username or password doesn't match, please try again." %}</p>
{% else %}
    <p>{% blocktrans %}You don't have enough permissions to access this page. If you are already registered, enter your username and password below. If you have forgotton your password click <a href="/kullanici/kayip/">here</a>. If you're not registered click <a href="/kullanici/kayit/">here</a> to register.{% endblocktrans %}</p>
{% endif %}
    <form method="post" action="/kullanici/giris/">
        <table><tbody>
        <tr>
            <td width="30%"><label for="id_username">{% trans "Username" %}</label></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td width="30%"><label for="id_password">{% trans "Password" %}</label></td>
            <td>{{ form.password }}</td>
        </tr>
        </tbody></table>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="{% trans "Login" %}" />
    </form>
</div>
{% else %}
{% blocktrans %}You're already logged in. Click <a href="/kullanici/cikis/">here</a> to logout{% endblocktrans %} <br />
{% endif %}
{% endblock %}
