{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Logout" %} - {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<script type="text/javascript">
    <!--
    setTimeout("window.location = '/';", 5000);
    //-->
</script>
{% blocktrans %}You have logged out. You're being redirected to mainpage now. Click <a href="/">here</a> if you don't want to wait.{% endblocktrans %} <br />
{% else %}
{% blocktrans %}You haven't logged in yet, click <a href="/kullanici/giris/">here</a> to login.{% endblocktrans %} <br />
{% endif %}
{% endblock %}
