{% extends "base.html" %}

{% block title %}Kayıp Parola - {% endblock %}

{% block content %}

<div style="text-align: left; padding-left: 50px;">

    {% if user.is_authenticated %}
    <br />
    Zaten giriş yapmışsınız, ana sayfaya gitmek için <a href="/">tıklayın</a>
    {% else %}

Lütfen kayıp parolanızı öğrenmek için kullanıc adınızı ve Email adresinizi giriniz. Parolanızı sıfırlamanız için size bir adres gönderilecektir, o adrese tıklayarak parolanızı değiştirin. <br /><br />

    {% if form.errors %}
    <font color="red">İşlem tamamlanamadı<br /></font>
    {% endif %}

    <form method="POST" action=".">
        <dt>
        {% for field in form %}
        <dd>{{ field.label }} {{ field }} {% if field.help_text %} ({{ field.help_text }}){% endif %}</dd>
        {% if field.errors %}<dd class="error"><font color="red">{{ field.errors }}</font></dd>{% endif %}
        {% endfor %}
    <br />
    <center><input type="submit" value="Gönder" /></center>
    </form>
    {% endif %}
</div>
{% endblock %}
