{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change Password" %} -  {% endblock %}
{% block extrahead %}
<style media="screen" type="text/css">@import url('/media/css/new/st.css');</style>
{% endblock %}
{% block content %}
<br />
{% if form.errors %}
<span class="error">{% trans "Password couldn't be changed, please correct the errors below" %}</span>
{% endif %}

{% if password_changed %}
<span style="color:green;">{% trans "Password was successfully changed." %}</span> <a href="/kullanici/profil/{{ request.user.username }}/">{% trans "Return to profile page" %}</a>
{% else %}
<form method="post" action=".">
    {% for field in form %}
    <dl>
        <dt><label for="id_{{ field.name }}">{{ field.label }}</label>{% if field.help_text %}<br /><span>{{ field.help_text }}</span>{% endif %}{% if field.errors %}<br /><span class="error">{{ field.errors }}</span>{% endif %}</dt>
        <dt>{{ field }}</dt>
    </dl>
    {% endfor %}
    <div style="clear:left; text-align:center;"><input type="submit" value="{%trans "Change Password" %}" /></div>
</form>
{% endif %}
{% endblock %}
