{% extends "base.html" %}
{% block title %}Profil Düzenle -  {% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/profile.css');</style>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ apikey }}" type="text/javascript"></script>
    <script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready( function($) {
        if (GBrowserIsCompatible()) {
            var map = new GMap2(document.getElementById("id_map"));
            map.enableScrollWheelZoom();

            // initialize user location
            var center = new GLatLng(39, 35);
            var heightLevel = 5;
            var lng = document.getElementById("id_longitude");
            var ltd = document.getElementById("id_latitude");

            if ((lng.value != 0) || (ltd.value != 0)) {
                center = new GLatLng(ltd.value, lng.value);
                heightLevel = 9;
            }
            map.setCenter(center, heightLevel);
            map.addControl(new GSmallMapControl());
            map.addControl(new GMapTypeControl());

            var marker = new GMarker(center, {draggable: true});

            GEvent.addListener(marker, "dragstart", function() {
                    map.closeInfoWindow();
                    });
            GEvent.addListener(marker, "dragend", function() {
                    marker.openInfoWindowHtml("Koordinatlar:<br />" + marker.getLatLng().lat().toFixed(6) + "<br />" + marker.getLatLng().lng().toFixed(6));
                    lng.value = marker.getLatLng().lng().toFixed(6);
                    ltd.value = marker.getLatLng().lat().toFixed(6);
                    });
            map.addOverlay(marker);
        }
    });
    //]]>
    </script>
{% endblock %}
{% block extrabody %} onload="load()" onunload="GUnload()"{% endblock %}
{% block content %}
{% if form.errors %}
<span class="error">Profil güncellenemedi, lütfen aşağıdaki hataları düzeltin</span>
<br />
{% endif %}

{% if profile_updated %}
<span style="color:green;">Profiliniz başarıyla güncellendi</span>
<br />
{% endif %}

<script language="JavaScript">
    function updateAvatar(obj) {
        document.avatarImage.src = "/media/" + obj[obj.selectedIndex].value;
    }
</script>
<form id="profileEditForm" method="post" action=".">
    {% for field in form %}
    <div class="field_container">
        <div class="field_label">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
        </div>
        <div class="field_field">
            {{ field }}
            {% if field.errors %}
                <br /><span class="error">{{ field.errors }}</span>
            {% endif %}
            {% ifequal field.name "avatar" %}
            <br /><img name="avatarImage" src="{{user.get_profile.avatar.file.url}}" alt="avatar" />
            <br />E-posta adresinize kayıtlı bir gravatarınız varsa bunun yerine kullanılacaktır. Gravatar hakkında bilgi için <a href="/haber/profillerinizi-senlendirin/">buraya</a> tıklayın.
            {% endifequal %}
        </div>
        <div class="help_text">{% if field.help_text %}{{ field.help_text }}{% endif %}</div>
        <div style="clear:both;"></div>
    </div>
    {% endfor %}
    <dl><dt><label for="id_map">Harita</label><dt><div id="id_map" class="googlemap"></div></dt></dl>
    <div style="clear:left; text-align:center; padding-top:5px;"><input type="submit" value="Düzenle" /></div>
    <div style="clear:left; text-align:center; margin-top: 6px;"><a href="/kullanici/parola-degistir/">Parolayı Değiştir</a></div>
</form>
{% endblock %}
