{% extends "base.html" %}

{% block title %}Kullanıcı: {{ infoname }} -{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

<br/>


{% block content %}

{% if info %}
<div id="user_profile">
    <h2>Kullanıcı profili: {{ info }}</h2>
    <div id="user_profile_left">
        <h3>Avatar</h3>
        <img src="/media/dijital/img/forum/avatar.jpg" />
    </div>
    <div id="user_profile_right">
    <ul>
        <li>Ad: {{ info.first_name }}</li>
        <li>Soyad: {{ info.last_name }}</li>
        <li>Kayıt Tarihi: {{ info.date_joined }}</li>
        {% if info.get_profile.show_email %}<li>E-posta: {{ info.email }}</li>{% endif %}
        <li>Web: {{ info.get_profile.homepage }}</li>
        <li>Şehir: {{ info.get_profile.get_city_display }}</li>
        <li>Anlık Haberleşme: {{ info.get_profile.im }}</li>
        <li>Doğum günü: {{ info.get_profile.birthday }}</li>
    </ul>
    </div>
</div>
{% else %}
Böyle bir kullanıcı yok! <br />
{% endif %}

{% endblock %}
