{% extends "base.html" %}

{% block title %}Kullanıcı profili: {{ info }} - {% endblock %}

{% block extrabody %} onload="load()" onunload="GUnload()"{% endblock %}

{% block extrahead %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ apikey }}" type="text/javascript"></script>
    <script type="text/javascript">
    //<![CDATA[
    function load() {
        if (GBrowserIsCompatible()) {
            var map = new GMap2(document.getElementById("id_map"));
            map.enableScrollWheelZoom();

            // initialize user location
            var center = new GLatLng(39, 35);
            var heightLevel = 5;
            var lng = {{ info.get_profile.longitude }};
            var ltd = {{ info.get_profile.latitude }};

            if ((lng != 0) || (ltd != 0)) {
                center = new GLatLng(ltd, lng);
                heightLevel = 9;
            }
            map.setCenter(center, heightLevel);

            var marker = new GMarker(center);
            map.addOverlay(marker);
        }
    }
    //]]>
    </script>
{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

<br/>


{% block content %}

{% if info %}
<div id="user_profile">
    <div id="user_profile_left">
        <h3>{{ info }}</h3>
        <img src="{{ info.get_profile.avatar.get_file_url }}" />
    </div>
    <div id="user_profile_right">
        <h3>Kişisel Bilgiler</h3>
        <ul>
            <li>Adı: {{ info.first_name }}</li>
            <li>Soyadı: {{ info.last_name }}</li>
            <li>Şehir: {{ info.get_profile.get_city_display }}</li>
            <li>Doğum Tarihi: {{ info.get_profile.birthday|date:"d F Y" }}</li>
            <li>Kayıt Tarihi: {{ info.date_joined|date:"d F Y" }}</li>
        </ul>
        <h3>İletişim Bilgileri</h3>
        <ul>
            {% if info.get_profile.show_email %}<li>E-posta: <a href="mailto:{{ info.email }}">{{ info.email }}</a></li>{% endif %}
            <li>Web: <a href="{{ info.get_profile.homepage }}" target="_blank">{{ info.get_profile.homepage }}</a></li>
            <li>Jabber: {{ info.get_profile.jabber }}</li>
            <li>MSN: {{ info.get_profile.msn }}</li>
            <li>ICQ: {{ info.get_profile.icq }}</li>
        </ul>
    </div>
</div>
<div id="id_map" class="googlemap"></div>
{% else %}
Böyle bir kullanıcı yok! <br />
{% endif %}

{% endblock %}
