{% extends "base.html" %}

{% block title %}Profil Düzenle -  {% endblock %}

{% block extrahead %}
{% endblock %}

{% block header_menu %}
    {% include "header.html" %}
{% endblock %}
<br/>
{% block ust_menu %}
    {% include "ust_menu_ayrinti.html" %}
{% endblock %}

<br/>

{% block content %}
<br />
{% if form.errors %}
<span class="error">Profil güncellenemedi, lütfen aşağıdaki hataları düzeltin</span>
{% endif %}

{% if profile_updated %}
<span style="color:green;">Profiliniz başarıyla güncellendi</span>
{% endif %}

<br />
<script language="JavaScript">
    function updateAvatar(obj) {
        document.avatarImage.src = "/media/" + obj[obj.selectedIndex].value;
    }
</script>
<form name="profileEditForm" method="POST" action=".">
    {% for field in form %}
    <dl>
        <dt><label for="id_{{ field.name }}">{{ field.label }}</label>{% if field.help_text %}<br /><span>{{ field.help_text }}</span>{% endif %}{% if field.errors %}<br /><span class="error">{{ field.errors }}</span>{% endif %}</dt>
        <dt>{{ field }}{% ifequal field.name "avatar" %}<br /><img name="avatarImage" src="{{user.get_profile.avatar.get_file_url}}" alt="avatar" />{% endifequal %}</dt>
    </dl>
    {% endfor %}
    <div style="clear:left; text-align:center;"><input type="submit" value="Düzenle" /></div>
    <div style="clear:left; text-align:center;"><a href="/kullanici/parola_degistir/">Parolayı Değiştir</a></div>
</form>

{% endblock %}
