{% extends "base.html" %}

{% block title %}Kayıt - {% endblock %}

{% block extrahead %}
<style type="text/css" media="screen">@import url('/media/css/new/st.css');</style>
{% endblock %}

{% block content %}
<div style="text-align: left">
    {% if form.errors %}
    <font color="red">Üyelik işleminiz tamamlanamadı, lütfen formu eksiksiz doldurunuz<br /></font>
    {% endif %}

    {% if user.is_authenticated %}
    <br />
    Zaten giriş yapmışsınız, ana sayfaya gitmek için <a href="/">tıklayın</a>
    {% else %}
    <form method="post" action=".">
        {% for field in form %}
            {% include "formfields.html" %}
        {% endfor %}
    <br />
    <a href="/hakkinda/icerik-politikasi/" target="_blank">Özgürlükİçin İçerik Politikası</a> 'nı okudum ve<br /><br />
    <center> <input type="button" value="Kabul Etmiyorum" onclick="javascript:window.location.href='/'" /> &nbsp; <input type="submit" value="Kabul Ediyorum" /> </center>
    </form>
    {% endif %}
</div>
{% endblock %}
