<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Forum - {% block title %}{% endblock %}Özgürlük için...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="shortcut icon" href="/media/img/favicon.png" />

<style type="text/css" media="screen">@import url('/media/css/forum.css');</style>
<style type="text/css" media="screen">@import url('/media/dijital/css/ozgurlukicin.css');</style>
<script type="text/javascript" src="/media/js/mootools.js"></script>
<script type="text/javascript" src="/media/js/custom.js"></script>
<script type="text/javascript" src="/media/js/pngfix.js"></script>
{% block extrahead %}{% endblock %}
</head>

<body>


{% include "forum/forum_header.html" %}
<div id="page">
	<div id="content">
        {% block content %}
        {% endblock %}
	
    </div>
</div>



</body>
</html>
