{% extends "base.html" %}

{% block title %}Forum - {% endblock %}

{% block pagetype %}page{% endblock %}

{% block section %}forum{% endblock %}
{% block section_logo %}<img src="/media/img/forum_header_logo.png">{% endblock %}

{% block content %}
<div class="note_question">This version of the <acronym title="Application Programming Interface">API</acronym> is not recommended anymore, it has been superseded by the UWA.
<br>While it might still work, we highly recommend to transition to the new Universal Widget API.
</div>
<div class="note_std">This version of the <acronym title="Application Programming Interface">API</acronym> is not recommended anymore, it has been superseded by the UWA.
<br>While it might still work, we highly recommend to transition to the new Universal Widget API.
</div>
<div class="note_attention">This version of the <acronym title="Application Programming Interface">API</acronym> is not recommended anymore, it has been superseded by the UWA.
<br>While it might still work, we highly recommend to transition to the new Universal Widget API.
</div>
<div class="note_warning">This version of the <acronym title="Application Programming Interface">API</acronym> is not recommended anymore, it has been superseded by the UWA.
<br>While it might still work, we highly recommend to transition to the new Universal Widget API.
</div>
<div class="note_tip">This version of the <acronym title="Application Programming Interface">API</acronym> is not recommended anymore, it has been superseded by the UWA.
<br>While it might still work, we highly recommend to transition to the new Universal Widget API.
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar_purple_title">asdkıaqhıuqw</div>
<div class="sidebar sidebar_purple">asdqwıuheıubqaefqaw</div>
<div class="sidebar_green_title">asdkıaqhıuqw</div>
<div class="sidebar sidebar_green">asdqwıuheıubqaefqaw</div>
<div class="sidebar_darkblue_title">asdkıaqhıuqw</div>
<div class="sidebar sidebar_darkblue">asdqwıuheıubqaefqaw</div>
<div class="sidebar_orange_title">asdkıaqhıuqw</div>
<div class="sidebar sidebar_orange">asdqwıuheıubqaefqaw</div>
<div class="sidebar_yellow_title">asdkıaqhıuqw</div>
<div class="sidebar sidebar_yellow">asdqwıuheıubqaefqaw</div>
<div class="sidebar_blue_title">asdkıaqhıuqw</div>
<div class="sidebar sidebar_blue">asdqwıuheıubqaefqaw</div>
{% endblock %}