    <div id="header">
        {% if not user.is_authenticated %}
        <form method="post" action="/kullanici/giris/">
            <div>
                <span style="float:left; padding:7px 0px 0px 10px;">
                    <input type="text" id="id_username" name="username" size="18" value="" maxlength="20" style="width:105px;height:22px;color:#6A91A6;border:none;" />
                    <input type="password" id="id_password" name="password" size="18" style="width:105px;height:22px;color:#6A91A6;border:none;margin-right: 0;" value="" maxlength="30" />
                </span>
                <span style="padding:0px float:right;">
                    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                    <input type="image" src="/media/dijital/img/forum/login.jpg" alt="Giriş" style="border: 0; margin: 0;" />
                </span>
                <span style="padding-left: 0px 0px 10px 10px;"><a href="/kullanici/kayit/" style="text-decoration:none">Kayıt ol</a> | <a href="/kullanici/kayip/" style="text-decoration:none">Kayıp parola</a></span>
            </div>
        </form>
        {% else %}
        <div>
            Hoşgeldin <b>{{ user.username }}</b>!<br />
            <a href="/kullanici/profil/{{ user.username }}/" style="text-decoration:none">Profil</a> | <a href="/kullanici/takip-edilen-konular/" style="text-decoration:none">Takip Edilen Konular</a> | <a href="/forum/son-iletiler/" style="text-decoration:none">Son İletiler</a> | <a href="/forum/tumunu-okunmus-say/?next={{ request.path }}" style="text-decoration:none">Tümünü Okunmuş Say</a> | <a class="sari" href="/kullanici/cikis/" style="text-decoration:none">Çıkış</a>
        </div>
        {% endif %}
    </div>
