<div id="tab4" style="margin:0px auto;">
    <div class="txtNrm" style="width:350px; position:absolute; left: 10px; top: 5px; height: 18px;">İçerik <a class="siyah" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons (by-nc-sa)</a> ile lisanslanmıştır.</div>
    <div style="width:220px; position:absolute; left: 680px; top: 5px; height: 18px;"><a href="#" class="siyah">Hakkında</a> | <a href="#" class="siyah">Takip et</a> | <a href="mailto:admin@ozgurlukicin.com" class="siyah">Hata raporla</a></div>
  </div>
