{% load library %}
{% extends "forum/forum_base.html" %}

{% block content %}

<div id="forum_address">
    <div id="current_topic"><a href="/">Ana Sayfa</a> &#62; <a href="/forum/">Forum</a></div>
</div>
<div id="forum_main_header">
    <div id="forum_icon">&nbsp;</div>
    <div id="forum_name">Forum</div>
    <div id="forum_topics">Konular</div>
    <div id="forum_posts">İletiler</div>
    <div id="forum_lastpost">Son İleti</div>
</div>
{% for category in categories %}

{% if category.hidden and not perms.forum.can_see_hidden_categories %}
{% else %}

<div id="category" {% if category.hidden %}style="opacity: 0.5;"{% endif %}>
    <div id="category_title">{{ category.name|escape }}</div>
        <div id="category_forums">
            {% for forum in category.forum_set.all %}
            {% if forum.hidden and not perms.forum.can_see_hidden_forums %}
            {% else %}
            <div id="category_forums_item" {% if forum.hidden %}style="opacity: 0.5;"{% endif %}>
            <div id="category_forums_item_icon"><img src="/media/dijital/img/forum/eski_konu.gif" /></div>
            <div id="category_forums_item_title"><a href="{{ forum.get_absolute_url }}">{{ forum.name|escape }}</a><br />{{ forum.description }}</div>
            <div id="category_forums_item_topics">{{ forum.topics }}</div>
            <div id="category_forums_item_posts">{{ forum.posts }}</div>
            <div id="category_forums_item_lastpost">{% if forum.forum_latest_post %}{{ forum.forum_latest_post.edited|date:"d F Y H:i" }}<br />{{ forum.forum_latest_post.author }} <a href="{{ forum.get_latest_post_url }}"><img src="/media/dijital/img/forum/msg_sim.gif" border="0"/></a>{% else %}Henüz ileti yok{% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endfor %}
<div id="post_bottom">
    <div id="post_pagination">{{ forums }} tartışma odasında bulunan {{ topics }} konuda, {{ usercount }} kayıtlı kullanıcı tarafından oluşturulmuş toplam {{ posts }} ileti bulunmaktadır.</div>
</div>
{% endblock %}
