{% load i18n %}
{% block section_logo %}<img src="/media/img/forum_header_logo.png">{% endblock %}

{% block content %}
<br/>{% blocktrans with topic.forum as forum and topic.title as topic %}Select the forum to move {{ forum }} &#62; {{ topic }}.{% endblocktrans %}<br />
<form action="" method="post">
<dl>
    <dt>{{ form.forum2.label_tag }}</dt>
    <dd>{{ form.forum2 }}</dd>
    {% if form.forum2.help_text %}<dd>{{ field.forum2.help_text }}</dd>{% endif %}
    {% if form.forum2.errors %}<dd class="myerrors">{{ field.forum2.errors }}</dd>{% endif %}
</dl>
<input type="submit" value="Move">
</form>
{% if error %}
    <strong>{{ error }}</strong>
{% endif %}
{% endblock %}
