{% extends "forum/forum_base.html" %}
{% load i18n %}
{% block extrahead %}
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/jquery.autocomplete.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/taghelper.js"></script>
<style type="text/css" media="screen">@import url('/media/css/new/autocomplete.css');</style>
<style type="text/css" media="screen">@import url('/media/css/new/formfield.css');</style>
{% endblock %}

{% block content %}
<div class="forum_address">
    <div class="current_topic"><a href="/">{% trans "Mainpage" %}</a> &#62; <a href="/forum/">{% trans "Forum" %}</a> &#62; <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> &#62; {% trans "New Topic" %}</div>
</div>
{% if form.errors %}
<font color="red">{% trans "Couldn't create topic, please fix the errors below" %}</font><br />
{% endif %}

{% if flood %}{% blocktrans %}Flood protection, please wait for {{ timeout }} seconds.{% endblocktrans %}{% endif %}
<form action="" method="post">
<div class="wrapper">
    <p style="padding-bottom:10px">{% blocktrans %}You can use our <a href="/yapistir/" target="_blank">paste tool</a> if you need to insert a long text or code.{% endblocktrans %}</p>
{% for field in form %}
    {% include "field.html" %}
{% endfor %}
</div>
<input type="submit" value="{% trans "Create Topic" %}">
</form>
{% endblock %}
