{% extends "forum/forum_base.html" %}
{% load i18n %}
{% block extrahead %}
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
{% endblock %}

{% block content %}
<div class="forum_address">
    <div class="current_topic"><a href="/">{% trans "Mainpage" %}</a> &#62; <a href="/forum/">{% trans "Forum" %}</a> &#62; <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> &#62; {% trans "New Topic" %}</div>
</div>
{% if form.errors %}
<font color="red">{% trans "Couldn't create topic, please fix the errors below" %}</font><br />
{% endif %}

{% if flood %}{% blocktrans %}Flood protection, please wait for {{ timeout }} seconds.{% endblocktrans %}{% endif %}
<form action="" method="post">
<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd class="myerrors" style="font-color: red">{{ field.errors }}</dd>{% endif %}
{% endfor %}
</dl>
<input type="submit" value="{% trans "Create Topic" %}">
</form>
{% endblock %}
