{% extends "forum/forum_base.html" %}
{% block extrahead %}
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if flood %}Flood koruması aktif, lütfen {{ timeout }} saniye bekleyin.{% endif %}
<form action="" method="POST">
<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
{% endfor %}
</dl>
<input type="submit" value="Konu Aç">
</form>
{% else %}
<p>Başlık açmak için oturum açmanız gerekiyor.</p>
{% endif %}
{% endblock %}
