{% extends "forum/forum_base.html" %}
{% load library i18n %}
{% load gravatar %}
{% block extrahead %}
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
<style type="text/css" media="screen">@import url('/media/css/new/forum_topic.css');</style>
{% endblock %}
{% block content %}
<div class="topbar">
    <div class="navigation"><a href="/">{% trans "Mainpage" %}</a> &#62; <a href="/forum/">{% trans "Forum" %}</a> &#62; <a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.name }}</a> &#62; <a href="{{ topic.get_absolute_url }}" class="bold">{{ topic.title }}</a></div>
</div>
{% if flood %}{% blocktrans %}Flood protection, please wait for {{ timeout }} seconds.{% endblocktrans %}{% endif %}
<form action="" method="post">
{% if quote_id %}<input type="hidden" name="quote_id" value="{{ quote_id }}" />{% endif %}
{% for field in form %}
    <dl>
        <dt><label for="{{ field.name }}">{{ field.label }}</label>{% if field.help_text %}<br /><span>{{ field.help_text }}</span>{% endif %}{% if field.errors %}<br /><span class="error">{{ field.errors }}</span>{% endif %}</dt>
        <dd>{{ field|safe }}</dd>
    </dl>
{% endfor %}
<input type="submit" value="{% trans "Save" %}" />
</form>

{% for post in posts %}

{% if post.hidden and not perms.forum.can_see_hidden_posts %}
{% else %}
<div class="post_base" {% if post.hidden %}style="opacity: 0.5;"{% endif %}>
    <div class="post_profile">
        <div class="author">{{ post.author }}</div>
        <div class="author_description">{{ post.author.get_profile.title }}</div>
        <div class="avatar"><img src="{% avatar_url post.author.email 100 "g" post.author.get_profile.avatar.file.url %}" alt="{% trans "avatar" %}" width="100" height="100"></div>
        {% if perms.forum.can_see_post_ip %}<div class="ip">({{ post.ip }})</div>{% endif %}
        <div class="register_date">{% trans "Register Date:" %}<br />{{ post.author.date_joined|date:"d-m-Y" }}</div>
        <div class="button"><a href="{{ post.author.get_profile.get_absolute_url }}"><img src="/media/img/new/button_info.png" alt="{% trans "info" %}" /></a></div>
    </div>
    <div class="post_message">
        <div class="post_message_top">
            <div class="post_message_top_icon">
                <a href="{{ post.get_absolute_url }}"><img src="/media/img/new/forum/go_to_msg.png" alt="{% trans "post address" %}" /></a>
            </div>
            <div class="post_message_top_date">
                {{ post.created|date:"d-m-Y H:i" }}
            </div>
        </div>
        <div class="post_message_content">
            <div class="post_message_text">{{ post.text|renderbbcode|safe }}</div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
{% block sidebartop %}{% endblock %}
