{% extends "forum/forum_base.html" %}
{% block extrahead %}
<script language="javascript" type="text/javascript" src="/media/js/tinymce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/tinymce/forum.js"></script>
{% endblock %}
{% block content %}
<div id="forum_address">
    <div id="current_topic"><a href="/">Ana Sayfa</a> &#62; <a href="/forum/">Forum</a> &#62; <a href="{{ forum.get_absolute_url }}">{{ forum.name|escape }}</a> &#62; <a href="{{ topic.get_absolute_url }}">{{ topic.title|escape }}</a></div>
</div>
{% if user.is_authenticated %}
{% if flood %}Flood koruması aktif, lütfen {{ timeout }} saniye bekleyin.{% endif %}
<form action="" method="POST">
<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
{% endfor %}
</dl>
<input type="submit" value="Yanıtla" />
</form>
{% else %}
<p>Yanıt göndermek için giriş yapmalısınız.</p>
{% endif %}

{% for post in posts %}

{% if post.hidden and not perms.forum.can_see_hidden_posts %}
{% else %}
<div id="post_base" {% if post.hidden %}style="opacity: 0.5;"{% endif %}>
    <div id="post_profile">
        <span style="font-weight: bold; font-size: 16px;">{{ post.author }}</span><br/><br/>
        <!-- post.author.avatar buraya gelecek --><img src="/media/dijital/img/forum/avatar.jpg" /><br/><br/>
        {% if perms.forum.can_see_post_ip %}({{ post.ip }})<br/><br/>{% endif %}
        Kayıt Tarihi: {{ post.author.date_joined|date:"d-m-Y" }}<br/>
        <!-- <a href="/kullanici/duzenle/"><img src="/media/dijital/img/forum/bilgi.jpg" border="0"</a><br/> -->
    </div>
    <div id="post_message">
        <div id="post_message_top">
            <div id="post_message_top_icon">
                <a href="{{ post.get_absolute_url }}"><img src="/media/dijital/img/forum/msg_sim.gif" border="0" /></a>
            </div>
            <div id="post_message_top_date">
                {{ post.created|date:"d-m-Y H:i" }}
            </div>
        </div>
        <div id="post_message_content">
            {{ post.text|linebreaksbr }}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}


{% endblock %}

{% block sidebartop %}{% endblock %}
