{% extends "forum/forum_base.html" %}

{% block title %}
{{topic.title|escape}} -
{% endblock %}

{% block content %}
<div id="forum_adres">
    <div id="current_topic"><a href="/">Ana Sayfa</a> &#62; <a href="/forum/">Forum</a> &#62; <a href="{{ forum.get_absolute_url }}">{{ forum.name|escape }}</a> &#62; {{ topic.title|escape }}</div>
</div>
<br />
<br />

<!-- buraya table hali gelcekmis -->

{% for post in posts %}
	
	

<!-- <div {% if post.hidden %}style="opacity: 0.5;"{% endif %}><a name="post{{ post.id }}"></a> -->
		
		
	

<table style="text-align: left; width: 900px;"
 border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="width: 189px;">
      <table style="text-align: left; width: 100%;"
 border="0" cellpadding="2" cellspacing="2">
        <tbody>
          <tr>
            <td>{{ post.author }}</td>
          </tr>
          <tr>
            <td>{{ post.author.avatar }}</td>
          </tr>
          <tr>
            <td>
			{% if perms.forum.can_see_post_ip %} ({{ post.ip }}){% endif %}</td>
          </tr>
          <tr>
            <td>Kayit Tarihi : {{ post.author.date_joined }}</td>
          </tr>
          <tr>
            <td><a href="/kullanici/duzenle/">Profil</a></td>
          </tr>
        </tbody>
      </table>
      </td>
      <td style="width: 703px;">
      <table style="text-align: left; width: 100%; height: 100%;"
 border="0" cellpadding="2" cellspacing="2">
        <tbody>
          <tr>
            <td style="text-align: left; width: 100%; height: 80%;">
			<span style="float: left;"><a href="{{ post.get_absolute_url }}">#{{ forloop.counter }}</a></span>
			{{ post.text|linebreaksbr }}
			<br/>
			{% ifnotequal post.edit_count 0 %}
				<br />Bu ileti {{ post.edit_count }} kez değiştirilmiş olup, son kez {{ post.edited }} tarihinde {{ post.last_edited_by }} tarafından değiştirilmiştir.<br />
			{% endifnotequal %}
	
			</td>
          </tr>
          <tr>
            <td style="text-align: left; width: 100%; height: 20%;">
				{% if forloop.first %}
        		Etiketler :{% for tag in topic.tags.all %}<a href="/etiket/{{tag.name}}/">{{tag.name}}</a> |{% endfor %}
				{%endif%}
				<br/><br/>
				<span style="float: right;">{{ post.created|date:"d-m-Y H:i" }}</span><br />
				
				{% if perms.forum.change_topic %}

					{% if not topic.locked %}<a href="{{ topic.get_edit_url }}">edit</a>{% endif %}

				{% else %}
					{% ifequal post.author.id request.user.id %}<a href="{{ topic.get_edit_url }}">edit</a>{% endifequal %}
				{% endif %}
				
				|
				{% if perms.forum.change_post %}
					<a href="{{ post.get_edit_url }}">edit</a>
		
				{% else %}
					{% ifequal post.author.id request.user.id %}<a href="{{ post.get_edit_url }}">edit</a>{% endifequal %}
		
				{% endif %}
				|
				

				{% if not topic.locked %}<a href="{{ post.get_quote_url }}">quote</a>{% endif %}



				{% if perms.forum.can_hide_post and not forloop.first and not post.hidden %}<a href="{{ post.get_hide_url }}">hide</a>{% endif %}
				{% if perms.forum.can_hide_post and not forloop.first and post.hidden %}<a href="{{ post.get_hide_url }}">unhide</a>{% endif %}

				{% if perms.forum.delete_post and not forloop.first %}<a href="{{ post.get_delete_url }}">delete</a>
		
			{% else %}
<!-- end forum_editor div -->
	

			{% ifequal post.author.id request.user.id %}
				{% ifequal post topic.topic_latest_post %}
					{% if not forloop.first %}<a href="{{ post.get_delete_url }}">delete</a>
					{% endif %}
			{% endifequal %}
			{% endifequal %}

		{% endif %}

	
				</td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
  </tbody>
</table>

<hr>


{% endfor %}


<hr>
    <div id="forum_editor" vertical-align="center">
        {% if perms.forum.can_merge_topic %}<a href="{{ topic.get_merge_url }}"><img src="/media/dijital/img/forum/merge.jpg" border="0" /></a> - {% endif %}
        {% if perms.forum.can_hide_topic and not topic.hidden %}<a href="{{ topic.get_hide_url }}">hide</a> - {% endif %}
        {% if perms.forum.can_hide_topic and topic.hidden %}<a href="{{ topic.get_hide_url }}">unhide</a> - {% endif %}
        {% if perms.forum.can_stick_topic and not topic.sticky %}<a href="{{ topic.get_stick_url }}">stick</a> - {% endif %}
        {% if perms.forum.can_stick_topic and topic.sticky %}<a href="{{ topic.get_stick_url }}">unstick</a> - {% endif %}
        {% if perms.forum.can_lock_topic and not topic.locked %}<a href="{{ topic.get_lock_url }}" border="0"><img src="/media/dijital/img/forum/lock.jpg" border="0" /></a>{% endif %}
        {% if perms.forum.can_lock_topic and topic.locked %}<a href="{{ topic.get_lock_url }}"><img src="/media/dijital/img/forum/unlock.jpg" border="0" /></a>{% endif %} - {% if not topic.locked %}<a href="{{ topic.get_reply_url }}"><img src="/media/dijital/img/forum/reply.gif" border="0" /></a>{% endif %}
</div>{% endblock %}

{% block sidebartop %}{% endblock %}
